[2013-06-05 13:41] fsouza opened #1 "client: implement RemoveContainer"
http://docs.docker.io/en/latest/api/docker_remote_api/#remove-a-container

[2013-06-05 13:42] fsouza opened #2 "client: implement CommitContainer"
http://docs.docker.io/en/latest/api/docker_remote_api/#create-a-new-image-from-a-container-s-changes

[2013-06-05 13:43] fsouza opened #3 "client: implement RemoveImage"
http://docs.docker.io/en/latest/api/docker_remote_api/#remove-an-image

[2013-06-05 13:43] fsouza opened #4 "client: implement CreateImage"
http://docs.docker.io/en/latest/api/docker_remote_api/#create-an-image

[2013-06-05 13:51] fsouza opened #5 "client: implement ExportContainer"
http://docs.docker.io/en/latest/api/docker_remote_api/#export-a-container

[2013-06-05 13:51] fsouza opened #6 "client: implement StartContainer"
http://docs.docker.io/en/latest/api/docker_remote_api/#start-a-container

[2013-06-05 13:51] fsouza opened #7 "client: implement StopContainer"
http://docs.docker.io/en/latest/api/docker_remote_api/#stop-a-contaier

[2013-06-05 13:51] fsouza opened #8 "client: implement RestartContainer"
http://docs.docker.io/en/latest/api/docker_remote_api/#restart-a-container

[2013-06-05 13:52] fsouza opened #9 "client: implement AttachToContainer"
http://docs.docker.io/en/latest/api/docker_remote_api/#attach-to-a-container

[2013-06-05 13:52] fsouza opened #10 "client: implement WaitContainer"
http://docs.docker.io/en/latest/api/docker_remote_api/#wait-a-container

[2013-06-05 13:52] fsouza opened #11 "client: implement ListImages"
http://docs.docker.io/en/latest/api/docker_remote_api/#list-images

[2013-06-05 13:53] fsouza opened #12 "client: implement InsertFile"
http://docs.docker.io/en/latest/api/docker_remote_api/#insert-a-file-in-a-image

[2013-06-05 13:54] fsouza opened #13 "client: implement InspectImage"
http://docs.docker.io/en/latest/api/docker_remote_api/#inspect-an-image

[2013-06-05 13:54] fsouza opened #14 "client: implement ImageHistory"
http://docs.docker.io/en/latest/api/docker_remote_api/#get-the-history-of-an-image

[2013-06-05 13:55] fsouza opened #15 "client: implement PushImage"
http://docs.docker.io/en/latest/api/docker_remote_api/#push-an-image-on-the-registry

[2013-06-05 13:55] fsouza opened #16 "client: implement TagImage"
http://docs.docker.io/en/latest/api/docker_remote_api/#tag-an-image-into-a-repository

[2013-06-05 13:56] fsouza opened #17 "client: implement SearchImages"
http://docs.docker.io/en/latest/api/docker_remote_api/#search-images

[2013-06-06 00:32] #1 closed, assigned to nobody

[2013-06-06 00:32] #6 closed, assigned to nobody

[2013-06-06 00:32] #7 closed, assigned to nobody

[2013-06-06 00:32] #8 closed, assigned to nobody

[2013-06-06 00:41] #10 closed, assigned to nobody

[2013-06-10 14:15] fsouza opened #18 "client: implement BuildImage"
http://docs.docker.io/en/latest/api/docker_remote_api_v1.8/#build-an-image-from-dockerfile-via-stdin.

[2013-06-10 14:16] fsouza opened #19 "client: implement AuthCredentials"
http://docs.docker.io/en/latest/api/docker_remote_api/#get-default-username-and-email

[2013-06-10 14:17] fsouza opened #20 "client: implement SetAuthConfig"
http://docs.docker.io/en/latest/api/docker_remote_api/#set-auth-configuration

[2013-06-10 14:17] fsouza opened #21 "client: implement Info"
http://docs.docker.io/en/latest/api/docker_remote_api/#set-auth-configuration

[2013-06-10 14:17] fsouza opened #22 "client: implement Version"
http://docs.docker.io/en/latest/api/docker_remote_api/#show-the-docker-version-information

[2013-06-10 17:14] #2 closed, assigned to nobody

[2013-06-10 17:54] #11 closed, assigned to nobody

[2013-06-10 18:16] #3 closed, assigned to nobody

[2013-06-10 19:00] #13 closed, assigned to nobody

[2013-06-10 20:35] #15 closed, assigned to nobody

[2013-06-11 13:51] #4 closed, assigned to nobody

[2013-06-11 13:51] fsouza opened #23 "client: implement PullImage"
http://docs.docker.io/en/latest/api/docker_remote_api/#create-an-image

See #4.

[2013-06-11 13:52] fsouza opened #24 "client: implement ImportImage"
http://docs.docker.io/en/latest/api/docker_remote_api/#create-an-image

See #4.

[2013-06-11 14:18] #23 closed, assigned to nobody

[2013-06-14 12:31] #19 closed, assigned to nobody

[2013-06-14 13:56] #9 closed, assigned to nobody

[2013-06-14 17:58] #22 closed, assigned to nobody

[2013-06-14 18:26] #21 closed, assigned to nobody

[2013-08-16 13:29] fsouza opened #28 "links to docker api are broken"
As described in globocom/docker-cluster#9.

[2013-08-16 13:40] #28 closed, assigned to nobody

[2013-08-30 13:58] #24 closed, assigned to flavianmissi

[2013-09-04 18:38] #5 closed, assigned to flavianmissi

[2013-09-11 19:19] flavianmissi opened #29 "testing: helper methods to insert/remove images and containers"

[2013-10-15 19:43] fsouza opened #31 "support API v1.5"

[2013-10-15 20:19] #31 closed, assigned to nobody

[2013-11-07 12:54] fsouza opened #32 "container: use websocket in AttachToContainer"
I wasn't able to find the documentation for the endpoint, but it exists :)

[2013-12-03 20:33] buth opened #39 "error when using a socket connection"
using a unix socket to hit the API, i continuously get errors like this:

[code]

does the client currently fully support these connections? it looks as is the generated URL is incorrect.

thanks!

[2013-12-08 08:17] thequux opened #41 "AttachToContainer cannot efficiently control stdin programatically"
Perhaps AttachToContainerOptions.InputFile should be a io.Reader and be named InputStream instead.

[2013-12-11 19:56] #39 closed, assigned to nobody

[2013-12-18 04:23] buth opened #44 "docker.APIInfo error"
I'm getting errors building the current master against Docker's master.

[code]

I'm wondering if Docker has dropped the `APIInfo` type. Has anyone else seen this?

[2014-01-05 04:57] #44 closed, assigned to nobody

[2014-01-05 23:00] #41 closed, assigned to nobody

[2014-01-06 20:46] andrewsmedina opened #56 "create a test for #53."
Add a test for pull request #53.

[2014-01-16 00:29] andrewsmedina opened #57 "remove the dotcloud/docker dependency"

[2014-01-22 18:31] wiliamsouza opened #60 "Weird behaviour on ListImages function"
I can't realize what is wrong with the example bellow:

https://github.com/wiliamsouza/go-dockerclient#example

It return:

ID: 8dbd9e392a964056420e5d58ca5cc376ef18e2de93b5cc90e868a1bbc8318c1c
Virtual Size: 128029199
RepoTag: []
Repository:
Tag:
Created: 1365714795
Size: 128029199
ID: b750fe79269d2ec9a3c593ef05b4332b1d1a02a62b4accb2c21d589ff2f5f2dc
Virtual Size: 175307035
RepoTag: []
Repository:
T

[2014-01-23 15:47] xh3b4sd opened #62 "broken drone.io and travis.ci builds in master"
As the title says. The builds seems to be broken according to embedded README images. I would like to use the go client for docker, but it doesn't feel good if it seems like to be broken.

[2014-01-23 19:14] #57 closed, assigned to fsouza

[2014-01-23 19:32] #62 closed, assigned to nobody

[2014-01-24 15:27] #60 closed, assigned to nobody

[2014-01-27 07:59] farcaller opened #65 "Implement ImageChanges"
... or whatever for GET /containers/(id)/changes API

[2014-01-27 23:28] #65 closed, assigned to nobody

[2014-01-29 13:25] farcaller opened #66 "client: Implement Events()"
`Events(since uint64)` should return a channel (or take a channel and send data to it?) that will get /events updates. It must also gracefully handle network interruptions (reconnect with last good `time` value).

[2014-01-29 17:20] farcaller opened #67 "client: RemoveContainer should have an option to remove volumes"
RemoveContainer should have an argument, specifying if it should remove volumes (v=0/v=1)

[2014-01-29 19:20] #67 closed, assigned to nobody

[2014-02-19 03:05] cheneydeng opened #69 "client:implement buildimage with a dockerfile"
the docker API supports builds a image from a dockerfile configuration,and i think go-dockerclient needs to implement it too,I'm working on this feature now.

ping @fsouza

[2014-02-21 03:54] #69 closed, assigned to nobody

[2014-03-07 23:30] pmorie opened #78 "Commiting containers results in unset Cmd"
I've found that committing containers with the client produces an image without a CMD.  I've created an isolated example here to recreate:

https://github.com/pmorie/go-dockerclient-commit

[2014-03-17 04:28] libin-hdk opened #82 "InspectContainer dose not contain PortBindings info"
My code is here:

[code]

[2014-03-17 19:06] #82 closed, assigned to nobody

[2014-04-04 22:17] DimShadoWWW opened #85 "ListContainers fails listing all containers"
ListContainers with "docker.ListContainersOptions{All: true}" returns an empty list
while "docker.ListContainersOptions{All: false}" or "docker.ListContainersOptions{}"
returns the list of containers running

I'm using docker version 0.9.0.

my code:

[code]

[2014-04-16 14:52] SnowRipple opened #87 "Newbie question: Permission denied when trying to connect to docker"
Hi guys!

   From start I apologize for posting it here but I can see no mailling list or google group associated with go-dockerclient.

 So when running:

endpoint := "unix:///var/run/docker.sock"
  client, err := docker.NewClient(endpoint)

I am receiving

dial unix /var/run/docker.sock: permission denied

Is there a way to fix it from within the dockerclient, or should I modify my local docker

[2014-04-17 12:11] #87 closed, assigned to nobody

[2014-04-19 19:39] rafecolton opened #90 "Allow tcp docker endpoints"
I think this line is the culprit: https://github.com/fsouza/go-dockerclient/blob/master/client.go#L317

Maybe something like this would fix it?

[code]

[2014-04-21 13:33] #90 closed, assigned to nobody

[2014-04-25 21:21] #78 closed, assigned to nobody

[2014-05-03 22:21] #66 closed, assigned to nobody

[2014-05-09 19:12] #16 closed, assigned to nobody

[2014-05-09 20:27] #18 closed, assigned to nobody

[2014-05-25 17:34] progrium opened #101 "event listener sometimes doesn't work"
Working on logspout, I found that every other time it runs, it doesn't consume events. I couldn't figure out any other variable. Literally, every other time I'd run the program that just listens for events, it would show events, the other time it would not.

Here is the test program I made to try and reproduce:
https://github.com/progrium/logspout/blob/master/utils/docker-listener.go

Running this

[2014-06-02 16:31] gravis opened #105 "How to use the testing server?"
I'm a bit lost with https://github.com/fsouza/go-dockerclient/blob/master/testing/server.go
I though I would be able to use it as a fake local server, but most of the funcs are private. Therefore, if I "wait" for a container in my tests, I don't have anything to change the running state to `false`, and exit of the for loop here:
https://github.com/fsouza/go-dockerclient/blob/master/testing/server.

[2014-06-06 14:23] ncdc opened #106 "Add support for multiple API versions"
Docker API version 1.12 modifies the JSON format of multiple entities (Image and Container to name 2 crucial ones) but retains the prior format if you specify an older version in the path (e.g. /v1.11/images vs /images). The change landed with this commit: https://github.com/dotcloud/docker/commit/68fb7f4b744bf71206898d32fe203556a6261e5d.

When you retrieve an Image, for example, versions less tha

[2014-06-09 20:25] #106 closed, assigned to nobody

[2014-06-15 10:22] ghost opened #109 "Pipe data to CreateContainer unsupported?"
Is it possible to pipe data when creating a container? Using Docker's cli it's possible to via: `cat somefile | sudo docker run -i -a stdin mybuilder dobuild`

Can I somehow archive this using the go-dockerclient lib?

Thanks

[2014-06-15 18:23] #109 closed, assigned to nobody

[2014-06-17 11:38] whiskeysierra opened #110 "Inspect container fails with Docker 1.0.0"
As of version 1.0.0 [docker returns ints as floats](https://github.com/dotcloud/docker/issues/6246) which breaks the json unmarshalling process with:

[code]

[2014-06-17 13:59] #110 closed, assigned to nobody

[2014-06-24 13:09] wdalmut opened #112 "BuildImage 404 error"
Hi i am trying to create images using `Dockerfile`, here is the little script:

[code]

The command reply with a 404 error code...

[code]

what i am missing?

[2014-06-24 13:50] #112 closed, assigned to nobody

[2014-06-27 18:41] #29 closed, assigned to nobody

[2014-07-08 12:42] gravis opened #114 "AttachContainer sometimes hangs"
Hi,

I'm fighting with a nasty bug. Sometimes, but not always (a bit hard to reproduce), AttachContainer will hangs, eating 100% of CPU.
I have profiled my program and ended up with this (profiled during the hang):

[code]

I'm using the latest go-dockerclient (master / e21b2a4562b3ec0731c54e59ab56c41c79067e12), and having the same problem with older versions (tried until 992e6abef8f797f41e1d7c903

[2014-07-09 20:57] #85 closed, assigned to nobody

[2014-07-11 01:34] nathanleclaire opened #115 "AttachContainer and Logs crashing, panicking, etc."
Hm, I am trying to debug this and can't figure out if I am doing something wrong or if there's an issue with the library (great job btw).  After extensive testing I'm starting to suspect the library as `StdCopy` is acting up quite a bit in every different thing I try.

My end goal is to be able to interleave the output of multiple containers that I am orchestrating using this client, with a prefix

[2014-07-12 19:40] #115 closed, assigned to nobody

[2014-07-14 19:32] gravis opened #116 "Possible open connection leaking"
Hi,

I wonder if we shouldn't add a `Close()` defer for https://github.com/fsouza/go-dockerclient/blob/master/client.go#L253
ie:

[code]

If `clientconn.Do(req)` returns an error, the dial is left open (I'm not 100% sure).

What do you think?

[2014-07-14 20:03] #116 closed, assigned to nobody

[2014-07-20 22:42] fgrehm opened #117 "How to properly mimic `docker attach -t -i`?"
Hey there,

Sorry if this has been asked before or if this is the wrong channel to ask questions but I'm in the process of rewriting the CLI of one of my projects to Go using go-dockerclient to interact with Docker's API and have hit some weird behavior when implementing some functionality similar to `docker attach -t -i`

I'm relatively new to Go and Docker's API, but tried many different configu

[2014-07-23 21:00] monnand opened #119 "Use uint64 for memory?"
Hi,

I noticed that Memory is represented as float64 from 44038c1538e4e72b1afe6bbaeb1401b6197017fc. This change made us hesitate to update to the latest version of go-dockerlcient. (See GoogleCloudPlatform/kubernetes#589 )

It may not be a good idea to use float64 to represent memory because there will be lots of [precision issues](http://play.golang.org/p/Y-6jIfeG7T) when there's large amount of

[2014-07-24 00:13] #119 closed, assigned to nobody

[2014-07-28 19:14] #117 closed, assigned to nobody

[2014-07-28 21:04] kidoman opened #123 "Using from within AppEngine?"
Any thoughts on this?

My use case is: connect to a TLS authenticated Docker host over the internet from a AppEngine instance

Since AppEngine supports the sockets service, I was wondering if we could add support for passing in a raw net.Conn (or something higher up) which would permit such usage

[2014-07-29 04:30] #101 closed, assigned to nobody

[2014-07-29 04:33] fsouza opened #124 "container: implement Top"
https://docs.docker.com/reference/api/docker_remote_api_v1.13/#list-processes-running-inside-a-container

[2014-07-29 09:50] kidoman opened #125 "Compatibility with AppEngine"
Since AppEngine doesn't allow the usage of the `unsafe` package, the `uname_linux.go` file ends up causing a compilation error.

Adding a build tag like:

[code]

solves the problem. But a default implementation of uname() has to be provided somehow.

[2014-07-29 14:52] fsouza opened #126 "client: AttachToContainer does not work with proxies"
Currently, we dial directly to the Docker API server using net.Dial, which bypasses the proxy configured for usage in the HTTP client's transport.

Actually, AttachToContainer should work more near to the provided Client. It also doesn't work on App Engine (see #123).

[2014-07-29 21:24] fsouza opened #128 "env: add tests"
The current env code has been imported and adapted from docker, but right now it's untested.

[2014-07-30 00:12] #128 closed, assigned to fsouza

[2014-07-30 06:45] CMGS opened #129 "json decode memory failed"
the docker api will return memory config like "Memory": 6.5536e+07 in json. and it will make unmarshal failed because config.Memory is uint64 type.

example:
`json: cannot unmarshal number 5.36870912e+09 into Go value of type uint64`

[2014-07-30 14:57] #129 closed, assigned to nobody

[2014-07-30 23:27] zealws opened #132 "Config.Volumes Usage"
I'm trying to create a new container using the [CreateContainer method](http://godoc.org/github.com/fsouza/go-dockerclient#Client.CreateContainer).

I want the container to mount a directory on the host inside the container, just like using the `docker run -v /xyz:/abc` format.

I've been looking at the [Config type](http://godoc.org/github.com/fsouza/go-dockerclient#Config)'s Volumes field and ca

[2014-07-31 05:40] #132 closed, assigned to nobody

[2014-08-01 01:20] #125 closed, assigned to nobody

[2014-08-02 20:36] Soulou opened #134 "continuous EOF when following logs"
I've a question concerning the use of the `Logs` method.

I'm looking at streaming the logs of containers using go-dockerclient.

Currently, I'm doing something like this.

[code]

Then I'd like to encapsulate the output in channels line per line:

[code]

The issue I'm encountering is that the `ReadString` method is never blocking, it returns `EOF` when there is nothing to read. Is it because of

[2014-08-06 05:15] CMGS opened #135 "hijack failed when connect a http address with default port"
I use nginx as a proxy in front of docker and bind 80 port. When I use client to attach a container it with nginx address like "tcp://127.0.0.1" it will fail in hijack process because no port specified.

on other hand, if i specify port like "tcp://127.0.0.1:80", it would block some methods like list container because those methods use httpclient to do it.

[2014-08-06 20:53] Soulou opened #136 "Panic when docker stop and logs are streamed"
Hello,

I'm developping something which should resist a restart of docker (ie: upgrade), but the client is panicing sometimes when the daemon os restarted.

Here is the trace:

panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x40 pc=0x572eac]

goroutine 39 [running]:
runtime.panic(0x6e08e0, 0xad2ee8)
        /usr/lib/go/src/pkg/runtime/panic.c:266

[2014-08-07 00:39] #135 closed, assigned to nobody

[2014-08-09 01:24] bacongobbler opened #137 "names have a slash prepended"
I have a case where every time I print out a name of a container, it adds a slash to the beginning of said name: https://gist.github.com/bacongobbler/0de4e9eb68c83f66ecc9

When running this example, I get the following back (from https://gist.github.com/bacongobbler/0de4e9eb68c83f66ecc9#file-gistfile1-txt-L54):

[code]

I'm running from master, and here's my docker version info:

[code]

Is this a

[2014-08-13 01:29] #134 closed, assigned to nobody

[2014-08-19 15:35] kimh opened #138 "HTTP status code 304 is ignored inside StopContainer()"
According to [Remote API doc](https://docs.docker.com/reference/api/docker_remote_api_v1.13/#21-containers), docker daemon returns HTTP status code 304 when trying to stop not-running container.

However, this status code is [ignored](https://github.com/fsouza/go-dockerclient/blob/00f3540db4ce37cfb3f12e0947eb17fe3d9b59c0/container.go#L357). Are there any reasons why ignoring this?

[2014-08-20 01:43] #138 closed, assigned to nobody

[2014-08-20 07:10] dqminh opened #139 "PullImage output stream's progress bar is displayed incorrectly in terminal"
I'm using the client to execute `POST /images/create` and stream back the output into stdout. The client's output stream looks like this:

[code]

I think that the output requires proper escape code for the progress bar to be displayed correctly in terminal. For example, docker's client uses https://github.com/docker/docker/blob/77237be0e23dfaba4d4d97a525c3ecc7fb819042/utils/jsonmessage.go to pars

[2014-08-28 14:32] #139 closed, assigned to nobody

[2014-09-02 10:38] acroca opened #144 "Can't attach stdin to a container"
I'm working on a go app that needs to run containers and send them some Stdin from a string. I can't manage to make it work

[code]
I'm expecting to see `"Test"` in the, but it's empty.

[2014-09-06 22:23] zachlatta opened #147 "Details links in docs are out of date."
![recorded](https://cloud.githubusercontent.com/assets/992248/4176771/60b962a8-3614-11e4-96a5-e277ed2ce256.gif)

[2014-09-07 01:06] #147 closed, assigned to nobody

[2014-09-10 21:34] sqs opened #151 "Enable Sourcegraph"
I'd like to use [Sourcegraph code search and code review](https://sourcegraph.com) with go-dockerclient. A project maintainer needs to enable it to set up a webhook so the code is up-to-date there.

Could you please enable go-dockerclient on @Sourcegraph by going to https://sourcegraph.com/github.com/fsouza/go-dockerclient and clicking on Settings? (It should only take 15 seconds.)

Thank you!

[2014-09-10 23:06] #151 closed, assigned to nobody

[2014-09-15 14:05] #14 closed, assigned to nobody

[2014-09-19 18:33] #137 closed, assigned to nobody

[2014-09-20 15:30] drnic opened #155 "How to specify Volumes (map[string]struct{})?"
Sorry for the babygopher question, but cannot find an example in the test cases or docs or google.

containers.go `Config` defines `Volumes  map[string]struct{}`.

How do I pass in the equivalent to `docker run -v /host/path:/inner`?

`struct{}` seems to be the equivalent of "no value" - so I'm not sure how to pass in `{"/host/path": "/inner"}`

Ideas?

[2014-09-20 16:12] #155 closed, assigned to nobody

[2014-09-25 02:59] #124 closed, assigned to nobody

[2014-10-07 02:42] fgrehm opened #160 "Support for `docker exec` in the works?"
Hey @fsouza, are you by any chance working on support for Docker's 1.3 `docker exec` on some local branch? I've done some initial work on it and I can create an initial PR to kick off the discussion around it if you haven't started working on that :-)

[2014-10-08 04:31] rykov opened #161 "Allow cancellation of AttachToContainer and Logs requests"
Currently, I found no way to stop `AttachToContainer` or `Logs` (with Follow:true) requests from the client.  It would be great to have a way to close these connections without quitting the client-side process.

[2014-10-11 17:03] carlanton opened #163 "EventListener stops receiving events after restart of Docker daemon"
Hi,

I've a service with an event listener for API events, something like this:

[code]

Initially everything works as expected, but if I restart the Docker daemon, I stop receiving events. I need to restart my service (or maybe setup a new client) to continue to receive events.
The client is connected to Docker via /var/run/docker.sock.

What is the best way to handle this?

Thanks!

[2014-10-13 18:33] #160 closed, assigned to nobody

[2014-10-17 20:13] josephschorr opened #166 "Malformed response from Docker daemon"
Just upgraded to Docker v1.3. When I try to issue a call to the Docker daemon via the client, the daemon responds with a malformed response:

[code]

Response:

[code]

I suspect this is due to the new TLS requirement for the Docker daemon, but I'm unsure how to configure the client to use https.

[2014-10-20 18:59] #166 closed, assigned to nobody

[2014-10-23 17:40] verdverm opened #170 "Go get fails"
Current master branch fails to compile / go get

two functions end without return statements

client.go:431
stdcopy.go:21

[2014-10-23 18:20] #170 closed, assigned to nobody

[2014-10-26 15:38] md5 opened #173 "Unable to connect with TLS"
I attempted to use the `HTTPClient` field to configure TLS support, but was unsuccessful. I get the following error:

[code]

I believe the problem is here: https://github.com/fsouza/go-dockerclient/blob/master/client.go#L521-L523

Even though I'm setting a `Transport` on my `HTTPClient`, it's still trying to use HTTP instead of `HTTPS` because it doesn't know in those lines that my "tcp" connecti

[2014-10-27 21:23] #173 closed, assigned to nobody

[2014-10-29 22:46] fgrehm opened #178 "Remove docker/docker dependency - take 2"
GH-159 introduced a dependency on both `github.com/docker/docker/pkg/archive` and `github.com/docker/docker/pkg/fileutils` (https://github.com/fsouza/go-dockerclient/commit/e1bf76eb3eeeb9953bb73edd69e8d7714e9f1f49#diff-c8f481edb31166ae481986bef3634645R12). Even though we are only using those 2 packages a `go get` downloads all of `docker/docker` code :-(

I can try to take a stab at a PR for vendo

[2014-10-30 08:56] j0hnsmith opened #179 "no pause/unpause events"
The [docker event docs](https://docs.docker.com/reference/api/docker_remote_api_v1.15/#monitor-dockers-events) explicitly mention pause/unpause events but I'm not seeing them when I pause/unpause a container.

[2014-11-06 14:20] #178 closed, assigned to nobody

[2014-11-11 11:29] #163 closed, assigned to nobody

[2014-11-12 17:57] mcuadros opened #180 "Versions"
I am using this library at my project [dockership](https://github.com/mcuadros/dockership), since this commit: https://github.com/fsouza/go-dockerclient/commit/90496c840a3a13cc9976af74a375aef57daaa1de, `docker.PortBinding.HostIp` has changed to `docker.PortBinding.HostIP`

I suggest use versioning in this type of changes because is breaking the compilation of 3rd party projects.

Maybe http://labi

[2014-11-20 10:14] pwaller opened #182 "No way to cancel a build"
Builds can be expensive and it can be that a build in process in no longer necessary, for example if a container description is superseded in quick succession.

Can we add a `chan<- struct{}` to BuildImageOptions which, if closed, signals that the build should be cancelled?

I'm not sure about how the docker API works, but I would hope that the build is cancelled if the connection to the docker se

[2014-11-27 12:18] fd opened #184 "AttachToContainer should support TLS"
[AttachToContainer][meth] doesn't currently [support TLS][line]

  [meth]: https://github.com/fsouza/go-dockerclient/blob/master/container.go#L652
  [line]: https://github.com/fsouza/go-dockerclient/blob/master/client.go#L463

[2014-12-06 00:36] razic opened #187 "HostConfig"
i had a problem with this...

i have something like the following pseudocode

[code]

and `HostConfig` gets overridden... the only way to get it to work is like this:

[code]

can we get rid of the `hostconfig` argument to the `StartContainer` function and just pass it in the container config when creating the container initially?

[2014-12-11 17:33] sweeney opened #188 "Having an issue with CreateExec and StartExec"
Hello all,

I'm having an hard time getting `CreateExec` and `StartExec` to work.

Code:
https://gist.github.com/sweeney/6df96afb47b4f1a8a971

Running:
boot2docker on OS X 10.10.1

Result:

[code]

Missing: Any of the result of the exec'd command

If I manually create and start the container then run the same cmd (tail -f /tmp/date.log) on the it works fine:

[code]

[2014-12-15 17:44] #188 closed, assigned to nobody

[2014-12-19 07:35] budhrg opened #191 "Tags removed?"
Hi @fsouza ,

I am heavily using this package for my projects.
Also, I was using tags to use particular stable release for my projects. But recently found similar issues as reported in #180 in my projects using `go-dockerclient`.

When I checked the `tags` in this repo, I found tags were missing.
Any particular reason to remove tags or are these removed by mistake(by chance)?

Any help would be ap

[2014-12-22 13:13] #12 closed, assigned to nobody

[2014-12-26 22:17] asim opened #192 "https just assumed when using port 2376"
So https is just assumed when connecting to a docker endpoint with port 2376? https://github.com/fsouza/go-dockerclient/blob/master/client.go#L609

This seems a bit strange. Shouldn't https be implied when someone creates a NewTLSClient rather than just a NewClient?

[2014-12-28 12:43] #192 closed, assigned to nobody

[2015-01-07 16:21] proppy opened #197 "build broken with docker/pkg/archive HEAD"
[code]

Likely because of https://github.com/docker/docker/commit/6d801a3caa54ad7ef574bc426aa1ffc412c5af82

[2015-01-07 17:58] proppy commented on #197
Fixed by either #194 #195 or #196

[2015-01-07 17:58] #197 closed

[2015-01-07 21:34] divideandconquer opened #199 "Unable to download with `go get`"
It looks like docker/pkg/archive was [updated](https://github.com/docker/docker/commit/6d801a3caa54ad7ef574bc426aa1ffc412c5af82).  Excludes is now ExcludePatterns.
https://github.com/docker/docker/blob/master/pkg/archive/archive.go#L32

[code]

[2015-01-08 05:06] rafecolton commented on #199
Duplicate of https://github.com/fsouza/go-dockerclient/pull/195 and https://github.com/fsouza/go-dockerclient/pull/196 - @fsouza, anything?

[2015-01-08 06:22] zhangwei1234 opened #200 "api BuildImage() not Unable to get build log"
api BuildImage() not Unable to get build log

parameter:

logfile, err := os.OpenFile(logPath, os.O_WRONLY|os.O_CREATE | os.O_TRUNC, 0755)
    if err != nil {
        return "", err
    }

[code]

[2015-01-08 06:27] zhangwei1234 opened #201 "batch execute pushImge execption"
error log

time="2015-01-08T14:09:17+08:00" level="info" msg="POST /images/jae.registry.com:5000/6e4a635d5205b1e1054df96d74974d09/push?registry=jae.registry.com%3A5000&tag=latest"
time="2015-01-08T14:09:17+08:00" level="info" msg="+job push(jae.registry.com:5000/6e4a635d5205b1e1054df96d74974d09)"
Received HTTP code 500 while uploading layer: <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

[2015-01-08 10:22] heavenlyhash commented on #199
And #194.

Four issues and multiple redundant PRs opened within five hours of each other, because two unrelated people on the internet didn't push at the same time when one of them updated some keywords?  I'm linking to this thread the next time someone says `go get` is an acceptable way to do business; it's a downright coup de grâce.

Anyone experiencing a problem right now: Might I recommend thi

[2015-01-09 01:21] fsouza commented on #184
Closed via #193.

@fatih thank you!

[2015-01-09 01:21] #184 closed

[2015-01-09 01:22] fsouza commented on #200
Did you try with ``SupressOutput: false``?

[2015-01-09 01:24] fsouza commented on #199
It's fixed now, thank you! Sorry for the delay, I'm out these days.

@heavenlyhash in [tsuru](/tsuru/tsuru) we use Godeps to pin go-dockerclient and go-dockerclient's dependencies. I might write something related to it in go-dockerclient's README.

[2015-01-09 01:24] #199 closed

[2015-01-09 01:25] fsouza commented on #201
Seems like an error in your registry server. Could you share some code? Are you using [docker-registry](/docker/docker-registry)?

[2015-01-09 01:27] fsouza commented on #197
Hey @proppy, sorry for the delay, I'm on vacations right now, so I was afk these days, but now I'm kinda back! :)

Thanks for contributing, and for the Twitter alert.

[2015-01-09 05:44] zhangwei1234 commented on #201
using docker-registry

[2015-01-12 01:52] zhangwei1234 commented on #200
no try

[2015-01-12 21:12] blalor opened #202 "Broken pipe consuming events doesn't close connection"
I've been working with progrium/registrator and running into cases where Registrator no longer handles events, even though I'm stopping/starting containers.  I've just upgraded Registrator to use the current code for `go-dockerclient` and ran into the problem again with docker 1.3.2.  In this case, I found the following in the docker daemon log:

[code]

That corresponds to the time when Registrat

[2015-01-13 16:03] gambol99 opened #203 "Dead lock in docker events"
I keep hitting a dead lock when listening to docker events; a section of the code below

	   docker_events := make(chan *docker.APIEvents)
	    	go func() {
	    		/* step: add our channel as an event listener for docker events */
	    		if err := r.Docker.AddEventListener(docker_events); err != nil {
	    			glog.Fatalf("Unable to register docker events listener, error: %s", err)
	    			return

[2015-01-17 11:34] blalor commented on #203
Pretty sure this is related to (or, rather, the cause of) #202.  I didn't know about the `kill -ABRT <pid>` trick; that's extremely helpful.  My stack trace is similar:

[code]

I'm building with fsouza/go-dockerclient@bc54f3734b9b098e24680d5ad686f602bc152df4.

[2015-01-18 12:00] blalor commented on #203
There's an awful lot of locking going on around here, much of it superfluous, I think. Particularly with the atomic calls around `lastSeen`.  I can't see any reason for `updateLastSeen` to be its own goroutine, and I think that's part of the cause of the deadlock.  I realize much of this is to deal with seamless reconnects, but it would be much simpler to just notify the client that the connection

[2015-01-23 16:34] fsouza commented on #203
Closing this, thanks to @blalor fix on #206.

[2015-01-23 16:34] #203 closed

[2015-01-26 05:58] nashasha1 opened #207 "get error: "unknown archive.TarOptions field 'ExcludePatterns' in struct literal""
go get github.com/fsouza/go-dockerclient
# github.com/fsouza/go-dockerclient
../github.com/fsouza/go-dockerclient/tar.go:30: unknown archive.TarOptions field 'ExcludePatterns' in struct literal

It seems had showed before.I get this at the latest version.

[2015-01-26 13:00] fsouza commented on #207
Hey @nashasha1, thanks for reporting!

You need to update the code for docker. Please run:

[code]

[2015-01-27 11:06] nashasha1 commented on #207
thanks a lot @fsouza

[2015-01-27 16:56] fsouza commented on #207
No problem! May I close this issue?

[2015-01-28 01:20] nashasha1 commented on #207
Of course! Thanks again.

[2015-01-28 08:30] amasad commented on #161
+1

[2015-01-28 08:36] amasad opened #209 "AttachToContainer won't disconnect when container dies"
If the container dies unexpectedly `AttachToContainer` will continue to block. I'm listening on events and the container obviously died. The only time the call will cease to block is if we destroy the container. Coupled with #161 where we can't cancel the operation, this means we're leaking connections to the daemon which is how I found this bug,

[2015-01-28 12:38] fsouza commented on #207
Thank you!

[2015-01-28 12:38] #207 closed

[2015-01-30 07:07] amasad commented on #202
Running into the same problem, I think, I stop getting an events via the event listener API.

[code]

[2015-01-30 11:37] blalor commented on #202
This may have been fixed in #206.  Do you have that commit in the version you're running from?

[2015-01-31 21:24] amasad commented on #202
Apparently not. I'll update. Thanks

[2015-02-06 10:44] budhrg commented on #180
Hi,

Any update on it?

Thanks.

[2015-02-06 12:25] fsouza commented on #209
If you restart your container, after it dies, is your program still attached to the container?

[2015-02-06 12:26] fsouza commented on #180
Hi @budhrg, I will start working on the plans described here in this weekend, thanks for your interest in go-dockerclient!

[2015-02-07 19:50] amasad commented on #209
Yes, however, I think it's somewhat a user error. I had a bug that didn't close the Stdin object on the attached container. Now that I'm returning EOF from the io.Reader passed to the AttachToContainer it's actually exiting.

[2015-02-07 19:50] #209 closed

[2015-02-15 09:03] ChristianKniep opened #213 "Client compatible with docker 1.5?"
Hey there,

I just tried your example and it failed on me.
On a server with docker 1.0 it worked out (golang 1.4).

Cheers

[2015-02-16 02:58] aidanhs opened #214 "client: implement noprune and force for image delete"

[2015-02-16 10:54] levilovelock opened #218 "NetworkMode not respected in HostConfig"
When trying to launch containers with custom HostConfig.NetworkMode, the config does not show up in respected containers. Not sure what exactly is going on here. Happy to take a look tomorrow.

Ah yes, and this was specifically for 'container:<container_id>' type NetworkMode. Not sure if the other types work or not, but for container, it literally shows up as `NetworkMode:""` when I inspect the la

[2015-02-17 20:01] fgrehm commented on #213
It works for me on an Ubuntu 14.04 host with Docker 1.5.0 using Go 1.4.1

[2015-02-18 05:34] kidoman commented on #123
I have some time now to investigate into this. Will report back with answers to your questions.

[2015-02-18 19:40] kidoman commented on #123
@fsouza: I looked at how we are using the docker packages. We are using it to create a tar for a directory with some options.

There are two routes ahead:
* We reimplement it using stdlib
* Copy necessary files from docker and make them workable on appengine

[2015-02-19 00:32] knodir opened #220 "PortBinding does not work and go-dockerclient debugging"
Hi,

I am trying to run `google/cadvisor` image via `go-dockerclient`. Here is the shell command to do this:

[code]

It gives following output on success:

[code]

I wrote a program to do this with `go-dockerclient`, which successfully creates the container, but without port mapping (note the `PORTS: 0.0.0.0:8080->8080/tcp` on above shell output). Here is the code I am running

[code]

And its ou

[2015-02-19 12:24] fsouza commented on #123
I'd go for option 2, unless it's too hard, then fallback to option 1. Do you wanna work on it?

[2015-02-19 12:26] fsouza commented on #213
Hey @ChristianKniep, can you share more details of the failure?

Thanks for reporting!

[2015-02-19 19:24] kidoman commented on #123
Yessir! I am gonna talk to a few Docker guys tomorrow at gophercon.in and ask what they would like to happen.

[2015-02-24 23:57] didip opened #222 "How to client.Close()?"
I must have missed the obvious thing, how do I close docker client connection?

[2015-02-25 01:21] fsouza commented on #222
Hi @didip, since go-dockerclient will just send HTTP requests, it forwards handling of connections to the default HTTP client in the Go standard library.

You can also customize the HTTP client to be used and customize when to close connections.

[2015-02-25 16:37] didip commented on #222
Somewhat related to my original question. I've noticed that memory consumptions grow when I loop and fetch containers/images data. The pseudo-code looks like this:
[code]
the go-dockerclient code itself looks sane, you guys call `res.Body.Close()` whenever needed.

Should I create a new separate issue for this?

[2015-02-25 17:35] fsouza commented on #222
Hey @didip, I think we can keep this issue, for further investigation. I will try to reproduce and fix the issue locally.

Thanks for reporting!

[2015-02-25 18:45] fsouza commented on #222
@didip I've created this small reproducer:

[code]

Running with 8 goroutines and 1ms interval, it rapidly grows to ~6.6MB of memory usage, and then stop growing. I think it should not grow that much, but it's indeed stopping growing. I've tried with 64 goroutines and reached the top around 8.0MB. I will do some profiling, but could you share more information on your environment, like the OS, Dock

[2015-02-25 18:52] didip commented on #222
Thanks for investigating this so quickly!

[code]
Go version is: `1.4.1`

[2015-02-25 18:57] didip commented on #222
I can also show the code: https://github.com/resourced/resourced/blob/master/libdocker/libdocker.go

* [Line 40](https://github.com/resourced/resourced/blob/master/libdocker/libdocker.go#L40) & [Line 56](https://github.com/resourced/resourced/blob/master/libdocker/libdocker.go#L56): We pool docker connection in global map.

* Then [here](https://github.com/resourced/resourced/blob/master/readers/d

[2015-03-02 09:19] deanrock commented on #187
I have the same issue, I would like to start an existing container without changing HostConfig.

Other libraries I tested (py-docker for python and dockerclient for go) don't send anything if hostcofing == nil, and Docker just starts the container without changing HostConfig.

[2015-03-03 17:42] fsouza commented on #187
Hi @deanrock @razic. Currently, Docker doesn't use HostConfig when starting containers anymore, can you try it again with latest Docker version?

Thanks!

[2015-03-03 17:53] fsouza commented on #220
Hi Nodir, sorry for the almost infinite delay and than you very much for reporting.

In order to get the container to run, you need to manually call StartContainer after creating it, something like:

[code]

Then you will be able to see it running with ``docker ps``.

[2015-03-03 17:54] fsouza commented on #218
Hi @levilovelock, can you share a reproducer, so I can try to reproduce it locally?

Thanks for reporting!

[2015-03-03 17:59] fsouza commented on #214
It has been implemented in #217.

[2015-03-03 17:59] #214 closed

[2015-03-03 20:23] deanrock commented on #187
Hi, I noticed in the API documentation that StartContainer no longer accepts HostConfig, but it still seems to use it.

Docker version (it should be the latest):
	$ docker version
	Client version: 1.5.0
	Client API version: 1.17
	Go version (client): go1.4.1
	Git commit (client): a8a31ef
	OS/Arch (client): linux/amd64
	Server version: 1.5.0
	Server API version: 1.17
	Go version (server): go1.4.1

[2015-03-03 20:35] fsouza commented on #187
Yeah, my bad. I will push a fix within the next half hour, sorry for the delay.

[2015-03-03 20:47] #187 closed

[2015-03-03 20:47] fsouza commented on #187
Just pushed a fix, could you please try it again?

Sorry for the mess!

[2015-03-03 20:56] deanrock commented on #187
Now it seems to work fine in both cases (it doesn't change HostConfig when I provide nil, and it updates it if I provide new settings).

Thanks.

[2015-03-04 02:22] didip commented on #222
We found the memory leak and its in our code. Sorry for the false alarm.

[2015-03-04 02:22] #222 closed

[2015-03-04 02:24] fsouza commented on #222
Hi @didip, sorry for the delay, and thanks for the feedback, please feel free to open new issues in the future!

[2015-03-04 02:34] levilovelock commented on #218
Yep no worries. I'll write up some reproduction steps tonight!

[2015-03-05 10:47] tifayuki opened #226 "json: cannot unmarshal string into Go value of type struct {}"
I got the json unmarshal error when inspecting a container. It happens when a container is running with volumes.

My code is :
[code]

The container inspect using docker is:
[code]
I tested on docker `1.5` and `1.4.1`. Both are failed.

[2015-03-05 12:46] fsouza commented on #226
Hey @tifayuki, thanks for reporting. I'm investigating it right now!

[2015-03-05 12:53] #226 closed

[2015-03-05 12:53] fsouza commented on #226
Hi @tifayuki, I've just pushed a fix, that's actually a revert to a wrong commit that got in, sorry about that.

Can you try again?

Thanks for reporting!

[2015-03-05 12:57] tifayuki commented on #226
It works.

Thank you

[2015-03-05 13:37] cjellick opened #227 "Add interfaces to client"
How would you feel about adding interfaces to the client? I think users would find this useful from a testing standpoint. It would allow us to mock out this client when necessary.

I'm thinking we could have an interface per functional area. So, we'd have a container interface, an image interface, etc.

@fsouza  If you like this idea and it has a good chance of being merged/accepted, I can work on

[2015-03-05 19:08] #20 closed

[2015-03-06 18:53] fsouza commented on #227
Hi @cjellick, thanks for opening this issue and bringing your suggestion. I don't think that having interfaces would make much sense here, I know it's easier for tests, but it also adds another level of indirection to the production code, and I don't think it's worth it.

We've been using the testing server for a while, and it works great so far, do you think it would not work for you?

Thank you.

[2015-03-06 19:42] cjellick commented on #227
Makes sense. I'll take a look at the testing server. I ended up finding a pretty painless way to abstract away and mock the client when necessary anyway.

Thanks for the response (and for the great client).

[2015-03-06 19:42] #227 closed

[2015-03-08 02:13] fsouza commented on #144
Hi @acroca, it actually works if you set Stream: true in the attach call:

[code]

Also, please ensure you wait for the container to stop:

[code]

Thanks for opening this issue!

[2015-03-08 02:13] #144 closed

[2015-03-08 09:08] acroca commented on #144
thanks @fsouza. I was using an quite old version of this the lib, probably something good changed since then.

[2015-03-08 15:33] fsouza commented on #144
@acroca makes sense! I will checkout to the version in the day that you opened the issue and try to detect what changed. Thank you!

[2015-03-08 19:02] knodir commented on #220
Hi Francisco,

Thanks for pointing this out! I can see my container being successfully created and run now. Here is what I have:

[code]

I guess container exits with 255 because it does not have proper volumes mounted as cAdvisor expects. It does not have ports mapped, either. But at least it run once. It would be great if someone could point what I'm doing wrong with volumes and ports.

I also t

[2015-03-08 21:18] fsouza commented on #220
Hi @knodir, can you get anything from the containers log?

[code]

I will try to reproduce the failure with your sample code and try to get it to run, thanks for reporting!

[2015-03-08 22:03] fsouza commented on #220
Hi @knodir, here's a working solution:

[code]

Here are the two changes I did in the code:

- when specifying the port binding, you need to pass the host (0.0.0.0) and the port (8080) using different fields in the struct: ``"8080/tcp": {{HostIP: "0.0.0.0", HostPort: "8080"}}``
- you  need to specify the volume _binding_ in the HostConfig, the binding is a list of strings in the format ``<host-dir

[2015-03-09 05:46] knodir commented on #220
This is much better. I do have a running cAdvisor now, but port mapping still does not seem right. Here is the output I get after running your code

[code]

Note that when I create cAdvisor manually (with the command given on top of this issue) port output is `0.0.0.0:8080->8080/tcp` instead of current `8080/tcp`. Can this be a reason I don't see anything when I point my browser to `localhost:8080

[2015-03-09 14:45] fsouza commented on #220
Ops, sorry for not specifying the mount options, they work fine as you posted.

Regarding the port issue, after running the code, I do get this output:

[code]

Can you confirm that you're specifying ``HostIP`` to be ``0.0.0.0``. For the record, I'm using Docker 1.5.0. Here's the full code (including mount options): https://gist.github.com/fsouza/bf2f69f84267cb1b5d25.

[2015-03-09 17:57] knodir commented on #220
I run the same code (`HostIP: 0.0.0.0`), but still get `8080/tcp` instead of `0.0.0.0:8080->8080/tcp`. Here is the Docker version.
[code]

Oddly enough, I don't get any output when I go `docker logs cadvisor`. It just does not print anything. Should I enable any option to get this?

Also, I used `endpoint := "unix:///var/run/docker.sock"` instead of `endpoint := "http://<ip-address>:2375"` as in y

[2015-03-09 18:47] fsouza commented on #220
I will try with the socket, and get back to you. Thanks for your patience!

[2015-03-18 20:40] proppy opened #241 "add support for host devices"
It would be nice if the [`HostConfig`](https://github.com/fsouza/go-dockerclient/blob/20220089b9b5b43f9bc668e4942d39455cd39845/container.go#L381) in `CreateContainerOptions` had support for exposing host devices to the container (like docker run --device does).

This could be passed as an additional member of the `HostConfig` when [calling](https://github.com/fsouza/go-dockerclient/blob/20220089b9

[2015-03-18 23:55] fsouza commented on #241
Hi @proppy, thanks for reporting! I will push this feature within the next few minutes. I will add a type named ``Device`` with the attributes you described, and add a slice of ``Device``s in the ``HostConfig`` struct.

[2015-03-18 23:58] #241 closed

[2015-03-19 00:00] proppy commented on #241
Thanks for the quick update!

[2015-03-27 02:03] tetheredge opened #243 "Track events from multiple hosts"
Working on a project where an audit is needed to track how many containers are created, started or stopped from multiple hosts.  The audit package and daemon interface with the go-dockerclient API that is running on a single host and it sets up a channel for each host that it finds in a mongo database.  Each channel listens for the events from the host and stores the event in mongol.  The issue is

[2015-04-09 13:37] drewwells opened #250 "clean up (--rm) support"
Is it possible to pass along clean up options to docker? The docker API doesn't list a clean up config: http://goo.gl/iM5GYs, but the cli very clearly does have this feature.

[2015-04-09 18:34] fsouza commented on #250
Hi @drewwells, thanks for opening this issue. There's no option for that in the API because Docker client handles it (that's why it is incompatible with the ``-d`` flag), because it needs to detect that the container exited.

Here's the code: https://github.com/docker/docker/blob/master/api/client/run.go#L184:L190

You'd need to do something like that in your code that uses go-dockerclient.

[2015-04-10 12:30] nlamirault opened #251 "Can't build image using Dockerfile"
hi
hi try to build an image from a Dockerfile :

[code]

I've got an error :

[code]

Any idea ?
Thanks.

[2015-04-10 14:11] fsouza commented on #251
Hmm, that's interesting. This should not be happening, do you get any error or just the panic? I will try to run your sample locally.

Thanks for reporting!

[2015-04-16 20:40] nikolasborrel commented on #123
I'm working on implementing push notification functionality for Apple devices on App Engine as

    config := tls.Config{Certificates: []tls.Certificate{cert}}
	if conn, err = tls.Dial("tcp", "gateway.sandbox.push.apple.com:2195", &config); err != nil {
		log.Errorf(c, "Could not connect to gateway.sandbox.push.apple.com: %v", err)
		response.WriteError(ws.HTTPStatusCodeInternalServerError, errors

[2015-04-16 20:50] #250 closed

[2015-04-19 19:46] peter-edge commented on #218
Of note @fsouza @levilovelock, I wasn't able to reproduce this. I tried using a known container id, a known container name, and `container:doesnotexit` and `container:`. The first two worked when I ran `docker inspect`, the latter two returned error correctly.

[2015-04-19 22:24] peter-edge opened #260 "Remove dependency on github.com/docker/docker"
One of the biggest pains for me with go-dockerclient is the dependency on github.com/docker/docker. The only thing that is used is the tar functionality in https://github.com/docker/docker/tree/master/pkg/archive, and a couple of file utilities (Matches, Rel) that can be easily redone.

The problem is, docker's tar implementation is probably the best I know of in the golang world. So we don't want

[2015-04-20 11:59] peter-edge opened #261 "Rename id parameter for container function to idOrName? Plus tests"
I know this works for InspectContainer, and I am assuming for other calls too: when the Docker Remote API says "id" as part of a request, it really means "id or name", both work.

This is probably just a matter of:
- updating the parameters and documentation
- testing for each function

[2015-04-21 00:54] fgrehm commented on #260
Not sure if you came across that yet but here's some background on it: GH-178

[2015-04-21 08:22] peter-edge commented on #260
Ah shoot.

The primary reason this is such a pain is when you're building new Docker images with this, library, ironically. Would you be open to a script that just did a selective pre-commit copy, like above?

[2015-04-22 13:34] fsouza commented on #260
@peter-edge how often do you need to build a new Docker image? What's your processing of doing it?

Sorry for the delay!

[2015-04-22 13:44] fsouza commented on #218
Maybe there was an old bug related to what go-dockerclient did when creating the container: sometimes, StartContainer could reset HostConfig if not defined properly, it was fixed at some point, but I'm not sure whether it was before or after @levilovelock opened this issue (I think so).

Can you confirm that it works now, @levilovelock?

@peter-edge thanks for your contributions!

[2015-04-22 14:20] fsouza commented on #251
@nlamirault is your Docker server bound to a TCP port or Unix socket?

Thanks!

[2015-04-22 14:34] nlamirault commented on #251
I've got only this :

[code]

[code]

[2015-04-22 17:14] ChristianKniep commented on #213
Works for me guys... Maybe I misconfigured... Thx for your library!

[2015-04-22 17:14] #213 closed

[2015-04-22 21:55] fsouza commented on #261
Hi @peter-edge, I don't think that this behavior is present in all Docker API endpoints, specially endpoints like rename, but I'm not sure. I will run some tests to check it.

Thanks for contributing!

[2015-04-22 21:56] peter-edge commented on #261
I don't think it is either, after further testing. Happy to help check too.

On Wednesday, April 22, 2015, Francisco Souza <notifications@github.com>
wrote:

[2015-04-28 18:15] amlwwalker opened #264 "Creating Volume Container"
How would you create a volume container and then attach it to a container that is running [some] program?

[2015-04-30 11:28] amlwwalker opened #265 "typo in documentation"
UnPauseContainer documentation states that it pauses the given container. I suspect it was copied from pauseContainer documentation. It should say it un pauses the given container.

[2015-04-30 14:06] fsouza commented on #265
Indeed it was. Thanks for reporting!

[2015-04-30 14:06] #265 closed

[2015-04-30 14:34] #264 closed

[2015-04-30 15:20] tcurdt opened #266 "no port mapping host ip"
I am currently tracking down a missing ip on the port binding. Looking at the inspect output I see

                    "HostIp": "0.0.0.0",
                    "HostPort": "6667"

while the code seems to expect `HostIP`

  https://github.com/fsouza/go-dockerclient/blob/master/container.go#L116

s/HostIP/HostIp/g ?

[2015-04-30 16:07] tcurdt commented on #266
https://github.com/docker/docker/blob/master/docs/sources/reference/api/docker_remote_api_v1.16.md
https://github.com/docker/docker/blob/master/daemon/container.go#L643

yup!

[2015-05-06 22:44] archisgore commented on #260
+1 on this. This adds resource cost to build, download and even godep save to be pulling on ALL of docker and building it every time.

[2015-05-07 14:50] MaximeHeckel opened #272 "Got "EOF" streamed while listening to events"
I have the following piece of code in other to listen to container events using this library :

[code]

As you can see I'm piping events through a chan of type APIEvents and then printing them. But after several time (half an hour) I get a stream of "EOF" messages that doesn't seem to stop.
By looking at the repo's issues I saw that it's due to a connection lost with docker.
Sadly I haven't been a

[2015-05-07 16:36] fsouza commented on #266
Closing, see #267.

[2015-05-07 16:36] #266 closed

[2015-05-07 20:25] jaytaylor commented on #17
+1

[2015-05-07 22:34] jaytaylor commented on #17
Will you close this issue since this is now implemented?

[2015-05-08 13:52] fsouza commented on #17
Hi @jaytaylor, sure!

Thank you.

[2015-05-08 13:52] #17 closed

[2015-05-08 18:56] pwaller commented on #182
Docker has since grown build cancellation:

https://github.com/docker/docker/pull/9774

I made a prototype over in #208, but abandoned it and relinquished my claim for implementing it for now. So someone else can take it up if they like.

[2015-05-10 14:33] peter-edge commented on #260
I build a lot of images for testing, `go get` is not exactly the world's greatest command, and about 50% of the time downloading dependencies is spent on github.com/docker/docker, just because of this requirement. I'm sure I'm not the only one who has this issue :) See Use https://github.com/kardianos/vendor for external packages #277 for an extremely clean solution (imo) :)

[2015-05-10 14:55] peter-edge commented on #260
Closing 277, use https://github.com/fsouza/go-dockerclient/pull/278 instead.

[2015-05-10 17:44] fsouza commented on #260
Closed by #278. Thanks @peter-edge.

[2015-05-10 17:44] #260 closed

[2015-05-11 10:14] ewoutp opened #281 "StartExec gives 'persistent connection closed'"
I'm getting an http.ProtocolError now.

This was not the case in commit 09334c56c6

[2015-05-11 10:27] peter-edge commented on #281
Do you have steps to reproduce? Otherwise, can you try two things for me:

Here's the diff https://github.com/fsouza/go-dockerclient/compare/09334c56c63bab2cd6c4ccab924d89e2419a361f...master

Look at client.go, where I think the changes would be that would affect this are two places:

1.

line 507:
[code]

2.

line 530:
[code]

I'm 95% positive it's #1. Could you change that locally and see if you

[2015-05-11 11:08] ewoutp commented on #281
Reverting the change near line 507 fixed the connection issue, but closing the connection is now not done.

I'm creating an exec for `/bin/sh` into my shell, I'm doing some `ls`, `ps` etc and finally type `exit`.
After that nothing happens anymore. This worked fine in the earlier commit I mentioned.

[2015-05-11 11:09] peter-edge commented on #281
How did you determine the connection is not closed? Do you just have:

[code]

now?

[2015-05-11 11:12] ewoutp commented on #281
Yes, only `clientconn.Do(req)` now.

I have attached stdin/out as the streams and set it up such that my process stops when the connection is closed. It does not now, it does when I pin to the above mentioned commit.

[2015-05-11 11:13] peter-edge commented on #281
Alright, so that's very peculiar, that it did close before this change but does not now. Let me look more.

[2015-05-11 11:14] peter-edge commented on #281
Would you be able to produce a gist with reproduce steps?

[2015-05-11 11:16] peter-edge commented on #281
This will mean there is a deeper bug, but around line 530, could you remove `errChan <- err` and then at the end of the function, instead of doing the loop, just do `return <-errChan`?

[2015-05-11 11:28] ewoutp commented on #281
This code works:

[code]

[2015-05-11 11:29] peter-edge commented on #281
It doesn't handle if you have errors on both, but it's better than what is there now. Can you submit a PR?

[2015-05-11 11:52] ewoutp commented on #281
See #282

[2015-05-11 12:36] fsouza commented on #281
@ewoutp in which point you get this error? After you run "exit"? What about non interactive execs?

I will merge #282 to get master working again, but run some local tests without it and see if we can fix the issue without losing all the error checking.

Thank you!

[2015-05-11 12:44] #281 closed

[2015-05-11 12:50] ewoutp commented on #281
@fsouza Without the revert in line 507 all calls to StartExec will fail.

With that fixed, the connection was not closed after typing "exit <enter>" in the executed shell.

PS. Thank you both for the fast response!

[2015-05-12 12:31] paulbellamy opened #283 "Config is missing MacAddress"
When creating a container, you can also specify the MacAddress, therefore Config should include:
[code]

[2015-05-12 14:26] fsouza commented on #283
Fixed via #284.

[2015-05-12 14:26] #283 closed

[2015-05-13 09:00] paulbellamy commented on #283
Excellent! Thanks so much. :)

[2015-05-16 01:03] vmarmol opened #285 "Resource requirement fields in Config should be in HostConfig"
Things like `CpuShares` and `MemoryLimit` don't exist in Docker's `Config`, rather they are in `HostConfig` as seen in their [documentation](https://docs.docker.com/reference/api/docker_remote_api_v1.18/#create-a-container). We should switch move those fields to `HostConfig` where we can make use of them.

Will take a crack at a PR.

GoogleCloudPlatform/kubernetes#8358

/cc @dchen1107

[2015-05-16 01:05] vmarmol commented on #285
Ah I now realize that this is a change in the Docker remote API. This was not the case in version 1.17: https://docs.docker.com/reference/api/docker_remote_api_v1.17/#create-a-container

[2015-05-17 17:23] aanm opened #287 "How can I exec commands on containers?"
I'm trying to replicated the following command with go-dockerclient but I can't
[code]

Piece of code that I'm trying:
[code]
It freezes after "StartExec" and I was able to see some packets and I have realized they are different from the `docker exec -ti containerID echo hello world` command.

Any help? Thanks in advance

[2015-05-18 20:59] #285 closed

[2015-05-19 21:42] fsouza commented on #287
Hi @aanm, if you're using the success channel, you must call StartExec in a goroutine.

In this case, I'd not use the success channel, removing it from StartExecOptions.

[2015-05-20 00:47] aanm commented on #287
@fsouza cool, it worked :-)

[2015-05-20 00:47] #287 closed

[2015-05-20 09:33] lsword opened #290 "BlkioStatsEntry define error"
type BlkioStatsEntry struct {
	Major uint64 `json:"major,omitempty" yaml:"major,omitempty"`
->    Minor uint64 `json:"major,omitempty" yaml:"major,omitempty"`
	Op    string `json:"op,omitempty" yaml:"op,omitempty"`
	Value uint64 `json:"value,omitempty" yaml:"value,omitempty"`
}

[2015-05-20 14:37] Setomidor commented on #155
I suppose you've already figured this out by now, but for other people who may stumble upon this:

What you are trying to do is mixing Volumes and Binds:
- For  "/myworkdir" you want to use volumes as this simply exposes this endpoint as a "non-UnionFS" mount point (in an anonymous location, in your case the thing starting /var/lib/docker/vfs/dir/..).
- For "/root/.ssh" you want to use binds as th

[2015-05-20 21:42] fsouza commented on #290
Thank you, fixing right now!

[2015-05-20 21:44] #290 closed

[2015-05-21 11:25] peter-edge commented on #287
https://github.com/peter-edge/go-dockerutils/blob/master/dockerutils.go#L153 although don't use this lib cuz I'm going to probably refactor it soon

[2015-05-21 14:10] aanm commented on #287
@peter-edge I'm a little lost, what does that has to do with my problem?

[2015-05-21 14:23] peter-edge commented on #287
Oh man, I copy/pasted into the wrong issue haha. My bad. Disregard *embarrassed*

[2015-05-29 18:24] ghao-ooyala opened #295 "CommitContainer error in docker 1.5"
docker version 1.5, docker remote api version 1.7

opts := docker.CommitContainerOptions{Container: container.ID, Repository: c.URL + "/" + imageTo, Run: &docker.Config{}}
client.CommitContainer(opts)

From Docker daemon log:

INFO[0011] POST /commit?container=a59fd253c0fd52c8bde427f9b5934518b1b039e3d2ba5779a438923e52eae2a1&repo=172.17.0.15%2Fbuilder%2Fprecise64-go1.2-0.2.1&run=%7B%22Hostname%22%3

[2015-06-01 18:45] phinze opened #296 "Failure to build on openbsd: syscall.Stat_t does has no field or method Mtimespec"
Hi there!

Just got this while trying to cross compile a Terraform release:

[code]

I'm unable to dig in any further at the moment, but I wanted to make sure I got it reported right away. :+1:

[2015-06-03 13:32] fsouza commented on #295
Hi @ghao-ooyala, sorry about the delay and thanks for opening this issue.

That's interesting, we're currently using Docker 1.5 and we're not fighting this issue. Can you share a piece of code that reproduces the bug?

[2015-06-03 23:54] ghao-ooyala commented on #295
My apologies. Just realized that I was using old commit of go-dockerclient and seems it has been fixed months ago. closing the issue.

[2015-06-03 23:54] #295 closed

[2015-06-04 23:02] cjellick opened #298 "No way to close streaming API calls"
Functions such as Logs() and Stats(), block indefinitely, or more accurately, until the container exits.
This easily leads to orphaned goroutines.
There should be a way to force these calls to exit.

[2015-06-05 17:04] cjellick commented on #298
Ideally, we could pass "stop" channel into Logs() that would signal the client to close the underlying stream.

[2015-06-05 17:48] cjellick opened #300 "streaming calls never return"
This is related to, but different from #298.
That one is a feature request for a way to explicitly terminate Logs() (and Stats()) calls.
This is a bug report.

When making a streaming call such as Logs() or Stats(), if I close the writer I passed in for stdout or stderr, Logs() should return with an error, but it continues to block.

This is because this line:
https://github.com/fsouza/go-dockercl

[2015-06-08 12:54] fsouza commented on #295
I'm glad you figured it out, thank you!

[2015-06-15 02:29] dalanlan opened #304 "should deprecate httputil.NewClientConn func"
According to the official description, `ClientConn is low-level and old. Applications should use Client or Transport in the net/http package.`
https://github.com/fsouza/go-dockerclient/blob/master/client.go#L352

[2015-06-17 15:22] kgrvamsi opened #305 "Test Code Returns Error sync.Pool Undefined"
I have created a file and copied the sample code and started running it and i get the following error

    # github.com/fsouza/go-dockerclient/vendor/github.com/docker/docker/pkg/pools
    src/github.com/fsouza/go-dockerclient/vendor/github.com/docker/docker/pkg/pools/pools.go:30: undefined: sync.Pool

[2015-06-17 15:26] fsouza commented on #305
Hi @kgrvamsi, this is probably due to the version of Go you're using. Can you share the output of the following command?

[code]

sync.Pool has been added to Go in version 1.3.

[2015-06-24 20:34] ebuchman opened #310 "AttachStdout not working in StartContainer"
I have an existing data-container. I'd like to create a new container with volumes from the data-container and stomp around in it interactively, or at the very least run a command and get to see Stdout. Unfortunately attaching Stdout, or anything else I've tried, doesn't work. Some code:

[code]

If I pass some command, say `args = []string{"ls"}`, I get something like:

[code]

So it works but no

[2015-06-25 07:04] slene opened #311 "Dead lock in docker events not resolved in latest version"
@fsouza https://github.com/fsouza/go-dockerclient/issues/203 not fix this bug

[code]

[2015-06-25 09:05] slene commented on #311
closed this, discuss in pr https://github.com/fsouza/go-dockerclient/pull/312

[2015-06-25 09:05] #311 closed

[2015-06-26 01:32] ewindisch commented on #296
:+1: also affects Nacl builds. This might be better filed in docker/docker?

:dibs:

[2015-06-26 13:14] fsouza commented on #296
I think so. If they don't mind not building on openbsd or nacl, then we can copy their code or something like that.

[2015-06-27 11:17] ybogdanov opened #314 "omitempty for Cmd and Entrypoint"
Hi,

`omitempty` attribute is specified for Cmd and Entrypoing `[]slice` fields in `Config` struct. Having this attribute becomes impossible to reset the base image setting, e.g. if entrypoint is specified in an image and I want to reset it to empty in a container. It may be reset if an empty slice is passed, but in this case json encoder will omit the field.

Can `json:"omitempty"` attribute be r

[2015-07-03 00:20] fsouza commented on #314
Hi @ybogdanov, I do think that it makes sense. I'm applying the change to the code.

[2015-07-03 00:21] #314 closed

[2015-07-03 02:24] ybogdanov commented on #314
Thanks!

[2015-07-04 19:26] beetree opened #317 "Possible issue: Pulling image, creating container, and starting container slower using API than with "docker run""
Test code:

[code]

Running the following command:
[code]

Outputs:
[code]

Running the following command:
[code]

Outputs:
[code]

Debugging it with ```docker.PullImageOptions{Repository: "centos", OutputStream: os.Stdout}``` shows that the API call is mainly spending time on downloading / extracting the files.

Why does it seem like the API is significantly slower than "docker run"? Is "docker r

[2015-07-06 19:26] joeshaw opened #318 ""use of closed network connection" error after streaming call"
Commit ebac37c6 introduced a bug with its use of `defer c.transport.CancelRequest(req)`.  According to [the docs](http://golang.org/pkg/net/http/#Transport.CancelRequest),

The underlying HTTP connection is set to keep-alive.  `CancelRequest()` closes it, and when the client attempts to reuse it, the `net/http` code throws a `use of closed network connection` error.  I am using a TLS connection (t

[2015-07-06 19:34] jbardin commented on #318
Also from that commit, the new transport introduced doesn't have reasonable Dial and TLS timeouts from the DefaultTransport.

The behavior of `HttpClient.Timeout` is probably what was intended here.

[2015-07-06 19:36] joeshaw commented on #318
Here's a test program.  You need to set `DOCKER_HOST` and `DOCKER_CERT_PATH` environment variables, which if you use boot2docker are set automatically with `boot2docker shellinit`:

[code]

Prior to ebac37c this succeeds.

[2015-07-07 02:13] fsouza commented on #318
Hi @joeshaw, thanks for reporting. This is big, so I'm reverting ebac37c6531273e98bbac7fff4dcf8f86bee3609 right now, and prepare a better change to address both #298 and #300.

Thank you again for reporting, and sorry about the mess.

[2015-07-10 05:44] ejholmes opened #320 "NewClientFromEnv"
Hey! In a lot of projects, I end up wanting to configure a docker.Client from the standard `DOCKER_*` environment variables. Thoughts on adding a `NewClientFromEnv` factory method? Basically [this](https://github.com/remind101/empire/blob/master/pkg/dockerutil/client.go#L12-L27).

[2015-07-10 14:11] johnsudaar opened #322 "Labels on ListImage"
Event if not shown in the official API documentation, the list image methods return labels.
( See : https://github.com/docker/docker/blob/master/api/types/types.go#L75 )

I suggest adding this field to the APIImage in Image.go.
[code]

[2015-07-10 17:02] peter-edge commented on #320
I submitted this as a PR back in the day but we decided against merging, maybe if more people want it though? :)

I have an alternate impl at github.com/peter-edge/go-dockerutils

[2015-07-13 13:37] peter-edge opened #326 "Build has been broken on Travis for a bit"
This was the first commit I can find that this started happening on:

https://travis-ci.org/fsouza/go-dockerclient/builds/67865488
https://github.com/fsouza/go-dockerclient/commit/d41b9f48fae9e82802a2510143508c598e715339

I don't think/know if this is actually related to the build, or if this is a go tip change that caused some failure. It's probably extremely minor, but not great to have the buil

[2015-07-13 18:58] tdterry opened #328 "Repeated TLS connections to docker leak file handles"
I have an application that schedules periodic calls to several docker servers. It wakes up, connects to the server via TLS, issues a few commands, and then goes back to sleep. I noticed after running for a while, it would start to use a lot of file handles. I have distilled the bug down to the following code example. It will leak one handle per second. I tried the same thing without TLS, and the b

[2015-07-13 19:14] tdterry commented on #328
I didn't realize this was TLS-only until I tried to simplify my example. I had been looking for errors in Client.do. After realizing it only happened in TLS, I looked at NewTLSClient() and found the problem. At the bottom of NewVersionedTLSClientFromBytes() you create a Transport with the TLS configuration. Transport uses keep-alive by default and will leave that connection open waiting for anothe

[2015-07-14 00:20] fsouza commented on #326
Hi @peter-edge, thanks for raising this!

From the [build history](https://travis-ci.org/fsouza/go-dockerclient/builds), seems like the test is intermittent, but only at tip, because it has been [green for a while in Drone](https://drone.io/github.com/fsouza/go-dockerclient) :-(

I will run tip locally and see whether I can catch why it is intermittent.

[2015-07-14 00:20] fsouza commented on #320
Hi @ejholmes, I've just merged #327. Thanks for raising this discussion again!

[2015-07-14 00:20] #320 closed

[2015-07-14 12:59] peter-edge commented on #326
The test that fails intermittently is TestAttachToContainerRawTerminalFalse, I can get it to fail about 1 in 5 times on go 1.5 beta. I think the issue is in stdcopy.StdCopy somehow, but I didn't investigate any further than that :)

[2015-07-15 13:37] kgrvamsi commented on #305
Go version Solved the issue thanks @fsouza

[2015-07-15 13:37] #305 closed

[2015-07-16 11:02] #272 closed

[2015-07-16 14:18] peter-edge commented on #326
Does drone have a github integration? Perhaps we should switch builds on PRs to drone for now, if it does. This problem may get put on the backburner - I'll try to spend more time on it soon but it's not great that builds fail for OSS contributions.

[2015-07-16 14:23] fsouza commented on #326
I don't think that Drone can build pull requests :-(

It did build for the #331, because you sent it from a branch in this repository, but I don't think it would build branches from forks.

[2015-07-16 14:26] peter-edge commented on #326
On https://github.com/fsouza/go-dockerclient/pull/331 I actually re-ran the build for one of the golang head runs, it actually did fail unfortunately, ugh. I would even suggest we suspend building against golang head for a bit, except that I have this same error against golang 1.5beta1, which means that in less than a month, this will be a flaky test for the stable release of golang.

I'll see if

[2015-07-16 14:27] peter-edge commented on #322
Fixed!

[2015-07-16 14:27] #322 closed

[2015-07-17 07:16] xiaods opened #333 "go get go-dockerclient got error"
[code]

[2015-07-17 08:09] xiaods commented on #333
gccgo 1.2 ubuntu 14.14

[2015-07-17 10:46] peter-edge commented on #333
See https://github.com/fsouza/go-dockerclient/issues/305, are you using golang < 1.3?

[2015-07-17 12:26] xiaods commented on #333
@peter-edge yes, the default gccgo-go  support golang 1.2

[2015-07-17 12:27] xiaods commented on #333
Go version Solved the issue thanks @peter-edge

[2015-07-17 12:27] #333 closed

[2015-07-21 12:09] johnsudaar opened #334 "VolumesFrom field"
Hey,

I've just a question about the VolumesFrom field.

This filed is present in the [Config struct] (https://github.com/fsouza/go-dockerclient/blob/master/container.go#L198) and in the [HostConfig struct](https://github.com/fsouza/go-dockerclient/blob/master/container.go#L437).

But, according to the Remote API documentation, the VolumesFrom field is only in HostConfig. So why is he present in b

[2015-07-21 13:43] fsouza commented on #334
Hi @johnsudaar, you should use the HostConfig struct. It used to be in the Config struct, but Docker changed it.

In order to not break existing code, we choose to keep VolumesFrom in the Config struct, but it should be documented as deprecated. #321 should address that.

[2015-07-21 14:13] johnsudaar commented on #334
Oh ok.
Thanks !

[2015-07-21 16:30] fsouza commented on #334
No problem, sorry about the confusion!

May I close this issue?

[2015-07-22 09:20] johnsudaar commented on #334
Yes, thanks !

[2015-07-22 13:50] fsouza commented on #334
Thank you!

[2015-07-22 13:50] #334 closed

[2015-07-24 17:48] ZeroGraviti opened #335 "Unable to use docker console's ca certs+keys"
When I attempt to connect to docker using your client lib, is there a way for me to turn off ssl cert verification ? I am able to `curl` to the remote api but only using `-k` or `--insecure`. Is there a way for me to do this from within my go sample code which uses the dockerclient lib ? Here is the error I am getting :
`Get https://192.168.59.103:2376/_ping: x509: certificate is valid for 127.0.0

[2015-07-30 01:54] peter-edge opened #338 "Need to move vendor/ directory for Go 1.5 compatibility"
See https://docs.google.com/document/d/1Bz5-UB7g2uPBdOx-rw5t9MxJwkfpx90cqG9AFL0JAYo/edit for details

[code]

If they did the analysis right, we would be one of those 50. I can do this soon, it will be pretty easy. We can't use the new go vendoring experiment yet and should stick with the party tool as using the new vendoring experiment would break compatibility with 1.3 and 1.4, but I would propo

[2015-07-30 04:54] LEETcc commented on #317
Anyone?

[2015-07-30 08:37] peter-edge commented on #317
You're doing an extra call in the code with the pull - try the bottom code snippet with `docker pull centos && docker run -it centos`

[2015-07-30 08:47] peter-edge commented on #335
You may have to be more specific - how are you calling the Client constructor? If you call it without certificates, you don't get verification.

[2015-07-30 13:53] #338 closed

[2015-07-30 19:25] deitch opened #340 "non-running docker seems to generate infinite events in chan"
I am trying a really simple example, just setting up to listen for events and then `select` to wait for the events. Rather than blocking, the receive from the channel seems to generate infinite events.

[code]

the above `manageEvents` should block until an event is sent in the channel by go-dockerclient. But if you run it, you will see infinite scrolling `<nil>` events.

Of course, it could be so

[2015-08-01 21:12] deitch commented on #340
Oh, never mind. Stupid channel mistakes on my part...

[2015-08-01 21:12] #340 closed

[2015-08-03 09:37] james-nesbitt commented on #251
can you include the line where you create the client please.  I had the same issue when I was using an invalid factory call.

[2015-08-06 02:02] bzz commented on #220
Stuck with the same issue. Do you guys have any updates on how to overcome it?

I used docker 1.4.1 over REST API \w `docker.PortBinding{HostIP: "0.0.0.0", HostPort: "8080"},` and on get `docker inspect` get

[code]
as well as for `docker ps`
[code]

Appreciate your help!

[2015-08-06 03:48] knodir commented on #220
No, unfortunately I could not get this working and moved to a different solution.

I am not sure about your use case, but I needed port bindings to access files inside the container. I ended up mounting the host folder inside container and use that "shared" folder to retrieve files from the container file system.

[2015-08-10 17:52] fsouza commented on #220
@bzz could you provide a reproducer?

Does it fail with this code as well: https://gist.github.com/fsouza/bf2f69f84267cb1b5d25?

Thanks!

[2015-08-11 13:16] pwaller opened #348 "Import path rewriting and GO15VENDOREXPERIMENT do not mix"
Please see https://github.com/golang/go/issues/12111.

In my case, `vendor.org/p` is `fsouza/go-dockerclient`. The basic problem is that I cannot import fsouza/go-dockerclient with `GO15VENDOREXPERIMENT` set (and I want to set it in all of my projects!). I think the only solution may be to avoid the rewriting or rename the `/vendor/` directory in this project.

[2015-08-11 13:20] pwaller commented on #348
A recommendation from the linked issue is to use a directory called `internal` instead of `vendor`. (Though it is preferred to use the new vendoring way wherever it is possible. We might have to wait for GO15VENDOREXPERIMENT to become standard first though).

[2015-08-11 13:49] peter-edge commented on #348
We already re-named it to external, see https://github.com/fsouza/go-dockerclient/pull/339 and https://github.com/fsouza/go-dockerclient/issues/338

[2015-08-11 14:07] pwaller commented on #348
@peter-edge aha! Apologies for the noise, I missed the fact I was looking at an out of date module.

[2015-08-11 14:07] #348 closed

[2015-08-11 14:10] peter-edge commented on #348
All good man haha

[2015-08-12 09:45] paulbellamy opened #350 "API Changes in Docker 1.8.0"
Particularly "Volumes" has been replaced with "Mounts" with a different format.

[2015-08-16 09:48] elasti-erezh opened #352 "support api v1.20 new ability - upload files to container"
Note that the new api deprecates the copy files or folders from a container.

Please support the new added ability to upload/download tarred files to/from a container.

From [docker remote api v1.20](https://docs.docker.com/reference/api/docker_remote_api_v1.20/#extract-an-archive-of-files-or-folders-to-a-directory-in-a-container) :
`PUT /containers/(id)/archive` - Upload an archive of content to

[2015-08-18 14:06] marcosnils opened #353 "Run tests again real docker daemon?"
What do you think about testing against a real docker daemon?. We could use docker inception to have different versions of docker and version the go-client appropriately. It'd also be very helpful when upgrading the client to identify which API's are not working anymore and need to be changed.

I can help with this if you feel it's useful.

[2015-08-18 15:34] fsouza commented on #353
That's a great idea, but I'd like to get it running in some CI infrastructure as well, but I'm not aware of any available infrastructure for these tests (I might host it somewhere private, but I don't know any public CI infrastructure where I could run integration tests against a real Docker API). Do you have anything in mind?

Thanks for raising it.

[2015-08-18 15:42] marcosnils commented on #353
@fsouza I'm using circleci (https://circleci.com/) with a very similar environment to which I've proposed here. It offers a free plan that's more than enough to accomplish what we need.

[2015-08-18 15:46] marcosnils commented on #353
@fsouza check this link also: https://circleci.com/integrations/docker

[2015-08-18 20:50] fsouza commented on #353
@marcosnils cool, I will do some testing. Do you know their policy for handling newer Docker versions?

[2015-08-18 21:26] marcosnils commented on #353
@fsouza we shouldn't care about what version they use because if we use "docker inception" strategy we can test go-dockerclient against any version that we want. As long as they they have a way of running docker images that should be enough :).

Let me know if you need any help.

[2015-08-21 13:26] EwanValentine opened #354 "More of a general question around documentation"
Hi folks,

Great library. Very easy to get up and running. However I was wondering if you have any full documentation for all of the available functions etc? I know this library matches the Docker external API, but I was struggling to work my way around this library (I'm a little new to Go). Is there some generic method for calling these api endpoints? Or a series of functions which match up?

[2015-08-21 14:25] fsouza commented on #354
Hi @EwanValentine, thanks for opening this issue.

You will find all the methods in the client here: https://godoc.org/github.com/fsouza/go-dockerclient#Client.

There isn't a generic method for sending generic requests to an endpoint.

[2015-08-21 14:42] EwanValentine commented on #354
This is perfect, thanks!

[2015-08-21 14:42] #354 closed

[2015-08-21 19:39] #350 closed

[2015-08-22 10:41] compleatang commented on #353
FWIW, we test using circle for our eris tool (which heavily relies upon this lib), but are considering moving away from it due to circle using the BTRFS driver for docker which means that we are unable to test renaming and removing containers. Even with a docker inception (DinD) strategy we have been unsuccessful in getting tests to pass which perform either a rename or remove.

Circle _can_ impor

[2015-08-24 09:00] maxekman opened #357 "Short URL in docs is broken"
I have not tried all of them, but at least this one is broken: http://goo.gl/rLhKSU

[2015-08-28 13:00] 2opremio opened #360 "Update Client.Info()'s response"
Right now  [`Client.Info()`](https://godoc.org/github.com/fsouza/go-dockerclient#Client.Info) only partially supports the schema from API 1.14 but doesn't provide things like Labels (introduced in API 1.16) or multiple `IndexServerAddress` entries (already part of API 1.14).

[2015-08-29 07:50] majidgolshadi opened #361 "Freeze after pull image is finished"
I'm using code below

[code]

When I call `dockerPullImage` function my app freezes after I saw pulling is finished in the output stream.

Why do you think this happens?

Server docker version is

[code]

[2015-08-29 07:54] majidgolshadi commented on #361
I checked `docker images` but i couldn't see pulled image in the list. It seems it can download the image but cannot save the image!

[2015-08-30 08:51] elasti-erezh commented on #352
started working on it and will send pull request when done

[2015-08-30 14:00] fsouza commented on #352
@elasti-erezh thank you!

[2015-08-31 16:16] peter-edge commented on #326
@fsouza this has been ok for a bit, closing

[2015-08-31 16:16] #326 closed

[2015-09-01 03:28] fsouza commented on #357
@maxekman thanks for reporting, I've just pushed a fix for this issue.

[2015-09-01 03:28] #357 closed

[2015-09-01 08:46] Soulou commented on #136
Seems ok, the bug has not happened for a while now

[2015-09-01 08:46] #136 closed

[2015-09-01 12:29] fsouza commented on #136
@Soulou thank you!

[2015-09-01 14:01] jandre commented on #352
^^ does that work?  I need to figure out how to add a test for this.

[2015-09-01 16:18] elasti-erezh commented on #352
@jandre i've tested it vs a live container and it works well.

Don't have a test for it yet..

[2015-09-02 16:09] aanm opened #366 "Events and swarm"
Hey, has anyone tried events with against a swarm agent?
I used this code

[code]

If tcp://127.0.0.1:2375 doesn't exist I get this:

[code]

[2015-09-03 20:48] elasti-erezh commented on #352
@fsouza this can be closed right ?
saw @jandre already took care of it
Sorry for the lag and thank you

[2015-09-03 21:18] fsouza commented on #352
@elasti-erezh no problem! Thanks for opening the issue.

[2015-09-03 21:18] #352 closed

[2015-09-04 06:09] flowlo opened #368 "Avoid pollution of user's filesystems with dangling symlink"
This repository contains [a symlink to a non-existent target](https://github.com/fsouza/go-dockerclient/blob/master/testing/data/symlink). I don't want dangling symlinks on my root filesystem.

Also, it breaks deploying a Google App Engine Managed VM that imports this with [`aedeploy`](https://github.com/golang/appengine/blob/master/cmd/aedeploy/aedeploy.go) because copying the symlink (obviously)

[2015-09-04 06:25] flowlo commented on #368
Sorry about referencing this from two commits, I forgot to rebase first :flushed:

[2015-09-06 14:53] itheiss commented on #350
Still unable to get Mounts previously Volumes from running container with commit d220186. In my opinion  ```Mounts          []Mount             `json:"Mounts,omitempty" yaml:"Mounts,omitempty"`'``` must be part of the ```Container struct```. Could you please verify this or is Docker 1.8 compatibility still WIP?

[2015-09-07 09:47] CMGS opened #372 "Attach API make a FIN_WAIT2 connection"
I use go 1.5 to compile this code, and I found when attach succeed, it made a FIN_WAIT2 connection to get stdout and stderr. Is it a feature or bug?

[code]

[2015-09-07 21:16] cybercode commented on #350
@itheiss is correct. `Mounts` is not part of the `Config`, but part of the `Container`. The following (quick) patch will correct this (tested w/docker-gen):

[code]

[2015-09-08 08:24] openxxs opened #373 "Logs - get two container Logs results in different goroutines at the same time."
## Container A is started by Goroutine A while Container B is started by Goroutine B, at the same time. Each goroutine has created docker client, and includes below code:

[code]

---

It leads to strange containerLogs value: only one containerLogs is right while another one is empty. I have changed LogsOptions: Follow true<-->false, RawTerminal true<-->false. But they doesn't work.

[2015-09-08 09:50] eliasgs opened #374 "client: trouble exiting from attached container"
Hi @fsouza,

Since somewhere around https://github.com/fsouza/go-dockerclient/commit/9702534da348f2aeafce8010d28a87d400cb724e, I have been having some trouble exiting from attached containers. Exiting waits for stdin and fails with: `read dev/stdin: bad file descriptor`

https://github.com/eliasgs/go-dockerclient/commit/97c85625bc5075fed8bb6ce16cebdc5e346c52b2 seems to fix it, but I am not entirel

[2015-09-08 23:29] fsouza commented on #350
@cybercode it's part of both types. Config is used only to create a container. Container is the result of the InspectContainer call.

[2015-09-09 00:17] #368 closed

[2015-09-09 09:11] nlamirault opened #376 "Error during build image using private git repository"
Hi
I try to build and image from a Git repository. It works with github public repository, but with a private Git repository i've got an error :

[code]

How can i setup git authentication ?
Thanks

[2015-09-09 09:11] nlamirault commented on #251
I make a new test it works. Sorry for noise

[2015-09-09 09:11] #251 closed

[2015-09-09 11:32] cybercode commented on #350
@fsouza thanks for the fix. I understood the difference between the container and the config, I guess I'm a bit confused as to why `inspect` returns an empty `Config.Mounts`.

[2015-09-09 15:27] nlamirault opened #377 "error during push image : authentication is required"
i try to push an image but i've got an error :

[code]

Registry is launch with docker :

[code]

The code :

[code]

[2015-09-09 20:16] fsouza commented on #373
Can you show the creation of the buffer? Is it shared in the goroutines?

[2015-09-09 20:22] fsouza commented on #374
Hi @eliasgs, can you share a reproducer? Thanks!

[2015-09-09 20:27] fsouza commented on #377
Hi @nlamirault, thanks for opening this issue!

The registry field isn't used anymore by the Docker API, and it's kept for compatibility only, you need to prepend the address of the registry in PushImageOptions.Name:

[code]

Otherwise, Docker will try to push it to the public registry, and that's why you're getting an authentication error.

[2015-09-09 20:28] fsouza commented on #376
Hi @nickethier, I'm not sure I understand the question, can you share some code? Thanks!

[2015-09-10 01:48] nickethier commented on #376
@fsouza I think you meant to tag @nlamirault :)

[2015-09-10 02:20] fsouza commented on #376
Waaaaat. @nickethier I'm sorry! haha

[2015-09-10 06:46] nlamirault commented on #376
I make build options like that :

[code]

if "remote" is a public repository (like https://github.com/docker/docker) it works fine.
If i setup a private git repository it failed. I suppose it's due to authorization / git authentication.
Do you know how can i setup credentials ?
thanks

[2015-09-10 08:29] nlamirault commented on #377
OK Thanks.
I try that  :

[code]

[2015-09-10 09:15] eliasgs commented on #374
Hi @fsouza
Assuming you have the busybox image available, here is an example that reproduces the issue: https://github.com/eliasgs/reproducer/blob/master/main.go

Thanks:)

[2015-09-10 09:47] openxxs commented on #373
Hi @fsouza , I define the buffer in each goroutines, just like this:
    var buf bytes.Buffer
I am sure they are independent.
If the container runs in a short time and products less logs, it works fine, both containerLogs are right. But complex container will cause the problem. It makes me confused.

[2015-09-10 14:16] fsouza commented on #377
@nlamirault are you able to run it in the command line? ``docker push 127.0.0.1:5000/warhol/inky``?

[2015-09-10 14:47] nlamirault commented on #377
Same error using the docker registry like that :

[code]

[2015-09-10 14:50] fsouza commented on #377
@nlamirault does the image ``127.0.0.1:500/warhol/inky`` exist?

Try that:

[code]

[2015-09-10 14:56] nlamirault commented on #377
it works. :

[code]

[2015-09-10 15:46] nlamirault commented on #377
So i must use TagImage [1] before pushing image ?

[1] : https://godoc.org/github.com/fsouza/go-dockerclient#Client.TagImage

[2015-09-10 19:18] fsouza commented on #377
@nlamirault how are you generating the image? Are you committing a container? If so, you can specify the value directly, with no need for another API call for tagging the image.

[2015-09-11 08:09] nlamirault commented on #377
OK. Thanks it works fine.

[2015-09-11 08:09] #377 closed

[2015-09-11 11:24] awh opened #378 "Large responses over Unix domain socket fail with 'use of closed network connection'"
After the following commit

edc2bd38d8fa79581371ea78b3c09935877a1ade

commands which yield large (> ~4k) HTTP responses over a Unix domain connection fail with the message 'use of closed network connection'. The problem stems from the deferred `dial.Close()` statement:

https://github.com/fsouza/go-dockerclient/blob/edc2bd38d8fa79581371ea78b3c09935877a1ade/client.go#L405

As long as the headers an

[2015-09-11 12:57] fsouza commented on #378
@awh thanks for reporting it! I've just reverted edc2bd38d8fa79581371ea78b3c09935877a1ade so we can get to a proper solution for both issues.

[2015-09-11 13:03] awh commented on #378
No problem - thanks for the prompt response!

[2015-09-11 13:19] fsouza opened #379 "Client.do always read entire response body, which might waste memory"
This has been reported and fixed in the PR #375, but as reported in #378, the fix introduced another bug: because of the ``defer dial.Close()`` call, only the first 4k bytes were available in the body, and then reading the body fails with "use of closed network connection".

We should come with a solution where Client.do don't read entire body and we don't leak file descriptors (maybe handling the

[2015-09-11 13:20] fsouza commented on #378
Closing in favor of #379.

[2015-09-11 13:20] #378 closed

[2015-09-12 13:51] EmileVauge commented on #366
I'm also getting nil events, when the docker server restarts for example.
This is clearly a bug.

[2015-09-16 00:00] alexflint opened #380 "export client.Endpoint"
`NewClientFromEnv()` has some non-trivial logic for deducing the endpoint for the docker daemon, so it would be nice to export the client.Endpoint string so that we can report/use the endpoint from outside.

My own use case is the following: I create a client with `NewClientFromEnv`, then I use it to start a container with an exposed port, and then next I want to make a network connection to that

[2015-09-17 03:10] resouer opened #381 "Support debug mode"
On CentOS, `docker info` will not return Root_Dir unless enable debug mode `docker -D info`, but it seems missing in this go-dockerclient:

[code]

Related: https://github.com/kubernetes/kubernetes/issues/14029#issuecomment-140868416

[2015-09-17 16:33] #379 closed

[2015-09-17 20:14] #380 closed

[2015-09-17 23:30] alexflint commented on #380
Thanks!

[2015-09-18 14:54] zramsay opened #384 "UploadToContainer fails silently if user is not root"
Godeps updated from 42d06e2b125654477366c320dcea99107a86e9c2 to c9ad0ce23f68428421adfc6ced9e6123f54788a5 for `UploadToContainer()` (see code [here](https://github.com/eris-ltd/eris-cli/pull/244)) and now our test for `Logs()` fails. It's not clear why since there doesn't appear to be a diff on that function between those two revisions.

[2015-09-18 16:32] fsouza commented on #384
@zramsay I wasn't able to find the the error message in the build output (https://circleci.com/gh/eris-ltd/eris-cli/787), can you point me out to it, so we can understand what's going on?

Thank you!

[2015-09-18 18:57] zramsay commented on #384
Yup. [Here it passes](https://gist.github.com/zramsay/9361135eb7d36f849eb6#file-logs_pass-L58), and [here it fails](https://gist.github.com/zramsay/4289eadb74637b19c3f0#file-logs_fail-L58). (tests run locally). The test starts [here](https://github.com/eris-ltd/eris-cli/blob/docker_cp/services/services_test.go#L131), and the call to `Logs()` is [made here](https://github.com/eris-ltd/eris-cli/blob

[2015-09-24 13:48] gavrie opened #385 "Client.stream closes stdout/stderr"
In `client.go`, in the `stream` method of `Client`, the stdout and stderr writers are closed when the method finishes.
It seems to me that this is wrong. For example, when passing `os.Stderr`, this causes the standard file descriptor to be closed and it cannot be used afterwards. This bit me and took a while to debug.

What if I want progress to be logged to stderr? Does this mean that I need to w

[2015-09-24 14:10] gavrie commented on #385
If the behavior of closing the writers is required or relied on by others, how about a patch like this:

[code]

[2015-10-01 20:34] drewwells opened #389 "Add support for image search on private registries"
Currently, it is not possible to pass `AuthConfiguration` for an image search. By adding auth, it would be possible to search a private registry for images.

[2015-10-02 14:35] EwanValentine opened #391 "Issues loading Dockerfile's"
Hi there,

This is probably more of a question than a bug. I'm attempting to load a Dockerfile and build an image from it using `BuildImage` and `BuildImageOptions`. However I'm getting an error saying the Dockerfile I'm pointing to doesn't exist. I've used relative and absolute roots, still no luck.

[code]

[2015-10-05 21:16] fsouza commented on #385
I do agree that we should rely on callers for closing the writers, but changing it now might introduce unexpected leaks, whenever the caller is relying on the current behavior.

I will remove the whole Close block, if it breaks existing code, we can then revert my commit and use those if conditions you presented to prevent closing os.Stdout and os.Stderr.

Thanks for raising this question.

[2015-10-05 21:18] #385 closed

[2015-10-07 19:40] marcosnils commented on #353
@fsouza ping?

[2015-10-07 23:47] fsouza commented on #353
@marcosnils I don't have anything new on that yet :-(

But I've seen that Travis added support for Docker as well: http://docs.travis-ci.com/user/docker/.

I will work on a integration test suite, so we can point it to some Docker endpoint with internet access (to enable pulling public images from Docker Hub).

[2015-10-08 01:14] fsouza commented on #353
Hi @marcosnils, I've just pushed a working version that runs on Travis (it's slower because it requires the legacy infrastructure): https://travis-ci.org/fsouza/go-dockerclient/builds/84216280.

Whenever you run "make integration", it runs the integration suite against the Docker endpoint specified in the DOCKER_HOST environment variable.

So now we can focus on adding other test cases and maybe d

[2015-10-08 01:31] peter-edge commented on #353
CircleCI would work, I use it for docker a lot. Happy to help set up.

[2015-10-08 01:35] peter-edge commented on #353
Also I would recommend just using `NewClientFromEnv()` in integration_test.go. How you are setting the client up right now is a simple version of that, might as well make it end-to-end with `NewClientFromEnv()`.

I'm not sure how CircleCI exposes the docker daemon, but if they have `unix:///var/run/docker.sock`, you don't even need to do the docker-in-docker image, you can just do `docker run -v /

[2015-10-09 13:55] fsouza commented on #389
Fixed by #383.

[2015-10-09 13:55] #389 closed

[2015-10-11 04:31] gzoller opened #395 "Having trouble with Docker-Machine (VirtualBox on a Mac)"
Hello,

My Mac's Docker daemon is started like this:

<img width="804" alt="screen shot 2015-10-10 at 11 28 24 pm" src="https://cloud.githubusercontent.com/assets/772873/10414683/c717d33c-6fa6-11e5-8b15-4eea521b1516.png">

So based on that I hard-coded some values like so:

[code]

[2015-10-11 19:50] gzoller commented on #395
It was a key problem.  I wish VirtualBox/Docker shipped w/o TLS enabled by default!

[2015-10-11 19:50] #395 closed

[2015-10-12 21:46] marcosnils commented on #353
@fsouza amazing, I'll take a look at it soon and hopefully provide some feedback about how to nail this feature.

I'm not a go-dockerclient user at this moment. I just saw the project and thought about adding the external docker testing functionality which will help to improve the project on the long term. I don't have too much time in my hands right now, but I'll try to contribute whenever I can.

[2015-10-13 23:00] fsouza commented on #353
I'm not sure we should have all tests pointing to an actual Docker. Imagine the SearchImage test: I'd need to have a container running a custom registry, and somehow configure Docker to insecurely trust this registry, and push some images to this registry, and then ensure that the output of SearchImage is always reproducible.

We can start by having both test suites. I also dislike the idea of hav

[2015-10-15 19:24] fsouza commented on #374
Closed via #396.

[2015-10-15 19:24] #374 closed

[2015-10-20 22:55] onlyjob opened #403 "please tag releases"
Formal releases are useful to downstream maintainers in order to define dependencies as well as to ship release-quality versions.
Please consider tagging. Thanks.

[2015-10-23 13:58] kardianos opened #405 "Move from "external" to "vendor" folder."
By putting dependencies into the "vendor" folder, it will allow packages that import this package to use sub-packages as well without risk of duplicating imports.

The functional change would be to rename "external" to "vendor", remove the import path rewrites, then (for go1.5) set GO15VENDOREXPERIMENT = 1.  Due to third party package use, this may not be viable until go1.6 comes out (no env flag

[2015-10-23 14:34] peter-edge commented on #405
We actually did the reverse of this for the opposite reason heh https://github.com/fsouza/go-dockerclient/issues/338 https://github.com/fsouza/go-dockerclient/pull/339 https://github.com/fsouza/go-dockerclient/issues/348 https://github.com/fsouza/go-dockerclient/pull/349

[2015-10-23 15:46] kardianos commented on #405
Haha.. True, the "vendor" folder is now special and doesn't mix with import path rewriting. I've got nothing against import path rewriting.

Suggestion still stands (probably for a future date) to move (back) to the vendor folder and remove import path rewrites. This will allow package to reference both your dependencies and their own, even when the canonical package path is the same (it allows to

[2015-10-23 16:11] peter-edge commented on #405
Ya for sure haha. I think this library wants to be backwards compatible for now, especially as vendoring is  still done with GO15VENDOREXPERIMENT. But ya, agree haha :)

[2015-10-28 00:46] diptanu opened #406 "Fix build in FreeBSD"
The build for go-dockerclient is breaking in FreeBSD because of Logurus. I think Logurus has now fixed this issue upstream and this could probably be fixed by updating the vendored dependency of logurus.

The build fails with the following error message -

[code]

[2015-10-28 02:18] fsouza commented on #406
Seems like it was caused by a bug in party (mjibson/party#6).

I don't have access to a FreeBSD box, but I can now run ``GOOS=freebsd go build`` here (and it failed before b46f8e550c6cb714d8b8c7c8724a71d2899d7d21), can you confirm that it's now fixed?

[2015-10-28 03:38] diptanu commented on #406
@fsouza Thanks for the quick fix!

freebsd is going through, netbsd and openbsd are breaking now

[code]

[2015-10-28 03:56] diptanu commented on #406
@fsouza I think if we remove terminal_openbsd.go the openbsd build will be happy. Not sure what's wrong with netbsd

[2015-10-28 11:17] fsouza commented on #406
Actually, the error in openbsd build comes the same party bug.

When we update the vendored packaged, party do not remove old files, and seems like logrus unified all *bsd type declarations in a single file.

But after fixing it, I'm getting this error now:

[code]

Sounds like OpenBSD isn't supported by Docker?

netbsd is now happy, but openbsd still fails with the message above.

[2015-10-28 11:59] thaJeztah opened #407 "API Changes in Docker 1.9"
Docker 1.9-rc3 was just released for testing; https://github.com/docker/docker/pull/17000#issuecomment-150451872.

The Docker 1.9 release introduces a number of API changes (API version 1.21), among which are some breaking changes, for example;

- the `/containers/(id)/stats` endpoint will now return statistics per interface (see https://github.com/docker/docker/pull/15786)
- the `NetworkSettings`

[2015-11-01 15:28] thaJeztah commented on #407
Update on this issue; to make the transition to the new networks struct easier, we decided to keep the top-level `Networksettings.IpAddress` (and related) around, at least for the 1.9 release; 1.9-RC4 brings back those properties. The values will be propagated with the default "bridge" network (if the container is attached to that)

[2015-11-06 15:31] zramsay commented on #384
problem identified. see title change. closing; not an issue with this repo ... [`PUT`](http://docs.docker.com/engine/reference/api/docker_remote_api_v1.20/#extract-an-archive-of-files-or-folders-to-a-directory-in-a-container) uses root by default and does not allow override.

[2015-11-06 15:31] #384 closed

[2015-11-06 15:47] fsouza commented on #384
@zramsay thanks for coming back here. I didn't know Docker forces that :-( But I'm glad it works now!

[2015-11-06 19:14] zramsay commented on #384
@fsouza no problem. I'm sure I'll be back!

[2015-11-09 20:00] jjn2009 commented on #407
Volumes appear to be broken, I had 1.8 working fine and after upgrading I now experience problems with mounting volumes.

[2015-11-09 20:38] diptanu commented on #406
@fsouza I think we can close this issue, since I am not sure what's the state of Docker on OpenBSD is.

[2015-11-09 20:38] #406 closed

[2015-11-09 22:08] fsouza commented on #406
@diptanu thank you!

[2015-11-12 10:36] pwaller commented on #179
I think this issue can be closed:

https://godoc.org/github.com/fsouza/go-dockerclient#Client.PauseContainer

[2015-11-12 11:42] fsouza commented on #179
@j0hnsmith can you confirm that following @lalyos's instructions work for you? It worked for me.

[2015-11-12 12:07] j0hnsmith commented on #179
I haven't used this lib for a long time, I'm not really in a position to test myself, but if he says it's fixed that's good enough for me.

[2015-11-12 12:49] fsouza commented on #179
@j0hnsmith thank you! I will move forward and close the issue then.

[2015-11-12 12:49] #179 closed

[2015-11-12 17:33] pwaller commented on #298
This sounds the same as #161? (albeit the title is more general)

[2015-11-12 17:46] pwaller commented on #209
I'm having a problem that sounds exactly like this. I instrumented the writer like so: [Link to a more full description](https://gist.github.com/pwaller/b21e452e0d9ed38d8441).

Essentially, about one in four runs, the program hangs and `AttachToContainer` doesn't return. I'm just trying to grab the standard output. I'm writing a few megabytes of binary (a tar stream) to standard output. The same b

[2015-11-12 17:49] pwaller commented on #209
Just to add, whenever the program does hangs, the size of the last write seems to be around 50 bytes, despite there being plenty of writes of other magnitudes.

[2015-11-12 18:17] pwaller commented on #209
Unfortunately, I can only reproduce this on a cloud machine (docker 1.7.1), and not on my desktop (docker 1.8.3). I suppose it may either be a problem with the older docker machine, or relate to machine speed? I'll continue to investigate tonight.

I managed to coax the stack out. I think systemd or journalctl were swallowing it somehow?

* [Where we're stuck in the attach call](https://github.com

[2015-11-12 18:26] pwaller commented on #209
Okay, I've reproduced this on docker 1.7.1 on the non-cloud machine. I've also seen a load of other weird behaviour. For instance, io.Copy returning no bytes. Or all of the writes being 65 bytes large followed by giving EOF after only 10kiB of the 5MiB stream.

[2015-11-12 18:27] pwaller commented on #209
It's still quite hard to reproduce. It seems to only happen one in tens of times locally. (One in a few on the AWS instance)

[2015-11-12 18:52] pwaller commented on #209
Okay, I just managed to reproduce the problem on docker 1.8.3 as well. It seems actually quite difficult to reproduce locally, requiring very many runs.

[2015-11-12 23:24] mynameismevin opened #413 "not pulling image from custom registry?"
I cannot seem to pull from a custom registry. Am I doing it wrong? I know those images exist, I can download them manually.

[code]

It either hangs and doesn't complete, or it will pull an image from the core Docker registry instead of the Google registry.

Edit:
[code]

[2015-11-13 16:19] ArneZsng opened #414 "Failed to parse dockercfg because of colon (:) in password"
When I tried to connect to Docker Hub, it mysteriously failed with the following error message:

Failed to parse dockercfg: Failed to read authentication from dockercfg

After playing around for quite a bit and looking into the code of go-dockerclient, I was able to figure out that the reason for this failure was that the Docker Hub password contained a colon (:) and thus this logic in auth.go fai

[2015-11-13 18:21] mynameismevin commented on #413
Resolved, it was due to networking issues.

[2015-11-13 18:21] #413 closed

[2015-11-14 12:11] pwaller opened #415 "AttachToContainer hangs or returns prematurely"
This is a followup to what I posted in #209.

I've [written a minimal reproducer](https://gist.github.com/pwaller/314c7591a8bfd32f8999/fabc0320618d9170426e890611c7131c10baa980) which reliably hits the problem.

Grab it:
[code]

There are two problems. The first is that the output is reliably not the correct length:

[code]

Secondly, sometimes it just freezes mid stream:

[code]

Note: I've reprod

[2015-11-14 12:23] pwaller commented on #415
Okay, I think I've cracked the problem. This diff appears to make it work reliably:

[code]

Then there is a second problem: if StartContainer fails, there is no way I can find to cause the `AttachToContainer` call to return, leading to leaked resources. I guess that's already covered well in this bug? https://github.com/fsouza/go-dockerclient/issues/161

[2015-11-14 12:38] pwaller commented on #310
Hi @ebuchman. You also have to attach to the container to obtain the stream, and copy that to `os.Stdout`, something like this: https://gist.github.com/pwaller/314c7591a8bfd32f8999#file-dockerclient-bug-go-L60

I think the bug here is that the documentation is possibly not clear enough as to what the meaning of `AttachStdout` is. For that you have to look at for the docker docs themselves, but tho

[2015-11-14 23:28] fsouza commented on #310
@pwaller thanks for helping him!

@ebuchman does it work for you?

Do you both think that improving the Docker would be enough here. Maybe providing a godoc example along with the field description?

[2015-11-16 13:37] fsouza commented on #415
Yeah, you would be able to detect that start failed and then cancel AttachToContainer.

Sounds like we definitely need to tackle #161 :-(

[2015-11-16 14:36] pwaller commented on #415
OK. I'm going to close this one in favour of #161.

[2015-11-16 14:37] pwaller commented on #415
Renamed since probably it was not the "binary stream" that caused it, but just that my stream was large enough/being transmitted fast enough compared to all of the text streams I tested.

[2015-11-16 14:56] adamveld12 commented on #403
:+1:

[2015-11-16 17:28] pwaller commented on #415
@fsouza is there something to be addressed here which is not #161?

[2015-11-16 17:37] fsouza commented on #415
@pwaller I don't think so, sorry for reopening the issue. Adding some more information, as far as I remember, this is the way Docker guarantees getting all the output from a container: attach to the container before starting it.

Thanks for bringing some light to the issue.

[2015-11-16 17:37] #415 closed

[2015-11-16 17:38] pwaller commented on #415
:+1:. Any chance we can start adding a context to `AttachToContainerOptions`, etc?

[2015-11-16 18:08] fsouza commented on #415
@pwaller that's what I plan to do, but unfortunately I don't have an ETA. Would you be interested in working on that?

[2015-11-16 18:09] pwaller commented on #415
If I get a few spare cycles I'll take a shot at it - no promises or ETA from me either. Feel free to ping me if/when it comes time for review though.

[2015-11-17 16:02] GeorgeMac opened #416 "crypto/tls: failed to parse key PEM data error when creating client"
I am getting a `crypto/tls: failed to parse key PEM data` when go-dockerclient is trying to parse the generated tld keys.

Here is a little more background:
- OSX
- Docker Server 1.9
- Docker Client 1.8.1
- Golang 1.5
- Docker Machine Version 0.4.1

Below is the source I am using to parse the fetch PEM files and pass them to dockerclient. I moved to reading the pem bytes myself, purely because I w

[2015-11-17 16:07] GeorgeMac commented on #416
Just seen it. Sorry everyone!

[2015-11-17 16:07] #416 closed

[2015-11-18 15:25] #414 closed

[2015-11-18 15:52] ArneZsng commented on #414
Thanks! :+1:

[2015-11-18 16:23] fsouza commented on #414
@ArneZsng thank you for reporting it in the first place! :-)

[2015-11-23 11:04] Jam-Lin opened #422 "is there a version control for this docker client?"
hi all,
   i use the docker 1.6 version,  i want to know which go-dockerclient commits is support for docker 1.6.  i use the latest code but there is something wrong, so is there a version control relate to the docker api version? thank you very much.

[2015-11-23 12:44] fsouza commented on #422
@Jam-Lin unfortunately no :-( Can you share which errors you're facing?

I may rollback in time and add some tags to document compatibility with older releases of Docker.

[2015-11-23 14:08] Jam-Lin commented on #422
thank you, it is a performance question.
my config is:
  go-dockerclient version: latest
  docker server: 1.6

test:
  1. i run 20 goroutine to create container -->start container(the image is pull in localhost).
  2. record the time for every goroutine,
  3. the result is:
1st container: spent: 468.368225ms
2nd container: spent: 838.847678ms
3rd container: spent: 1.391688069s
..: spent: 2.0673066

[2015-11-25 16:04] Cerfoglg opened #423 "Can't stop the Stats function via Done channel"
I'm currently experiencing an issue with the Stats function https://godoc.org/github.com/fsouza/go-dockerclient#Client.Stats

According to the doc, this function is blocking, and only stops when the container it's attached to is removed, or when you signal on the Done channel, which can be specified in the StatsOptions you pass to the function https://godoc.org/github.com/fsouza/go-dockerclient#St

[2015-11-28 10:39] achanda opened #424 "CI for docker 1.9?"
The default version of docker that travis provides is 1.7. Thus we are not testing anything post that. With a bunch of new features in 1.9, this was bothering me. I was trying to test against 1.9 and came across this error:
https://travis-ci.org/achanda/go-dockerclient/jobs/93640319

I need some help in getting this to work. I do see that those packages are in GOPATH, but I'm not sure why those ar

[2015-11-29 07:00] erolg opened #425 "How can i get number of containers or images?"
I tried "cap" and "len" command but both of these didn't help.

```len(client.ListContainers(docker.ListContainersOptions{All: true}))```
```cap(client.ListImages(docker.ListImagesOptions{All: true}))```

How can i get number of containers or images?

[2015-11-29 12:21] fsouza commented on #425
len should world, but keep in mind that these methods return both the list and an error:

[code]

[2015-11-30 14:55] fsouza commented on #424
Seems like you're fighting a different issue. I will try to use travis's matrix to run tests against different versions of Docker. Thanks for raising this issue!

[2015-11-30 16:11] fsouza commented on #424
@achanda I solved it with the environment variables in travis.yml. We now have lots of jobs, but Travis can handle it :)

https://travis-ci.org/fsouza/go-dockerclient/builds/93961172

[2015-11-30 16:17] achanda commented on #424
Awesome @fsouza :) I will close this issue now.

[2015-11-30 16:17] #424 closed

[2015-11-30 17:13] bboreham commented on #407
Portions of this were resolved by #410 and #417.  Other things are outstanding; for instance the IPAM-driver fields added in https://github.com/docker/docker/commit/286fe69d5376add77dc31833dc3c2fcc9639dd17

[2015-11-30 17:30] bboreham opened #426 "Network api links are wrong"
There are various links in `network.go` to https://goo.gl/FDkCdQ or https://goo.gl/4hCNtZ; this is the driver side of the API, not the client side that this library should be referring to.

Most of the structures are in https://github.com/docker/docker/blob/master/api/types/types.go, but this file does not explain everything linked to so a straight search-and-replace falls short.

[2015-12-01 13:00] bboreham opened #427 "CreateNetwork error decode doesn't work"
It appears [this](https://github.com/fsouza/go-dockerclient/blob/master/network.go#L96) doesn't work, since the error comes back from Docker as http 500.

example:

[code]

[2015-12-02 13:27] fsouza commented on #427
Sounds like a bug in Docker itself. I will do further investigation on that.

[2015-12-02 13:47] fsouza commented on #427
Just reported docker/docker#18363.

Let's see what comes next.

[2015-12-04 19:21] gianarb opened #430 "Question: Panic error with basic example"
Hello,
Thanks for your work, I don't know if it is a problem of my script or not but I am trying to work with
docker tools on my mac installed by docker toolbox.

I wrote this little script
[code]
When I run it I receive this error
[code]

I tried with a wget and my API works
[code]

I am working with golang 1.5.2
Thanks!

[2015-12-04 21:15] fsouza commented on #430
@gianarb please check the error in the NewTLSClient call, seems like it's returning a nil client and an error.

[2015-12-04 21:23] gianarb commented on #430
oh I am very crazy.. Sorry, yes

[code]
but this file exists..

[2015-12-04 21:27] fsouza commented on #430
What's the output of the command below?

[code]

[2015-12-04 21:31] gianarb commented on #430
[code]

[2015-12-04 21:35] gianarb commented on #430
Resolved!! Sorry for to grab your time!
Thanks for your work!

[2015-12-04 21:35] #430 closed

[2015-12-04 23:02] fsouza commented on #430
@gianarb I'm glad you figured it out. Feel free to open new issues in the future!

[2015-12-05 14:26] Cerfoglg commented on #423
I eventually found out that the function does stop when sending a value on the Done channel (or closing the channel altogether), but it does return an error when doing so. If I catch the error and don't do log.Fatal I can just ignore the error, though it would be best if the Stats function did not return an error when attempting to stop it.

[2015-12-05 14:41] fsouza commented on #423
@Cerfoglg which error you're getting?

[2015-12-05 15:32] Cerfoglg commented on #423
@fsouza The error is "io: read/write on closed pipe" as it appears in the log, which I believe corresponds to ErrClosedPipe in io https://golang.org/pkg/io/

[2015-12-07 10:36] tomwilkie commented on #161
@fsouza mind if I took a stab at this?  For me the idea would be to have c.hijack not block, but instead return an (err, CloseWaiter) where a CloseWaiter is:
[code]
People to who wish to have a blocking interface could call Wait after their calls to AttachToContainer, for example.  Compatibility with the existing package interface could be provided by having new functions for non-blocking operatio

[2015-12-08 13:36] sanketsaurav commented on #144
@fsouza I'm facing a somewhat related issue. When a container is stopped and started again, the attached STDIN is not passed on to the container. Is it the expected behavior? If so, any workarounds for this?

[2015-12-09 22:40] #261 closed

[2015-12-10 18:16] vtuson commented on #220
I am hitting this problem too. Encoding the options into json seems compliant with the api spec. The code above, does not run for me. Any suggestions?

[2015-12-11 01:48] bzz commented on #220
\cc @khalidhuseynov as he might have more context

[2015-12-11 13:08] vtuson commented on #220
I have fix the issue on my side. I was using the correct hostconfig on container create, but then overwriting it on container run.

[2015-12-12 12:35] thanhson1085 opened #433 "client.Stats.Network doesn't work"
I tried to use go-dockerclient to get data from Docker Stats Api. It work fine. Thank for your source code.

Only Stats.Network data always is empty `Network Stats {0 0 0 0 0 0 0 0}`

I checked stats data that returned from /containers/{id}/stats:

[code]

Please take a look: https://docs.docker.com/engine/reference/api/docker_remote_api_v1.22/
I saw the different between Json Data and Network Str

[2015-12-15 15:12] fsouza commented on #433
Hi @thanhson1085, thanks for reporting this issue. The code was broken because we've added support for NetworkStats before docker-network was out!

I've just merged #436, so I'm closing this issue now.

[2015-12-21 08:25] winxxp opened #438 "socket not closed by CloseIdleConnections()"
code has updated to add `SetTransportFinalizer()` in #434

I used `watch -n 1 "netstat -tn | grep 2375 | wc -l"` to watch, and found the numbers grown slowly!

[code]

[2015-12-21 08:46] winxxp commented on #438
and I found, the stream() may call resp.Body.Close() twice.

[code]

[2015-12-21 09:00] orivej commented on #438
Finalizers do not free resources immediately. #434 does not work for you if the number of open connections becomes large, e.g. more than 300; or #434 works for you if the number of open connections grows and shrinks under an acceptable limit.

[2015-12-21 09:21] winxxp commented on #438
buf if changed to `client.ListContainers(docker.ListContainersOptions{All: true})` ,  the numbers would in (0~6).

I try to moifiy newError() , not read the error string, it works good.
[code]

[2015-12-21 09:40] orivej commented on #438
Why did you have to modify `newError`? What problem were you solving?

[2015-12-21 10:35] winxxp commented on #438
@orivej modify newError(), just a test, because when called ioutil.ReadAll(resp.Body), I found the opened connection more than my test request when all finished, on the contray, it equal my request.

In my applicaion always errored: `open client_any/client.crt: too many open files`

now I solved by
[code]

[2015-12-21 10:38] #438 closed

[2015-12-21 12:00] #161 closed

[2015-12-26 17:18] blacktop opened #440 "client.Ping doesn't return an error if it timesout"
You might need to handle the case of a timeout.  I am catching the err and it is `<nil>` but I have my app set up with logrus logging and it is displaying this:
[code]
So when I try and catch that error from your Ping call so I can fail safely, it isn't triggering and my app is crashing when I then go on to try and communicate with docker.

[2015-12-26 23:56] blacktop commented on #440
I believe I was mistaken.

[2015-12-26 23:56] #440 closed

[2016-01-08 07:07] diptanu opened #443 "Question: Docker logs"
Hi @fsouza

I am trying to use this client to stream logs from a docker container. Unfortunately when I use the follow option the io reader doesn't read anything. When the follow is turned off, things work just fine.

Here is the code

[code]

This never prints anything for me if i set follow as ```true``` but works as expected if I set follow as ```false```

Probably doing something silly here, a

[2016-01-08 19:50] diptanu commented on #443
@fsouza So figured out what's happening, the call to client.Logs is blocking, but still not sure why.

[2016-01-08 21:23] diptanu commented on #443
@fsouza When follow is set to ```true``` this is where the call to Logs block https://github.com/fsouza/go-dockerclient/blob/master/client.go#L541

Can you please provide some pointers around what's happening?

[2016-01-08 23:42] diptanu commented on #443
@fsouza So two questions -

a. So it feels like the Logs method on the client was designed to be called from a go-routine? Other then that I feel there is no way to stream the logs the they are being copied into the io.Writers by the client.

b. And if the call to Logs happens on a go-routine, how do we cancel the go-routine?

[2016-01-09 08:12] diptanu commented on #443
Closing this ticket since now I understand the intended use of the Log API.

[2016-01-09 08:12] #443 closed

[2016-01-09 13:04] fsouza commented on #443
Hi @diptanu, sorry about the late response. The logs goroutine will die automatically whenever the container dies. Currently there's no other way of canceling it. You can alternatively using Attach with the non-blocking option, which returns a CloseWaiter, and then you can call the method Close when you want to detach.

[2016-01-15 22:10] allan-simon opened #445 "How does one create a container with the equivalent of `-v` option?"
I'm using the  `CreateContainerOptions`  methods to create containers,  I would like all my containers to have the same `/etc/ssl/certs/ca-certificates.crt`

in the documentation I can see that https://godoc.org/github.com/fsouza/go-dockerclient#Config has a field `Volumes`  but what is bizarre is that it's a `map[string]struct{}`  and I can't find anywhere what is this `struct{}` supposed to be ,

[2016-01-15 22:48] fsouza commented on #445
Hi @allan-simon, you should look for the Mounts field, in the Config struct. The code is indeed bizarre/ugly because of some changes in the Docker API. I apologize for that, but the client must remain backward compatible to prevent breaking code from users of the library.

What I think we should have is a test in the integration tests suite creates a file in some shared volume and confirm that it'

[2016-01-15 22:51] allan-simon commented on #445
no problem, I understand it's not always easy, especially as an opensource project to keep track with API from other project that move at quite fast pace.

I will try to find how to use the Mounts field

[2016-01-21 21:19] ghodss opened #447 "Docker Notary support"
Currently docker pulls with this library do not support images signed by Docker Notary. Is it possible to add support to verify images on pull?

[2016-01-21 22:14] drewwells opened #448 "testing Create Container does not return container information"
The testing Create Container handler only returns the ID. This prevents a developer from using this endpoint to test properly decode container options ie. hostname.

[2016-01-21 23:28] fsouza commented on #448
Oh, nice catch. Thanks!

[2016-01-21 23:29] #448 closed

[2016-01-21 23:30] fsouza commented on #447
Hi @ghodss, I will definitely have a look at that. Thanks for reporting this issue.

[2016-01-26 00:32] smothiki commented on #391
Even I have the same issue. I'm bind mounting docker sock inside a container and docker-file is present inside the container.

[2016-01-26 11:47] peter-edge commented on #391
Hey,

Looking at this, but first off, I highly recommend not to ignore that error from docker.NewClientFromEnv(), or any Golang error for that matter ;) Using panic in general is not great - https://github.com/golang/go/wiki/CodeReviewComments#dont-panic

Here's an easy template for mains:

[code]

I have a package I use, https://go.pedge.io/env, that has a function `env.Main` that will do the sam

[2016-01-26 11:52] peter-edge commented on #391
https://docs.docker.com/engine/reference/api/docker_remote_api_v1.21/#build-image-from-a-dockerfile

You have the field `remote` specified, so the field `dockerfile` is ignored. It is looking for a Dockerfile in github.com/EwanValentine/Rook, which there is not one.

[2016-01-26 15:02] resouer opened #452 "Support OomScoreAdj in hostConfig"
Propose to support  oomScoreAdj in hostConfig, since [docker side PR](https://github.com/docker/docker/pull/16277/files) has been merged for version 1.10.

[2016-01-27 02:28] resouer commented on #452
related #20121

[2016-01-27 15:58] #452 closed

[2016-02-01 05:45] #317 closed

[2016-02-01 05:50] beetree opened #455 "AttachToContainer - Content-Type error with 1.10"
I have a setup using .AttachToContainer. After upgrading to Docker 1.10-rc2 I'm getting an error `Content-Type specified (plain/text) must be 'application/json'`.

Why am I getting this?

Any help would be great!

/beetree

[2016-02-01 06:03] beetree commented on #455
Row 590 in this file: https://github.com/fsouza/go-dockerclient/blob/b3de6cfc437eb5bb97b5b28ed827bcdbd7860e22/client.go

I think that should be changed to `application/json`.

[2016-02-01 06:27] beetree commented on #455
Confirmed. Changing line 590 fixes the problem. If there's a 1.10 branch I'd be happy to submit the fix myself...?

[2016-02-02 04:55] fsouza commented on #455
@beetree do you know if using application/json in previous versions of the API work? If so, you can send the change right away. Otherwise we should provide a solution for supporting both ``plain/text`` and ``application/json``.

[2016-02-05 06:24] beetree commented on #455
No sorry, haven't tested that.

[2016-02-05 14:36] bboreham opened #456 "eventMonitoringState will lock up if one listener is slow"
In `eventMonitoringState.sendEvent`, the [send down each chan](https://github.com/fsouza/go-dockerclient/blob/master/event.go#L235) happens while the `RWMutex` is held.

Thus, if one listener is slow, its chan fills up, the whole thing will grind to a halt because `updateLastSeen` is unable to get the write-lock.

I think this at least means that running `sendEvent` [on its own goroutine](https://

[2016-02-05 15:03] fsouza commented on #455
No problem, I'm on it right now! :-)

[2016-02-05 16:07] #455 closed

[2016-02-05 16:08] fsouza commented on #455
@beetree just pushed a fix for this issue, can you give it a try? Thanks!

[2016-02-06 05:44] beetree commented on #455
Confirmed, working.

[2016-02-09 00:09] ghost opened #457 "Container Stat"
I am just curious that there are memory usage and memory limit but no memory usage percent. I am just feeling that some time it is good to have it.

[2016-02-09 17:59] gopinatht commented on #455
@beetree @fsouza What version of docker has the fix been pushed to? How can I access it?

[2016-02-09 18:00] beetree commented on #455
Of docker? The current dockerclient should work with both docker 1.9.1 and
1.10. The old version of dockerclient was not working with docker 1.10.

On Tue, Feb 9, 2016 at 9:59 AM, gopinatht <notifications@github.com> wrote:

[2016-02-09 18:05] gopinatht commented on #455
@beetree: Aha, my mistake. I am seeing this error coming from the kubectl world and am not completely familiar with the go dockerclient. So I mistakenly thought this was a fix went directly into the docker. Apologies and thanks for the clarification.

[2016-02-09 19:35] fsouza commented on #455
@gopinatht it should be fixed in the next version of Kubernetes as well.

[2016-02-11 18:14] dalanmiller opened #459 "Why does Volumes of CreateContainerOptions take a map[string]struct{}?"
I'm confused why `docker.CreateContainerOptions.Volumes` is a map of strings to structs?

The docs don't explain why this is but I'd imagine that you'd just need map[string] => string to map host volumes to container volumes? There must be something more I'm missing!

Overall this package is great as I was just doing `exec` commands before I realized this was a thing!

[2016-02-11 19:24] dalanmiller commented on #459
A map[string] to structs is (unfortunately) commonly used in Golang as a set. This makes sense.

[2016-02-11 19:24] #459 closed

[2016-02-11 19:49] lyondhill opened #460 "Additional Network Options with 1.10"
The api changed from api version 1.21 (1.9) to 1.22 (1.10) and the NetworkConnectionOptions ( https://godoc.org/github.com/fsouza/go-dockerclient#NetworkConnectionOptions) needs an update in order to align with the new api

1.21
https://docs.docker.com/engine/reference/api/docker_remote_api_v1.21/#connect-a-container-to-a-network

1.22
https://docs.docker.com/engine/reference/api/docker_remote_api

[2016-02-11 23:32] dalanmiller opened #461 "Allow port range specification for PortBinding"
I'm trying to recreate the equivalent of this via `go-dockerclient`.

[code]

But I don't see any way to specify a range of public ports which will be bound to the container port. It seems that PortBinding allow allows for only explicit port binding declarations where the `docker run` client is more flexible.

I attempted this by just setting the `HostPort` value under `PortBinding` as such:

[cod

[2016-02-13 03:05] fsouza opened #463 "Makefile: fmtcheck is not returning non-0 status code when formatting is broken"
See this build that should have failed: https://travis-ci.org/fsouza/go-dockerclient/jobs/108930808.

[2016-02-13 17:21] #463 closed

[2016-02-15 19:09] dalanmiller opened #464 "Equivalent of `-v /path:/path:ro` using go-dockerclient?"
I'm wondering how do a I replicate the same pattern using `go run -v /path:/path:ro` using go-dockerclient? I'm assuming I'm supposed to use `docker.Mount` under `Config` when using `CreateContainer` but nothing is working.

In my use case, I'm trying to mount the LetsEncrypt directory into my container:

[code]

Ultimately, I get no errors and no mount points in the resulting container. I've also

[2016-02-15 19:24] dalanmiller opened #465 "Desperately needs an examples directory."
There's a lot of grey area in some of the possible usage cases of this package. Reading the Remote API docs does not clear up the possible values. An examples directory would be very useful here.

[2016-02-15 20:32] jmparra commented on #464
According to the [API](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.22/#create-a-container) you should use `HostConfig.Binds`

[code]

[2016-02-16 22:03] dalanmiller commented on #464
Thank you @jmparra, I obviously totally overlooked this.

[2016-02-16 22:03] #464 closed

[2016-02-17 04:43] peterj opened #466 "BuildImage runs the container and never returns?"
I am trying to use the code below to build an image from remote repo.

`var buf bytes
buildopts := docker.BuildImageOptions{
Name:  "someimagename",
Remote:  "github.com/peterjausovec/nodeplayground",
OutputStream: &buf,
}
err := dockerClient.BuildImage(buildopts)`

BuildImage call never returns; if I look at the logs from the docker daemon, I see that the image gets build as well as a container g

[2016-02-17 06:59] faiq opened #468 "Implement login command"
hey- docker has a built in docker command called login which lets you use a certain registry with a given username, password and email. typically you would run the command like this

`docker login -u USERNAME -p PASSWORD  REGISTRY`

and typically a new file called `.docker/config.json` is modified or made in the user's home directory which allows them to pull and push from different registry provi

[2016-02-17 15:21] lyondhill commented on #460
It appears the documentation is not showing all the options they are allowing to be set in the network update. https://github.com/docker/docker/blob/48d4e2d953fbf5bbdc46cfdb1405ec7c099d016d/api/client/network.go#L117

[2016-02-17 22:45] dalanmiller opened #470 "What's the equivalent of `-p` from `docker run`?"
I'm trying to publish a container port on a specific host port. If I were using the command line, I know this works fine: `docker run -p 5050:8080`

Here's what I have in my code.
[code]
The port is ultimately unpublished though.

[2016-02-17 23:31] jmparra commented on #470
I understand there is no documentation, [but the test are very useful](https://github.com/fsouza/go-dockerclient/blob/master/testing/server_test.go#L595)

[code]

[2016-02-18 00:36] dalanmiller commented on #470
Looks like that's not working for me either. Do I need to set any other settings in `HostConfig` or `Config`?

[2016-02-18 13:28] jmparra commented on #470
the [latest versions](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.22/#start-a-container) of Docker need `HostConfig` in `CreateContainer`, maybe this can help you.

[2016-02-21 01:07] schmatz opened #471 "1.22 Events Format Change"
The events fields have changed from [1.21](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.21/#monitor-docker-s-events) to [1.22](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.22/#monitor-docker-s-events). Are there plans to change the `APIEvents` fields accordingly?

[2016-02-24 14:00] SpComb commented on #366
Are you sure that's not just a closed go channel return nil values? Try using

[code]

FWIW I haven't noticed any issues when using go-dockerclient against swarm's `/events` API, apart from the extra "from" field embedded in the image name.

[2016-02-26 18:11] dalanmiller commented on #470
Do my `HostConfig` settings need to be identical for `CreateContainer` as well as `StartContainer`?

[2016-02-26 20:17] yassirh opened #473 "Ping() timeout"
Hi. what is the default timeout duration? and is there a way to configure it? thanks

[2016-02-26 22:08] fsouza commented on #470
@dalanmiller only if you want to override it when starting the container, otherwise you can set it to nil in the StartContainer call.

[2016-02-27 02:18] fsouza commented on #473
Hi @yassirh, the ping is a regular request, so you cannot set a timeout to this operation only. Timeouts can be controlled by overriding the HTTPClient used by the library. If you really wanna have a specific timeout for the ping operation, you can create a client instance just for it:

[code]

The timeout in the Dialer is the timeout for establishing the TCP connection. There's also another timeo

[2016-02-27 02:19] fsouza commented on #471
Yes, but we should keep go-dockerclient compatible with older versions of the API as well.

[2016-02-27 19:35] yassirh commented on #473
@fsouza that is very enlightening thank you.

[2016-02-27 19:35] #473 closed

[2016-02-28 10:03] ido50 commented on #468
Also "docker logout"

[2016-03-02 19:53] cezarsa opened #474 "Client.Info() return does not correctly reflect returned data"
Currently [(*Client).Info()](https://github.com/fsouza/go-dockerclient/blob/2705b71/misc.go#L28) return is an `Env` instance which is in fact a `[]string` where each entry is in the format `key=value`.

This does not correctly represent the response from `GET /info` route. According to [docker api docs](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.22/#display-system-wide-infor

[2016-03-03 14:08] onlyjob commented on #403
Seriously this is important for defining dependencies. Please consider [Software versioning](https://en.wikipedia.org/wiki/Software_versioning).

[2016-03-03 20:32] krise3k commented on #403
+1

[2016-03-04 14:07] yassirh commented on #403
:+1:

[2016-03-05 16:59] beetree commented on #433
I'm still having this issue.

Starting a container with:
[code]

My code is:
[code]

The output is:
[code]
(it works retrieving memory stats, but it doesn't work retrieving network stats)

Background info on docker / system:
[code]

It's a fresh `go get` from github and seems to have all the latest updates, including https://github.com/thanhson1085/go-dockerclient/commit/adc42c2863dd78dcabe6b50b64

[2016-03-05 19:15] nickvanw commented on #471
Hey @fsouza! I'm looking at picking up changing the `APIEvents` over to use the new schema in 1.22, but I'm having a hard time picturing how to make sure it's backwards compatible with 1.21 and prior versions.

Because the Docker API change involves adding additional events, as well as radically changing the schema, trying to shoehorn information into a backwards compatible struct feels like it wo

[2016-03-06 00:01] schmatz commented on #471
We might be able update the struct to reflect the new API but translate events from the older APIs to fit in the new struct, with pointers to fields that may not exist for older versions of the API. It might be possible to do this transparently. I haven't had the time to look into this in depth, so I defer to the judgement of @fsouza.

If there are a ton of new features that also exhibit the same

[2016-03-06 16:34] nickvanw commented on #471
If anyone is looking for this ASAP and doesn't need backwards compatibility, https://github.com/nickvanw/go-dockerclient/commit/0dd806834d0002ea156de70ee2f59979f75fc1d7 should get you what you're looking for. I haven't extensively tested it, but it should work.

[2016-03-07 14:56] cezarsa opened #478 "Unexpected behavior of AttachToContainerNonBlocking"
If one wants to mimic the behavior of the `docker run` command using go-dockerclient a common approach would be:

[code]

However, this code is wrong. There's a chance that the container will be started and finished before the attach request is even made. This happens because `AttachToContainerNonBlocking` returns before the attach request is sent to the docker server. To fix this behavior the cor

[2016-03-08 12:54] fsouza commented on #474
Closing, as #476 has been merged.

[2016-03-08 12:54] #474 closed

[2016-03-08 12:54] fsouza commented on #471
Closing, as #477 has been merged. @nickvanw, thanks for working on that!

[2016-03-08 12:54] #471 closed

[2016-03-08 23:43] tnine opened #479 "Streaming not possible with BuildImage"
I may be wrong on this, so feel free to correct me.  I've written a simple test that tests building an image, then piping the buffer of the build to stdout.  It appears the log is completely buffered in memory before io.Copy is invoked.  See this code.

https://github.com/30x/shipyard/blob/master/shipyard/docker.go#L79

When invoking it via the test, I see the following output.

    INFO: 2016/03/

[2016-03-10 01:45] nickvanw commented on #479
Hey @tnine! If I'm looking at the right code in shipyard (I think the line numbers have shifted down), it looks like they're setting an output buffer, but then not reading it until after the `BuildImage` call has returned. Because that method is blocking, by the time it's returned you'll have already completed the image building.

Try launching a goroutine before calling `BuildImage` that reads an

[2016-03-10 23:27] tnine commented on #479
Thanks for the reply @nickvanw.  As a test, I've tried changing my outputBuffer to simply be stdout.  I would expect this to stream as the API call is being made, however, I only get the results at the end.  For instance, I change my outputBuffer in the following way.

`outputBuffer := os.Stdout`

Is the response.Body buffered in the c.stream invocation here before io.Copy is invoked?

https://git

[2016-03-10 23:37] tnine commented on #479
Disregard.  PEBKAC.

[2016-03-10 23:37] #479 closed

[2016-03-11 12:50] shoonoise commented on #405
Any updates? BTW, go 1.6 use `vendor` by default.

We use vendoring feature from 1.6 and have got libs duplication (e. g. `/vendor/github.com/fsouza/go-dockerclient/external/github.com/Sirupsen/logrus` and `/vendor/github.com/Sirupsen/logrus`) it very it very annoying our team.

[2016-03-11 20:43] fsouza commented on #405
@shoonoise using the vendoring experiment does not "solve" the duplication. It isn't an actual problem, as the library may depend on a different version of logrus. So you'd still have two logrus, but one would be inside go-dockerclient/vendor instead of go-dockerclient/external.

I have been using the vendor experiment since Go 1.5 in other projects, I'm still not comfortable to drop both Go 1.3 a

[2016-03-12 00:52] dalanmiller commented on #470
Hey guys, I found my problem! I was doing this:

[code]

And then immediately trying to start a new container with the same exact port. Adding a delay of 3 seconds gave the server enough time to detach the container from the port I assume. As starting a new container with the same exposed port now works fine.

[2016-03-12 00:52] #470 closed

[2016-03-12 12:58] carlskii commented on #366
This seems to work for me. How do I filter the events e.g. container start events only ?

[2016-03-12 12:58] carlskii commented on #366
This seems to work for me. How do I filter the events e.g. container start events only ?

[2016-03-12 13:11] carlskii opened #483 "Filtering events"
I've worked out how to make a simple event listener. However, I need to filter so that only `start` and `die` events are monitored. I can't seem to work out how to add the filter using go.

[code]

[2016-03-12 19:35] carlskii opened #484 "Using `UploadToContainer`"
Hi,

Sorry to post usage questions like this here, but unlike the python docker client which I've been using there seems to be very few examples for how to use go-dockerclient.  I'm trying to work out how to upload a tar archive to a docker container using `UploadToContainer`

I've built a .tar archive in memory which looks like this:

[code]

I've also successfully created a docker-client like th

[2016-03-13 11:53] carlskii commented on #484
I just tried this:

[code]

which returns this:

[code]

but nothing gets uploaded.

[2016-03-14 09:50] shoonoise commented on #405
@fsouza so do you think that each lib should brings all their dependencies with self?

[2016-03-14 12:08] peter-edge commented on #405
@fsouza @shoonoise @kardianos I would recommend we wait until 1.7 to consider this - it's still non-standard, and yes the golang community upgrades quickly, but I think supporting 2 versions prior is appropriate for a library like go-dockerclient. When 1.7 comes out, then 2 versions prior will be 1.5, and then at least you can handle this with GO15VENDOREXPERIMENT=1

[2016-03-14 12:09] peter-edge commented on #405
@shoonoise the original intent of this was that it was a highly-requested feature for go-dockerclient. Many users of go-dockerclient do not use github.com/docker/docker directly, but go-dockerclient does, and docker is a large repository. So when building docker images, for example, having to do go get on github.com/docker/docker each time was really time consuming.

[2016-03-14 13:24] upccup commented on #484
@carlskii  What new progress it?
This is my code
[code]

But there has panic
[code]

[2016-03-14 15:41] awh opened #485 "Event subscription can fail silently"
Under certain circumstances the event subscription mechanism silently stops delivering events:
- If an EOF is received from the event request body by `eventHijack`
- If `connectWithRetry` fails more than five times

We are experiencing the first case here weaveworks/weave#2016.

[2016-03-14 21:21] carlskii commented on #484
Thanks for this. So this works:

Create client like this.
[code]

Then:
[code]

What's the purpose for using `NewVersionedTLSClient` ?

[2016-03-14 21:50] carlskii commented on #484
Hmm even more interesting. This works:

[code]

But this throws a panic `panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x0 pc=0x740fa]`

[code]

[2016-03-15 01:46] upccup commented on #484
@carlskii  THX it work good

[2016-03-15 23:53] timstclair opened #486 "Consider switching to a faster JSON serialization library"
In general libraries that generate JSON (de)serialization code outperform the stdlib `encoding/json` reflection-based implementation. Consider switching to a more performant library such as [ugorji](https://github.com/ugorji/go) or [ffson](https://github.com/pquerna/ffjson).

[2016-03-18 08:34] onlyjob opened #487 "drop local customisations to "github.com/hashicorp/go-cleanhttp""
Bundled/vendored _go-cleanhttp_ is customised: 9d655b36b02eca3965472ce35b89ddae3c87121c

Please consider forwarding your improvement upstream and use pristine [go-cleanhttp](http://github.com/hashicorp/go-cleanhttp) library. Thanks.

[2016-03-18 08:34] onlyjob commented on #487
FYI @orivej

[2016-03-18 08:44] orivej commented on #487
This is not a local customization but a previous upstream. And the previous upstream is more useful than the current one. See https://github.com/fsouza/go-dockerclient/pull/434#issuecomment-195063684.

[2016-03-18 08:46] orivej commented on #487
Do you attempt to unbundle go-dockerclient?

[2016-03-18 09:11] onlyjob commented on #487
Thanks. I did not realise they've removed this code from _go-cleanhttp_. Anyway this is to be discussed with upstream to avoid maintenance burden of maintaining a fork.

You mean _go-cleanhttp_? Yes, downstream (in Debian) we need a modular build reusing system _go-cleanhttp_ library...

[2016-03-18 14:06] fsouza commented on #487
@onlyjob the point in vendoring is pinning a version that is supported by the library. I don't see a compiling reason for updating go-cleanhttp at the moment.

I agree that party does a terrible job at tracking which version of each dependency we're using though.

[2016-03-18 23:10] onlyjob commented on #487
That's why we need to use versioning. Downstream distributions can't rely on vendoring and have to reuse system packages (which is a much better approach). Unfortunately "vendoring" in Golang throws away 20+ years of best practices in software engineering... :(

When do you suppose this might change?

[2016-03-19 01:34] onlyjob commented on #403
See also

 * http://semver.org/
 * [Debian Upstream Guide](https://wiki.debian.org/UpstreamGuide#Releases_and_Versions)

[2016-03-19 03:06] ihsw opened #488 ""API error (500): manifest unknown: manifest unknown" when trying to PullImage()"
I am trying to run `PullImage()` but I keep getting a "manifest unknown" error.

This is the repository I am trying to pull: https://hub.docker.com/r/ihsw/omega-jazz/

And the repository param is: "ihsw/omega-jazz"

[2016-03-19 12:43] fsouza commented on #488
@ihsw can you share some code? What's the version of your remote Docker host?

[2016-03-20 04:24] ihsw commented on #488
I'm just running:

    client.PullImage(docker.PullImageOptions{Repository: "ihsw/omega-jazz"}, docker.AuthConfiguration{})

And here is my Docker version: Docker version 1.9.1, build a34a1d5

[2016-03-20 21:19] jen20 commented on #296
This is fixed by docker/docker#21325  - I'll open up a PR here to update the vendoring.

[2016-03-20 21:55] prateekgogia commented on #488
I am also hitting this error in Docker version 1.9.1, but works fine in 1.10.1. However, would like this to work in version 1.9.1. Here is the error and docker version:
API error (500): repository name component must match "[a-z0-9](?:-*[a-z0-9])*(?:[._][a-z0-9](?:-*[a-z0-9])*)*"

docker version
Client:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   a34a1d5
 Built:

[2016-03-28 03:18] actaeon opened #490 "1.22 Event Format not working as expected"
@nickvanw

Thanks for the work on the new Docker events in 1.22, but I'm having a small issue with it.
Events coming from API version 1.22 on my Docker 1.10.3 instance aren't showing up as expected. (I may be just misunderstanding the way it's supposed to work.)

Here is a container create event as sent by the Docker API:

[code]

And here's the APIEvents struct returned by go-dockerclient (I did

[2016-03-28 13:35] nickvanw commented on #490
Hey @actaeon, thanks for the bug report!

At first glance, this looks super weird! Upon taking a look at the [engine-api](https://github.com/docker/engine-api/blob/master/types/events/events.go#L26-L27) code, it looks like container events can still get the Status/ID data (which is what we're seeing here, I think).

I should be able to tighten up the logic a little bit more to make sure that we do

[2016-03-28 14:43] nickvanw commented on #490
Hey @actaeon!

I just put in #491, which should fix this issue! If you want to pull it down and verify, that would be fantastic! The new event struct for your container create event would look like this:

[code]

[2016-03-28 22:03] #490 closed

[2016-03-29 01:50] subicura opened #493 "client.Logs stream.ReadString occur "slice bounds out of range" error sometimes"
Hi, I'm looking at streaming the logs of containers using go-dockerclient.

I find https://github.com/fsouza/go-dockerclient/issues/134#issuecomment-51641207 sample. It seems work well, but sometime `panic: runtime error: slice bounds out of range` error occur. (If you try 10 times, 5-6 error find)

What is my mistake?

Thank you

This is sample code.

[code]

[2016-03-29 02:29] matthieudelaro opened #494 "How can I interact with a program in a container ?"
Hello,

I'm trying to run a command in a container, kind of like `docker exec`. But I am obviously not using the lib properly, because I have the following problem: some extra characters are printed. It doesn't seem to be random, but I can't find any pattern. In the following example, there is an extra d character printed at the beginning:

[code]

Also, it seems like the container interprets keyb

[2016-03-29 14:30] actaeon commented on #490
Thank you both, I appreciate it!

[2016-03-30 15:55] nickvanw commented on #485
Hey @awh!

I've experienced this issue as well - specifically

I was able to work around this (and other errors) by listening to the channel's boolean response here: https://github.com/nickvanw/docker-proxy/blob/master/manager.go#L96-L100 - when this happens, the channel will have been closed, and you can re-create the listener.

I would love to make a longer-term fix for this bug, but I think it

[2016-03-31 15:03] drewwells opened #495 "API Events listener fails with OS X private beta"
During debugging, I noticed that requesting a listener channel always fails in the OS X private beta. Not sure if it's a docker bug, or go-dockerclient bug. No errors are given on this call, so at least it would be helpful to add error context when this call fails. Other docker calls worked just fine. If there are workarounds, it would be great to list them here.

Communication type: socket `/var/

[2016-04-02 21:00] nickvanw commented on #495
Hmmm, this is interesting! I'm in the Docker for Mac beta as well -- I'll give this a go sometime this weekend or week.

[2016-04-08 04:47] benton opened #498 "PullImage function fails with private registry endpoints"
I am having a problem using the [PullImage][1] method to download Docker images from any registry endpoint other than the public registry (in my case, [Amazon ECR][2]).

I believe that the following sample code *should* attempt to pull an image from the registry endpoint `https://bogus-hostname.whatever.com`, and should therefore produce some sort of "host not found" error. Instead, the code is ig

[2016-04-09 07:27] ghostcloud-dev opened #499 "SearchImages painc"
painc when c.do return nil, err
![tmp](https://cloud.githubusercontent.com/assets/18361618/14402406/686905c2-fe67-11e5-9f25-f2cd8aa50a87.jpg)

[2016-04-09 12:11] fsouza commented on #499
Nice catch, thanks for reporting!

[2016-04-09 14:14] #499 closed

[2016-04-14 00:20] nickvanw opened #500 "Docker 1.11 & Docker Remote API v1.23"
It looks like 1.11 and a corresponding API update has been released.

The specifics on the API changes: https://docs.docker.com/engine/reference/api/docker_remote_api/#v1-23-api-changes

Over the next week or so, I'm going to try and get as many of the changes in as possible. If anyone else is interested in helping with the work, post here and we can coordinate.

[2016-04-14 09:04] paulcadman commented on #500
I'm willing to help with this.

[2016-04-14 13:35] peter-edge commented on #500
A checklist for things that are changed, check them off once you have a PR in review or if the task was already completed previously:

- [ ] GET /containers/json returns the state of the container, one of created, restarting, running, paused, - [ ] exited or dead.
- [ ] GET /containers/json returns the mount points for the container.
- [ ] GET /networks/(name) now returns an Internal field showing

[2016-04-14 13:36] peter-edge commented on #500
https://github.com/fsouza/go-dockerclient/pull/502

[2016-04-14 16:08] peter-edge commented on #500
@fsouza we have to decide what to do with `Client#CheckAuth`, which is the `POST /auth` API call. Before, there was no returned information, so the function just returns error, but now there is returned information, so we should return something like an `AuthStatus` struct, but this will break existing usage of this function.

https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#c

[2016-04-15 12:51] krallin opened #503 "Info() fails on Docker 1.6"
As opposed to e.g. Docker 1.10, older versions of Docker return integer values for the (pseudo) boolean values in the info call.

Here's e.g. what Docker 1.6.2 returns (note: I do not know when exactly that output changed, but I do know that it's integers on Docker 1.6.2 as opposed to booleans on Docker 1.10.3 — I can try and figure out the exact version difference if needed):

[code]

However, `I

[2016-04-15 12:57] krallin commented on #503
Quick additional data point: Docker 1.9.1 returns booleans (i.e. it's not affected).

[2016-04-15 14:48] nickvanw commented on #500
@peter-edge I'm not the maintainer of course, but I think a breaking change is appropriate here, otherwise we risk masking errors.

Longer term, what would you think about using something like http://labix.org/gopkg.in @fsouza? It would make adding breaking changes much easier.

[2016-04-15 14:56] peter-edge commented on #500
I agree that a breaking change would be OK here.

I don't know about gopkg.in - so many people already have github.com/fsouza/go-dockerclient as their import path already, and I actually kind of like everyone either having to be up to date, or vendoring. I am less in favor of gopkg.in than I used to be :)

[2016-04-15 14:58] nickvanw commented on #500
That's a fair point, it'd still be breaking no matter what for a large number of people. In reality, people should probably be using the vendoring introduced in 1.5 to avoid this problem

[2016-04-15 14:59] peter-edge commented on #503
This one is...fun.

So overall, go-dockerclient generally just parses JSON directly, to do a split on this, having an intermediate struct with fields of `json.RawMessage` would probably be the way to go, and then switch based on the type. There's other places in the code I'd want this to be done too, namely strings (like the `State` string for containers that only has a static set of values `Runni

[2016-04-15 15:00] peter-edge commented on #500
Anyways, it's more fun to run your own import server :) https://go.pedge.io https://go.pedge.io/importserver

[2016-04-15 16:07] fsouza commented on #500
I agree that it's fair to take this breaking change in. I'm going to merge #502, then you work in the breaking change :-)

Thanks for contributing! :-D

[2016-04-15 16:32] peter-edge commented on #500
https://github.com/fsouza/go-dockerclient/pull/505

[2016-04-15 21:19] tahmmee opened #507 "APIMount.RW should be bool - listContainers fail"
Looks like recent regression from
https://github.com/fsouza/go-dockerclient/commit/88cf489573aa4e48954412d865600a715c3639d9#diff-4042076be99ff99c0353b4d447624156R52

Where json is decoding RW to bool, whereas the field is defined as a string, leading to err
json: cannot unmarshal bool into Go value of type string

             "Mounts": [
                     {
                              "Name"

[2016-04-15 21:32] #507 closed

[2016-04-15 21:33] fsouza commented on #507
Ops, sorry about that. Just pushed a fix.

Thanks for reporting.

[2016-04-15 21:53] tahmmee commented on #507
nice +thanks

[2016-04-18 08:09] raphink commented on #445
@allan-simon have a look at https://github.com/camptocamp/conplicity/blob/master/conplicity.go#L137-L143

[2016-04-18 08:12] raphink opened #509 "Tty required?"
When I try to run a program using this library as a container without a tty attached, I get errors `inappropriate ioctl for device`.

Is it necessary to have a TTY attached to the process?

I don't get this with every action:
- `ListVolumes` works
- `InspectVolume` fails

[2016-04-18 08:22] allan-simon commented on #445
@raphink , ah nice thanks :)

[2016-04-18 15:49] fsouza commented on #509
Hi @raphink. No, TTY should not be required. Can you share some code that reproduces the issue?

[2016-04-18 20:47] raphink commented on #509
@fsouza I'm having this issue with https://github.com/camptocamp/conplicity/blob/master/conplicity.go. When I put it in a container and run without a tty:

[code]

but it works with `-t`.

[2016-04-19 17:21] nickvanw commented on #500
Thinking we can probably close this, kind of envious that @peter-edge got to implementation before I had time!

[2016-04-19 17:21] #500 closed

[2016-04-19 18:03] fsouza commented on #500
@peter-edge @nickvanw @justone thank you for your awesome work in this issue :-D

[2016-04-20 17:22] cezarsa opened #511 "data race in events monitoring code"
I could only get this race trace when running the tests with Go tip. It seems like a write on closed channel panic is possible after taking a quick look at this.

[code]

[2016-04-21 21:23] robbertkl commented on #511
Just experienced this (or at least something similar) when playing around with the event listener:

[code]

This happened when I stopped the docker daemon it was streaming events from (connected through TCP+TLS). I had already received the channel close notification, which I could see from output of my code before the panic. The docker daemon I stopped had no containers running, so I'm not sure wh

[2016-04-22 00:17] dongmx opened #513 "CreateContainer with user defined network not work"
I create a contaienr with `HostConfig.NetworkMode = "xxx"`.  And when container running, `docker inspect` shows that `NetworkMode` is `"default"`. I think maybe you missing `NetworkingConfig` in type `CreateContainerOptions`.

[code]

[2016-04-22 19:05] fsouza commented on #513
Hi @dongmx, thanks for reporting this issue. Can you share the piece of code that you're using to test this?

[2016-04-22 19:12] robbertkl commented on #511
After more testing, I was able to reproduce my issue, described above. I traced the problem and fixed it in #514. I'm not sure if this covers the possible race condition/trace starting this issue.

[2016-04-22 19:43] fsouza commented on #511
@cezarsa I've been failing to detect this race with ``go test -race``. I tested with Go at master and 1.6.2 in OS X, what's your environment?

[2016-04-23 17:10] fsouza commented on #509
Hi @raphink, did you find what was wrong? I was looking into it and was unable to reproduce it with the command you provider (see output below) :/ Which version of Docker you're running?

[code]

[2016-04-24 19:46] raphink commented on #509
You probably don't have any volumes on your machine. Can you try creating a volume and launching it again?

[2016-04-24 23:46] fsouza commented on #509
Oh, makes sense. Will try that!

[2016-04-25 07:59] dongmx commented on #513
It's should be easy to test. User `docker network create xxx` create a network, then create a container which `HostConfig.NetworkMode = "xxx"` and start it with go-dockerclient. Then docker inspect to check this container's `NetworkMode `.

[2016-04-25 14:03] cezarsa commented on #511
@fsouza For some reasons race detector catching these data races on linux with:
[code]

Running against master I can see that there are still race conditions even after #514:

[code]

[2016-04-25 15:50] fsouza commented on #511
These data races should be fixed now. I enabled race detector in Travis to help us detect this kind of error in the future.

The fix is far from ideal, I want to have a deeper look in the event monitoring code and potentially refactor it soon.

[2016-04-25 16:51] cezarsa commented on #511
I think there's still a race condition there. It took about 20 minutes of running `while ./go-dockerclient.test; do true; done` for it to show up, but here it is:
[code]

[2016-04-25 20:03] fsouza commented on #511
Looks like travis caught this one as well: https://travis-ci.org/fsouza/go-dockerclient/jobs/125598582.

[2016-04-27 17:53] erolg commented on #433
@beetree @fsouza still having same issue.

[2016-04-27 18:09] fsouza commented on #433
I'm reopening for reviewing what's going on, thanks for letting me know!

@beetree sorry for taking that long to reopen the issue.

[2016-04-29 01:55] WIZARD-CXY opened #516 "go dockerclient support context?"
I wonder if there is any support on context using in client.
context info : https://blog.golang.org/context.
I think it would be nice if I can cancel a ongoing client request.
Thanks

[2016-04-29 19:15] fsouza commented on #516
Hi @WIZARD-CXY, currently go-dockerclient doesn't offer contexts or other general methods for canceling in-flight requests. I believe it would be a nice thing to have, though.

[2016-04-29 21:36] beetree commented on #433
No problem, hoping to have it fixed soon :)

[2016-05-01 19:07] fsouza commented on #487
Closing, as go-dockerclient is no longer vendoring. See 9d5fef7969a53796f7405827c3e68804f533b1ee for more details.

[2016-05-01 19:07] #487 closed

[2016-05-04 01:14] WIZARD-CXY commented on #516
@fsouza I think it would be nice too, maybe I can help you with it.

[2016-05-04 08:10] matthieudelaro commented on #126
+1 for this one

[2016-05-10 02:10] jaytaylor opened #518 "No client `Disconnect' method or auto-reconnection?"
Here is what I am observing:

1. There is no way to disconnect a docker.Client (no `Close()' or similar).

2. When listening on the unix:///file socket and the docker system service gets restarted, the client does not reconnect itself.

3. Subsequent calls to docker.NewClient() then cause my program to quickly eat all available system memory when docker isn't running (rough estimate is ~50MB of me

[2016-05-10 19:34] jaytaylor commented on #518
I've switched to the [possibly more up-to-date] [github.com/samalba/dockerclient](https://github.com/samalba/dockerclient) library and all the aforementioned issues has disappeared.

[2016-05-10 19:34] #518 closed

[2016-05-11 00:41] fsouza commented on #518
Hi @jaytaylor, go-dockerclient doesn't have a "Close" because Docker API is plain-old-HTTP. Were you using latest master of go-dockerclient? If you have some code snippet that reproduces the issue, I'd like to work on it!

BTW, Docker offers an official client now: https://godoc.org/github.com/docker/engine-api/client.

[2016-05-13 12:54] deepakprabhakara commented on #500
Just a quick query, I noticed that PidsLimit was added to Config, doesn't Remote API v1.23 need it in the HostConfig instead?

[2016-05-13 14:22] fsouza commented on #500
Indeed, @deepakprabhakara. Pushing a fix.

I'll remove PidsLimit from Config, and if it affects someone, I add it back.

[2016-05-13 20:55] deepakprabhakara commented on #500
Excellent, thank you @fsouza!

[2016-05-14 09:13] matthieudelaro commented on #126
I did not find `net.Dial`, but how about replacing `client.go:617`
[code]
with

[code]

[2016-05-17 12:42] fsouza commented on #513
Can you try with NetworkingConfig, as of the changes from PR #519?

[2016-05-18 01:14] #513 closed

[2016-05-22 19:56] paralin opened #521 "Proper pull output"
When pulling, if I attach the output to Stdout, I get a lot of spammy output, basically one line for each progress update tick.

Is there any way to get nicely printed progress output, like in the official docker client?

[2016-05-23 11:02] pietv commented on #521
@paralin you can take a note how we have this using the docker `jsonmessage` package: https://github.com/eris-ltd/eris-cli/blob/master/perform/perform.go#L743-L770

Though would really love `dockerclient` have a better looking output itself.

[2016-05-26 12:53] matthieudelaro commented on #166
Actually, there is one more thing to do if you want your docker client to be able to attach to a container. Since attaching to a container works partially in binary (a part of the process is not un pure HTTP), setting the parameters of the https transport is not enough.

So you have to add something like:
[code]

Unfortunately I did not save the exact code, because in Nut I replaced everything wit

[2016-05-30 01:31] wangweihong opened #524 "FilterListNetworks get api 400 error"
When I call NetworkFilterOpts for fliter those Network "name=bridge" or "type=builtin", it always return api 400 error to me.But  I can get right information by calling function "ListNetworks". This is my code which is copied from network_test.go :
    _opts := dockerClient.NetworkFilterOpts{
        "name": map[string]bool{"bridge": true},
        //"type": map[string]bool{"builtin": true},
    }

[2016-05-30 16:51] pwaller commented on #182
It seems I was the only person interested in this feature for some time, so closing.

Also, it's now possible to achieve this with `docker/engine-api` and context.

https://godoc.org/github.com/docker/engine-api/client#Client.ImageBuild

[2016-05-30 16:51] #182 closed

[2016-05-31 04:37] paralin opened #525 "Segfault on arm due to sync/atomic"
I am getting this panic on running AddEventListeners:

[code]

The panic is in storeUint64 in 64bit_arm atomic, line 165 on event.go in go-dockerclient.

Apparently it's something to do with alignment of structs:

 - https://github.com/tpng/afero/commit/9132fc2caa2e5cfa428f8665189923b5236c4f0f
 - https://github.com/spf13/hugo/issues/1621

[2016-05-31 05:00] paralin commented on #525
https://github.com/paralin/go-dockerclient/commit/898d47a4b0b6b75e476b8091207e128c18969164

This is a good workaround, and works fine on arm (tested).

[2016-05-31 05:03] paralin commented on #525
Fixed by #522, please pull

[2016-05-31 14:48] fsouza commented on #525
@paralin thanks for reporting and confirming that #522 fixes it!

[2016-05-31 14:48] #525 closed

[2016-06-02 11:42] bboreham opened #527 "CreateNetworkOptions.Options is wrong type"
At https://github.com/fsouza/go-dockerclient/blob/master/network.go#L115 it's `map[string]interface{}`, but at https://github.com/docker/engine-api/blob/master/types/types.go#L449 it's `map[string]string`

I could submit a PR, but thought I would seek your view on making such a breaking (and not very important) change.

CC @dcbw who seems to have added this line in the first place (likely Docker h

[2016-06-03 01:20] erolg commented on #425
@fsouza thanks!

[2016-06-03 01:20] #425 closed

[2016-06-06 19:55] joeshaw opened #528 "misleading error generated by 404 from docker daemon"
`client.CreateContainer` interprets any 404 from the server as a "no such image" error (`ErrNoSuchImage`), but there are other problems that can cause a 404 error.

One problem that I'm running into with the Docker for Mac beta is that the `LogConfig` inside the `HostConfig` points to a syslog unix socket in the container that does not exist: `LogConfig:{Type:syslog Config:map[syslog-address:unix:

[2016-06-06 22:22] selvik opened #529 "Is client safe for concurrent use by multiple go-routines?"
I was wondering if I can create a TLS client once (NewTLSClient) and reuse it repeatedly from multiple goroutines throughout the duration of my application?
Or is the recommended usage to create a client for each API call?

Thank you for any hints!

[2016-06-07 13:44] margueritepd opened #530 "Support DOCKER_CONFIG environment variable"
The docker cli supports the `DOCKER_CONFIG` environment variable to indicate where the client should look for docker configuration vs the default `~/.docker`). See [the docs](https://docs.docker.com/v1.8/reference/commandline/cli/#configuration-files)

`go-dockerclient` should support it too, and/or passing in the docker config path explicitly.

[2016-06-07 17:46] fsouza commented on #529
Hi @selvik, it is supposed to be safe. We've been using it with [tsuru](https://github.com/tsuru/tsuru) with no problems.

The tests run on Travis with the race detector enabled. We might not have coverage for some edge cases tho.

Please let me know if you find any bad/unexpected behavior!

[2016-06-07 17:56] selvik commented on #529
@fsouza Thank you very much for the prompt response - we were going to make a design change and this is very helpful feedback. 👍 I will be changing our usage and will let you know if we find anything go amiss.

[2016-06-08 13:21] fsouza commented on #528
Hi @joeshaw, thanks for opening this issue. It used to be in the past the createContainer reported 404 only when the image didn't exist, and we didn't catch up with changes in Docker daemon.

[2016-06-08 13:27] fsouza commented on #527
Hi @bboreham, sorry for the delayed response, and thanks for reporting this issue. I'm not sure if Docker changed that, but it's unfortunate that we're not using the exact same type. That being said, it still works if the user uses only strings as values in the Options map. It's far from ideal, but I'd not want to make this breaking change :-(

[2016-06-08 13:30] bboreham commented on #527
OK, no problem

[2016-06-08 13:30] #527 closed

[2016-06-11 11:49] fsouza commented on #530
Looks good, could you include a test and open the PR? Thanks!

[2016-06-11 17:15] pietv opened #531 "Beta Docker Windows support"
A question: does dockerclient support the Beta Docker for Windows which uses the endpoint

[code]
instead of
[code]
https://github.com/docker/docker/blob/master/opts/hosts_windows.go#L6
https://github.com/docker/docker/blob/master/opts/hosts.go#L26
https://github.com/docker/docker/blob/master/opts/hosts.go#L63-L83

Thank you in advance.

[2016-06-11 22:56] fsouza commented on #531
Hi @pietv, it isn't currently supported, I could look into that, but unfortunately I don't have access to a Windows Machine with Beta Docker for Windows to test it.

Could you help testing?

[2016-06-11 23:01] pietv commented on #531
Hi @fsouza, sure! I'm happy to test it on a Windows 10 machine. Thank you!

[2016-06-11 23:12] fsouza commented on #531
Awesome, thanks! I will dig it up, prepare a pull request and notify you. I won't be able to work on that today, but I hope I can have something by Monday.

Thanks for opening the issue.

[2016-06-11 23:16] pietv commented on #531
Monday is great! Not at all! Thank you! :)

[2016-06-12 17:19] hgontijo opened #532 "go-dockerclient#ParseRepositoryTag not parsing properly images with digest"
Parsing repo and tag from an image (with digest):
[code]

The parsing results is:
[code]
instead of
[code]

Is this an expected behavior for go-dockerclient#ParseRepositoryTag?

[2016-06-13 20:36] fsouza commented on #532
Hi @hgontijo, no, this isn't the expected behavior. I'm marking this issue as a bug, but please notice that ``sha256:4a731fb46adc5cefe3ae374a8b6020fc1b6ad667a279647766e9a3cd89f6fa92`` is a digest, and not a tag. This image has no tag.

Thanks for opening the issue!

[2016-06-14 01:05] fsouza commented on #531
@pietv I'm running late :-( Unfortunately it's more complicated than I thought (I'll need a new dependency for handling named pipes). I'm still working on that.

[2016-06-14 01:14] pietv commented on #531
@fsouza thank you for the update! yes, I've noticed the `DialPipe` machinery on the Docker side which didn't look very straightforward to incorporate. No rush and thank you!

[2016-06-17 10:59] laplab opened #534 "Duplication of Memory settings and config properties"
According to Docker API 1.23 [create container](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container) has memory settings only inside HostConfig. Why they are duplicated in Config and HostConfig of [CreateContainerOptions](https://godoc.org/github.com/fsouza/go-dockerclient#CreateContainerOptions)?
Why KernelMemory property is inside Config and not inside HostCo

[2016-06-17 19:09] dadgar opened #535 "Ability to timeout requests over Unix Domain Socket"
The client's HTTPClient is exposed which allows you to set the timeout when using TCP but since the unixClient is created lazily and not exposed, the same facility can not be used.

I have a commit to do this: https://github.com/dadgar/go-dockerclient/commit/cdd3eb9d0f02d39cde0fd35aa7c67ba8835bed1c

Let me know if you would want this as a PR

[2016-06-21 08:26] missedone opened #537 "starting container with HostConfig was deprecated since v1.10 and removed in v1.12"
i got following error with Docker 1.12 RC:
[code]

according the doc [Deprecated Engine Features](https://docs.docker.com/engine/deprecated/#hostconfig-at-api-container-start):

Deprecated In Release: v1.10.0
Removed In Release: v1.12.0
Passing an HostConfig to POST /containers/{name}/start is deprecated in favor of defining it at container creation (POST /containers/create).

while the go-dockerc

[2016-06-21 13:32] fsouza commented on #537
@missedone that's bad :-( Thanks for reporting. I'm thinking about keeping the parameter in go-dockerclient, but don't send it to the API, and document this behavior.

This way we wouldn't break the go-dockerclient API, and still be compatible with newer versions of Docker.

What do you think?

[2016-06-21 14:14] fsouza commented on #534
Hi @laplab, thanks for raising this question. In some ancient version of Docker, Memory and some other settings were specified in Config, then it moved to HostConfig. I wanted to wait before removing these parameters from Config, until Docker provided no support for versions that still take Memory in the config. I believe this time has arrived, so I might create a tag for go-dockerclient and clean

[2016-06-21 14:20] fsouza commented on #535
Hi @dadgar, sorry for the delayed response and thanks for opening this issue. Your change looks good, please feel free to send the PR.

[2016-06-21 14:35] fsouza commented on #534
Just to add some information, this is how Config and HostConfig looked like in Docker 1.0:

Config: https://github.com/docker/docker/blob/v1.0.1/runconfig/config.go#L11
HostConfig: https://github.com/docker/docker/blob/v1.0.1/runconfig/hostconfig.go#L22

When go-dockerclient started (circa Docker v0.3), there was no HostConfig: https://github.com/docker/docker/blob/v0.3.0/container.go#L54-L72.

[2016-06-21 15:24] laplab commented on #534
Thank you very much for your fast answer and fix! Now it is clear for me.

[2016-06-21 21:41] missedone commented on #537
hi @fsouza
yes, i think so
with 2nd thought (but have not yet checked through the code), since docker remote api allow us pass the version number, if go-dockerclient support it, we can send the `HostConfig` only if the version < 1.12 ?

[2016-06-21 23:01] fsouza commented on #537
@missedone yep, we can do that and it's indeed better. I'm going to make this change.

Thanks!

[2016-06-21 23:36] #537 closed

[2016-06-21 23:37] fsouza commented on #537
Just pushed the fix, thanks for reporting!

[2016-06-22 04:07] missedone commented on #537
thanks, verified on both docker engine 1.11.2 and 1.12 RC

[2016-06-22 13:02] timgp opened #539 "Newest client calls /version on every startContainer"
https://github.com/fsouza/go-dockerclient/commit/67c30ae246a11510ed1c3b72145e2daf76e4d664

This commit has changed behaviour in my unit tests as all calls to StartContainer now seem to make an additional HTTP request to /version under the covers.

Is this correct?  Or should version checking be done when creating a new client?

[2016-06-22 13:14] fsouza commented on #539
@timgp the version checking is done only if it wasn't done before. When creating a new client, it's done only if you specified the API version that you want to use (using ``NewVersioned(TLS)?Client``).

The other operations that triggers a request to ``/version`` are:

- StartContainer
- BuildImage

But the request is always trigged once per-client, unless it fails. That might be the case in your

[2016-06-22 15:18] timgp commented on #539
Thanks, you're right, each unit test creates a new client so the additional stubbed response is required. Thanks for the quick response.

[2016-06-22 15:18] #539 closed

[2016-06-28 17:19] fsouza commented on #535
@dadgar I'm closing this issue, thanks for contributing!

[2016-06-28 17:19] #535 closed

[2016-06-28 17:45] paralin opened #542 "NetworkingConfig needs json and yaml tags"
In `container.go` the EndpointsConfig needs json and yaml key parameters.

[2016-06-28 18:15] paralin commented on #542
Fixed by #543

[2016-06-29 12:20] fsouza commented on #534
I'm going to close this issue. Please feel free to reopen it or open new issues whenever you find something wrong/unclear about go-dockerclient.

Thanks!

[2016-06-29 12:20] #534 closed

[2016-06-29 12:21] fsouza commented on #530
Since the PR has been merged, I'm going to close this issue. Thanks for opening it and for contributing with the needed changes!

[2016-06-29 12:21] #530 closed

[2016-06-30 00:15] carsonoid commented on #498
This happened to me. You need to ignore the registry param and just put the full registry/repo path in the repository field.

So instead of:
[code]

Use:
[code]

I don't think there is support for a "Registry" field when calling /images/create.

[2016-07-01 14:37] sms81 opened #544 "invalid memory address"
Hi, I am using tlsclient to try to list all docker images
here is the code

[code]

I am having the following error
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x0 pc=0x72c7d]

goroutine 1 [running]:
panic(0x3d91c0, 0xc82000a0d0)
	/usr/local/go/src/runtime/panic.go:481 +0x3e6
github.com/fsouza/go-dockerclient.(*Client).do(0x0, 0x45d5c0, 0x3, 0x

[2016-07-01 14:50] fsouza commented on #544
Hi @sms81, please check the error returned by ``NewTLSClient``. When it returns an error, it also returns a nil client, and calling ``client.ListImages`` would result in a nil-pointer dereference error, which is what you're facing.

[2016-07-01 15:13] sms81 commented on #544
Oi francisco, eu primeiro quero agradecer pelo seu projeto lindo que voce fez. Quando eu faço panic para NEWTLSClient eu recebo esse erro
[code]
mas eu tenho certeza que esse file existe e esta nesse lugar
voce consegue me ajudar?

[2016-07-01 15:43] fsouza commented on #544
@sms81 opa, a expansão ``~/Documents/certificates/cert.pem`` não funciona no Go, quem entende que ``~`` é o seu home é o shell (foi mal, só vi que tinha esse trecho no seu código depois que você comentou).

Você tem que botar o caminho completo (``/Users/saidsaifi/Documents/certificates/cert.pem``) ou usar a função [os.ExpandEnv](https://golang.org/pkg/os/#ExpandEnv) (no seu caso, ``certpath := os

[2016-07-01 19:36] sms81 commented on #544
@fsouza  valeu! mt obrigado eu tentei colocar o caminho completo não deu certo continuou aparecendo o mesmo erro mas eu usei o os.ExpandEnv parou de dar erro mas n sei consegui ver as imagens do docker porque to fora do network segunda feira eu testo.
muito obrigado mesmo voce me ajudou bastante :)
eu queria saber se voce pode mandar para mim exemplos do seu go-dockerclient tipo para criar/apagar/

[2016-07-05 18:40] #544 closed

[2016-07-09 18:30] benton commented on #498
@carsonoid Thank you!

[2016-07-09 18:30] #498 closed

[2016-07-14 03:39] xh4n3 opened #548 "omitempty should remain for Cmd and Entrypoint"
Hi @fsouza @ybogdanov,

Sorry to pull this old issue out.
[omitempty for Cmd and Entrypoint](https://github.com/fsouza/go-dockerclient/issues/314)

Personally I think the solution is wrong. If anyone wants to rewrite a base image setting, that's a issue of base image, we probably should leave that option blank.
In addition, if removing omitempty is correct, we should also remove omitempty for othe

[2016-07-14 08:27] sms81 opened #549 "How can I list only containers running a specific version of an image?"
I want to retrieve only containers that are running a specific image and its version how can i do that?
I used
`conts, err := client.ListContainers(docker.ListContainersOptions{All: true})`
to retrieve all containers and tried to use
`conts, err := client.ListContainers(docker.ListContainersOptionsFilters: map[string][]string{"Image": {"<imagename>:<version>"}}})`
to retreive only containers that

[2016-07-14 09:17] sms81 commented on #549
Problem solved using ancestor tag instead of image
`conts, err := client.ListContainers(docker.ListContainersOptionsFilters: map[string][]string{"ancestor": {"<imagename>:<version>"}}})`

[2016-07-14 09:17] #549 closed

[2016-07-18 09:47] ybogdanov opened #551 "Docker 1.12 HEALTHCHECK"
Hi,

Any plans to support the new container Healthcheck option? https://github.com/docker/engine-api/blob/master/types/container/config.go#L49

[2016-07-19 17:00] ybogdanov commented on #548
@xh4n3 What about base images cannot change?

[2016-07-20 02:21] xh4n3 commented on #548
@ybogdanov How about you create your own image based on that, and override the entrypoint.

[2016-07-20 06:01] ybogdanov commented on #548
@xh4n3 How you think Docker does itself so that you can override entrypoint? My case is the following: I'm developing [rocker](github.com/grammarly/rocker) which have to be compatible with `docker build` – that's it, it should be able to unset CMD and ENTRYPOINT. So this issue can only be solved in my case only if the API client will be able to do that.

[2016-07-24 20:50] cirocosta commented on #483
I think it's worth pointing out that filtering is actually supported by the Remote API

[2016-07-30 03:36] kyhavlov opened #555 "Docker 1.12 support"
Are there plans to update this repo to support the new API endpoints like node/service in 1.12?

[2016-08-01 09:25] sms81 opened #557 "Will it support docker remote api v1.24?"

[2016-08-01 13:24] ybogdanov commented on #551
Docker 1.12 has been released, any update on this? We can do a PR if you want.

[2016-08-02 15:50] fsouza commented on #551
Hi @ybogdanov, thanks for opening this issue and sorry for taking that loooong to get back to you. I'm not aware of anyone working on this, so yes, you can send a PR :-D

Thanks for opening the issue in the first place!

[2016-08-02 15:52] fsouza commented on #557
Hi, I believe @andrewsmedina is working on some patch for that. I will close this issue as it duplicates #555.

Thanks for opening it!

[2016-08-02 15:52] #557 closed

[2016-08-02 19:04] ybogdanov commented on #551
Thanks @fsouza, we will take a look. Any recommendations on the implementation?

[2016-08-02 20:10] fsouza commented on #551
I'd just add the Healthcheck field to the Config struct and make the another struct with the required Healthcheck configuration. We could call it HealthConfig, just like that in the link you shared initially. What do you think?

[2016-08-03 12:09] relvacode opened #558 "VolumesFrom should be a slice not string"
The `VolumesFrom` attribute of `container.Config` expects `[]string`, not `string`.

[2016-08-03 12:39] ybogdanov commented on #551
Closing in favor of https://github.com/fsouza/go-dockerclient/pull/559

[2016-08-03 12:39] #551 closed

[2016-08-12 22:06] logicminds commented on #478
What if this is a container that is interactive?  Meaning we also need to write to stdin and get stdout?

Example: ruby irb session

[2016-08-13 00:17] logicminds opened #563 "question about the hijack method"
I am trying to run commands on a container by writing to a "stdin stream" and then read the output by reading the "stdout stream".  But I can't get this to work.

Essentially, I do the following:
1. create container
2. Create two pipes (one for stdin, other for stdout)
3. attach to container
4. start container
5. write input on stdin
6. read output on stdout

The code snippet is here.  I know that

[2016-08-15 13:53] johscheuer opened #564 "Question - Modify Container at creation"
I want to modify the mount points at the creation time of a container. I subscribed to the `create` and with the following snippet I get the Container Config:

[code]

then in the `adjustMounts` method I want to modify the mount points:

[code]

The printed Config shows the modified mount points but when I run `docker inspect <docker-id>` I see the old mount point and of course this results in an

[2016-08-16 03:13] fsouza commented on #564
Hi @johscheuer, thanks for opening this issue. This library only communicates with the Docker remote API, when you inspect the container, the library grabs the information and keeps a copy in memory. If you want  to make operations in containers, you need to find the corresponding call in the Docker remote API.

That being said, it's not possible to change the mount points of a container after it

[2016-08-16 03:31] fsouza commented on #563
Hi @logicminds, what happens when you try to do that?

Since you're building a repl and using the TTY, please make sure that you also set RawTerminal, otherwise go-dockerclient will mess with the byte stream returned by the Docker remote API.

Here's an example that works: https://gist.github.com/fsouza/43a05241ed9f943d24e5324c0f07471a

[code]

Thanks for opening this issue!

[2016-08-17 01:08] prateekgogia commented on #528
Seeing the same issue, when network name provided for create container call in opts is not found. Error returned is - "no such image". Actual error response body - "network failme not found".

@fsouza - I can submit a PR for this error fix.

[2016-08-17 08:09] ybogdanov commented on #548
@xh4n3 Are you satisfied with the reasoning, can we close the issue? Or the selective "omitempty" solution is getting in your way somehow?

[2016-08-17 08:57] xh4n3 commented on #548
Sorry to be this late.
I've read your Rocker, and I know this could be impossible to work if omitempty remains.

The case here is, I wrote a kind of container manager tool just like Kubernetes.
I use this tool to push a job definition file to etcd, so we can start job from definitions in the etcd.
Definition file was written in YAMl, so tool would firstly unmarshall it into a struct to get stored

[2016-08-17 09:14] ybogdanov commented on #548
@xh4n3 Hm. Let me think of your case, I'll come back later.

[2016-08-17 15:19] johscheuer commented on #564
Thanks @fsouza for your fast reply. So my first try was this:

[code]

theoretically everything should be fine (from my perspective) but `c.Config` is empty and this is why the creation of the new container fails (basically it doesn't fail but I get an Container without any configuration). Do you know what I'm missing or why the config is empty?

[2016-08-17 16:03] fsouza commented on #564
@johscheuer where does this ``c *docker.Container`` parameter come from? If it is the value returned by CreateContainer, you need to call InspectContainer to get everything back, because CreateContainer returns the container only with the ID filled up. Something like:

[code]

Sorry abut the confusion, I updated the documentation for CreateContainer to clarify that it doesn't return the complete c

[2016-08-17 20:16] johscheuer commented on #564
@fsouza ah okay, thanks :) So hopefully one last question:

I get the original Container this way:

[code]

Then I adjust the mount points with the function from above and in the next step I recreate a new Container (I added some debug output):

[code]

I get the following output:

[code]

I tried doing this but I still get the old mount point:

[code]

The code is here if you want to take a look

[2016-08-17 21:01] #564 closed

[2016-08-18 13:48] gravis opened #568 "Display a deprecation error for CopyFromContainer and docker 1.12"
Hi,

We have a worker based on go-dockerclient running for 2 years now. After an upgrade to docker 1.12, the worker stopped working, and I can't figure out why :(

The simplified process is:

- Create the container
- Start the container
- Wait for container to finish
- Attach output to fetch result
- Remove container

The process is failing after step 3, with `No such container: [container_id]`.

[2016-08-18 14:11] gravis commented on #568
It's not removed, the problem seems to be in `CopyFromFiles`

[2016-08-18 14:18] gravis commented on #568
Ok, this method is completely not working with docker 1.12, I must use `DownloadFromContainer` now (which is working btw).

I'm updating the title of the issue, we need to issue a visible warning about the deprecation of `CopyFromContainer`, otherwise people will fall into the same trap.

[2016-08-19 00:13] fsouza commented on #568
@gravis thanks for reporting it! Should we check the API version and return an error? Or just document?

[2016-08-19 02:01] gravis commented on #568
Definitely check the API version, and return an error. This would have saved me 2h of debugging, and I'm probably not the only one :)
Of course it was noted as deprecated in the code, BUT:
- you need to know exactly which function is not working well
- with just ` No such container: [container_id]`, it's almost impossible to tell
- we can't read all the source of the libs we're using, all the time

[2016-08-19 02:05] fsouza commented on #568
@gravis I'd rather return the error. I'm going to do that.

We've done similar stuff with StartContainer (HostConfig is no longer supported in Docker 1.12). I'm sorry to read that it took you two hours of debugging to figure this out. Thanks for opening the issue!

[2016-08-19 02:28] gravis commented on #568
Don't be sorry :)
At least it's fixed on my side, and pretty soon for everyone thanks to you!
I wish I could spend another extra hour to provide a nice PR :(

[2016-08-19 02:56] #568 closed

[2016-08-19 15:32] nkovacs commented on #415
Are you sure? `AttachToContainer` succeeds before `StartContainer` is called, so the goroutine shouldn't leak.

[2016-08-20 14:32] zramsay commented on #531
@fsouza have you made any progress on this front? Now that Docker for Windows is out of beta, users are asking for supported integration. Perhaps there is work @pietv or I can help with.

[2016-08-21 20:05] fsouza commented on #531
Sorry @zramsay, I haven't had any progress on that. Help is very welcome!

I wonder if we could have the code in continuous integration afterwards.

[2016-08-24 07:33] sorawa commented on #558
yes,need a pr~!!

[2016-08-25 14:14] fsouza commented on #558
You should probably use VolumesFrom in HostConfig. It used to be in Config, now it's in HostConfig. Sorry about the mess, Docker keeps changing the API.

I'll add a comment to Config.VolumesFrom to make it clear that it's no longer valid.

Sorry for the delayed response, and thanks for opening this issue!

[2016-08-25 14:16] #558 closed

[2016-08-27 20:45] andrestc commented on #555
I think we are only missing the [plugins](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/3-6-plugins-experimental) api. Should we add experimental features to the client or wait for them to become stable?

[2016-08-27 22:51] fsouza commented on #555
@andrestc we had experimental features in the past. We can wait until someone needs it.

[2016-08-30 23:56] nikhilm commented on #423
Bringing up an old issue since we've been experiencing spurious errors due to this.
Closing the `Done` channel passed to `StatsOptions` immediately closes the read end of the pipe here - https://github.com/fsouza/go-dockerclient/blob/master/container.go#L1025.

Further reads from the json decoder, or attempts to write to the write end will result in io.ErrClosedPipe, which is what gets returned. I

[2016-08-30 23:58] nikhilm commented on #423
Also, I guess a better description of this issue is "Stopping the Stats() function via Done channel leads to bad reads from pipe and spurious errors."

[2016-09-02 06:18] kingbug opened #576 "tcp port=0 will throw a exception"
when port is null  or 0,will throw exceptin

[2016-09-04 20:54] fsouza commented on #576
@kingbug on which method? InspectContainer?

[2016-09-05 03:03] kingbug commented on #576
@fsouza  yes.InspectContainer！ This should return an error ，Otherwise it will cause the program to exit

[2016-09-05 03:06] kingbug commented on #576
@fsouza  file:client.go  412

[2016-09-05 04:13] fsouza commented on #576
@kingbug can you share a code snippet? The only way client.go:412 could panic is if you're using a nil client (maybe ignoring the error returned by the constructor?), like below:

[code]

You might be using an older version of the client as well, in this case your client.go:412 could be something else. In either case, it would be great to have a reproducer.

[2016-09-07 13:08] ramdayan opened #577 "Configuring container network with Docker 1.12"
Hi,

I'm running a container in a specific network and since I updated to Docker 1.12 it seemed to stop working, meaning the network is not set (as observed in docker inspect).
It looks like a compatibility issue with the new docker API and can probably affect other features as well.

Here's a test code that runs such a container in order to demonstrate the problem:
[code]

[2016-09-07 15:56] fsouza commented on #577
@ramdayan it's because Docker 1.12 no longer accepts the HostConfig in StartContainer, I didn't want to break the docker-client api, so it just omits the parameter on Docker 1.12. You need to provide the HostConfig on CreateContainer now:

[code]

Sorry for breaking your code.

[2016-09-08 08:24] ramdayan commented on #577
It works perfectly, thanks!

[2016-09-08 08:24] #577 closed

[2016-09-09 21:45] #532 closed

[2016-09-09 21:46] fsouza commented on #516
go-dockerclient supports context now! :D

[2016-09-09 21:46] #516 closed

[2016-09-09 21:51] #407 closed

[2016-09-09 21:54] samuelkarp commented on #531
@fsouza I've started working on this and hope to have a pull request ready next week.  Is there anything specific other than just adding support that I should handle?  (For example: the endpoint defaults to `tcp://127.0.0.1:2375` on Windows but `unix:///var/run/docker.sock` elsewhere; should the Windows behavior change to default to the named pipe or stay with TCP by default?)

[2016-09-09 21:56] fsouza commented on #531
@samuelkarp thank you very much for working on that! Regarding the default endpoint, I think we can stick to Docker's behavior here. What do you think?

[2016-09-09 22:01] 5k3105 opened #578 "endpoint spec?"
Using Go1.7 from Win7 machine to connect to Alpine + Docker machine.

I am attempting to use the example with endpoint "unix:///var/run/docker.sock"

I am using the client to remotely connect to the docker service. The host machine has ip addr 10.200.14.169

I'm not sure what the endpoint should look like. Maybe "http://10.200.14.169:xxxx" with some port number I don't know about?

Thanks.

[2016-09-09 22:54] samuelkarp commented on #531
@fsouza For "[Docker on Windows](https://msdn.microsoft.com/en-us/virtualization/windowscontainers/docker/configure_docker_daemon)" ([Windows Containers](https://msdn.microsoft.com/en-us/virtualization/windowscontainers/about/about_overview)) the default is `npipe:////./pipe/docker_engine` (the path is `//./pipe/docker_engine` and protocol is `npipe://`).  I'm not sure what the default is for "[Do

[2016-09-09 23:31] fsouza commented on #578
Hi @5k3105, the default Docker port is 2376 for TLS-enabled connections and 2375 to non-tls connections. You'd need to check which port the server is listening to, if any.

[2016-09-09 23:34] fsouza commented on #531
@samuelkarp oh boy. It looks like the default is a named pipe in the client: https://github.com/docker/docker/blob/master/opts/hosts_windows.go#L6. So we can go with ``npipe:////./pipe/docker_engine``.

Thanks!

[2016-09-12 14:48] zramsay commented on #484
we use like this here:
https://github.com/eris-ltd/eris-cli/blob/master/data/operate.go#L83
although it's not exactly a minimum viable example

[2016-09-15 00:55] samuelkarp commented on #531
@fsouza I've opened https://github.com/fsouza/go-dockerclient/pull/579 to add support for named pipes on Windows.

[2016-09-18 10:38] omallo opened #580 "Accept the service version in Client.UpdateService"
According to the [API documentation](https://goo.gl/wu3MmS), the `Client.UpdateService` function should pass a service `version` parameter to Docker which is used for optimistic locking. Without this parameter, the call always fails.

[2016-09-18 14:31] fsouza commented on #580
Hi @omallo, thanks for reporting and sorry about the broken code in the first place.. I just pushed a fix.

[2016-09-18 14:31] #580 closed

[2016-09-18 15:44] omallo commented on #580
Hi @fsouza , thanks a lot for the very rapid fix! I just gave it a try and it seems to work fine.

BTW: From the API documentation I'm not really sure whether the version should be an `int` or a `string` but I saw that you are using different types in `UpdateServiceOptions.Version`, `UpdateNodeOptions.Version`, and `Version.Index`.

[2016-09-18 15:55] fsouza commented on #580
@omallo thanks! I'll look into Docker code to confirm the correct type.

[2016-09-18 15:57] fsouza commented on #580
Indeed it's an integer on Docker code, I'll update ``UpdateServiceOptions.Version`` to be an int. Thanks for the catch!

[2016-09-19 07:24] mervynzhang opened #581 "undefined: http.MethodPost"
Hello,

i'm trying to build https://github.com/looplab/logspout-logstash , which leverage go-dockerclient, but got following error, could you please help to fix this?

# github.com/fsouza/go-dockerclient
../../fsouza/go-dockerclient/auth.go:167: undefined: http.MethodPost
../../fsouza/go-dockerclient/client.go:366: undefined: http.MethodGet
../../fsouza/go-dockerclient/client.go:378: undefined: ht