[2016-09-19 11:17] amitripshtos commented on #581
same here :(

[2016-09-19 11:54] fsouza commented on #581
Hm, looks like this is new in Go 1.6. I'm reverting, sorry about that.

[2016-09-19 11:57] #581 closed

[2016-09-19 19:58] #531 closed

[2016-09-29 19:04] Trane9991 opened #589 "Can't find Dockerfile as client on Windows"
Hello,
using client connecting to remote docker daemon.
When connecting from Linux to Docker daemon installed on CoreOS everything is ok.
When connecting from Windows to Docker daemon installed on CoreOS and trying to build docker image(on remote system) I get `API error (500): {\"message\":\"Cannot locate specified Dockerfile: Dockerfile\"}`. Pull images works ok.

[code]

where is: `app.cnf.Dock

[2016-09-29 20:14] fsouza commented on #589
@Trane9991 try with ``path.Join`` instead of ``filepath.Join``. This information is probably compared to the contents of the tarball sent to the remote server and tar always uses ``/``, even on Windows.

[2016-09-30 00:30] swaroopgr commented on #494
Setting RawTerminal to false helped remove the unnecessary character. The only difference I see is that we would do stdcopy instead of io.copy. I'm not sure why that introduces the extra character though

[2016-10-01 08:40] Trane9991 commented on #589
@fsouza
hey, still no success with code:
[code]

get next output:
[code]

any ideas?

[2016-10-01 13:00] Trane9991 commented on #589
@fsouza
Hello, I have found a problem. I created simple test application which creates Tar archives with use `createTarStream` method(https://github.com/fsouza/go-dockerclient/blob/master/tar.go#L20) and I found that problem is in the resolving relative path on Windows.
Example:
Creating 2 tar packages from the same directory, only one time with relative path and next time with absolute path:
[cod

[2016-10-01 13:38] Trane9991 commented on #589
@fsouza
As a workaround, adding `filepath.Abs()` to the contextDir in my code works fine. But this need be fixed in the library.

P.S. I tried to replace `validateContextDirectory`(https://github.com/fsouza/go-dockerclient/blob/master/tar.go#L67) with builder.ValidateContextDirectory() from https://github.com/docker/docker/blob/master/builder/context.go#L26 but looks like issue still persist.

[2016-10-01 13:47] Trane9991 commented on #589
@fsouza
As a workaround adding `absContextDir, err := filepath.Abs(filepath.Join(app.cnf.DockerfilesPath, item.Name))` works fine, but the issue need to be fixed in the library.

P.S. I'm tried to replace `validateContextDirectory`(https://github.com/fsouza/go-dockerclient/blob/master/tar.go#L67) with the `builder.ValidateContextDirectory`( https://github.com/fsouza/go-dockerclient/blob/master/tar

[2016-10-07 03:21] #578 closed

[2016-10-07 03:21] #576 closed

[2016-10-07 03:22] #542 closed

[2016-10-07 03:23] #56 closed

[2016-10-09 15:12] fsouza commented on #191
Since the community put itself in the vendoring world, and there's work going on to improve this state, I'm going to close this issue for now.

[2016-10-09 15:12] #191 closed

[2016-10-09 15:15] fsouza commented on #180
Same as #191. Let's see what are the next steps in Go versioning/package management.

[2016-10-09 15:15] #180 closed

[2016-10-09 15:17] fsouza commented on #296
Closing too, we no longer vendor the dependencies (as libraries should not do).

[2016-10-09 15:17] #296 closed

[2016-10-09 15:21] fsouza commented on #298
We can use context to cancel any calls now :)

[2016-10-09 15:21] #298 closed

[2016-10-19 04:31] jbucaran opened #593 "What's the difference between the docker client package and go-dockerclient?"
What's the difference between the [docker client package](https://github.com/docker/docker/tree/master/client) and go-dockerclient (this project)?

Cheers.

[2016-10-19 15:07] fsouza commented on #593
@jbucaran this project is older, from a time where Docker didn't provide a client (around May 2013).

The issues below can provide some background:

- docker/docker#224
- docker/docker#640
- tsuru/tsuru#372
- tsuru/tsuru#440

[2016-10-19 15:12] fsouza commented on #593
Oh, I realized I haven't explained anything, just threw some links. Sorry about that. So, we wanted to use the Docker API before Docker wanted to commit to providing a stable API, so I created the client. After committing to a stable API, Docker created the official client.

[2016-10-19 17:43] jbucaran commented on #593
@fsouza Thanks for the links! Those would've been hard to dig up myself.

What would you recommend for a new project? Go with the official client?

Thanks!

[2016-10-19 17:43] #593 closed

[2016-10-21 17:23] ahmetalpbalkan opened #594 "Godoc links to docker.com are broken"
As far as I can tell, all the goo.gl links to docker.com, such as :

[code]

are broken in the method documentations.

[2016-10-22 00:21] fsouza commented on #594
Oh no :( I'm going to fix them. Thanks for reporting!

[2016-10-22 01:07] #594 closed

[2016-10-24 10:51] kohlerm opened #596 "If socket is used shouldn't that skip any http proxy?"
I ran into this when trying https://github.com/matthieudelaro/nut:
For the tool to work with your client lib I have to add /var/run/.docker.sock to the   no_proxy environment variable.
This was also necessary for old docker versions in genear, but is not required anymore since quite some time.

[2016-10-24 14:54] fsouza commented on #596
Hi @kohlerm, thanks for reporting! Indeed we should skip proxies when using local sockets.

[2016-10-25 03:08] lwhhhh opened #598 "Could not get images list"
I used "go get github.com/fsouza/go-dockerclient" command to get the this package.
Then  pasted example code to run fristly, but I got a blank output.
I can sure my image list is not empty.

Is my operation wrong?

[2016-10-25 03:19] fsouza commented on #598
Hi @lwhhhh, maybe something is failing and the example code doesn't check for errors (unfortunately). I'm going to push a fix, but can you try with the code below instead?

[code]

[2016-10-25 03:38] lwhhhh commented on #598
@fsouza

I pasted the new code and run it, then the output told me "/var/run/docker.sock" not exist.(but my docker can run well ?).So I created the file next, but now I get a permission denied when I run it.

I tried to entry "sudo su"(ubuntu), but also get another error.

[2016-10-25 03:52] fsouza commented on #598
@lwhhhh you need to see where Docker is running and point go-dockerclient to it. Can you run ``docker run``? What's the output of ``docker info``? Do you have the DOCKER_HOST environment variable?

This file is a unix socket and should be created by the Docker daemon (if it's configured to do so).

[2016-10-25 04:55] lwhhhh commented on #598
@fsouza
Oh sorry, my docker environment was damage(maybe since  I entrid
 `sudo docker -d -H unix:///var/run/docker.sock  -H tcp://127.0.0.1:9090` previously)

After I rebooted  my machine, the code could run well.

Thanks for you reply.

[2016-10-25 05:02] #598 closed

[2016-10-26 20:07] ahmetb opened #599 "Requires 32 external dependencies, mostly unnecessary"
Here's the dependency graph of this package: https://godoc.org/github.com/fsouza/go-dockerclient?import-graph&hide=2

When I vendor this repo with govendor, here's the list of packages I'm getting:
1. [`github.com/Azure/go-ansiterm`](https://github.com/Azure/go-ansiterm)
2. [`github.com/Azure/go-ansiterm/winterm`](https://github.com/Azure/go-ansiterm/winterm)
3. [`github.com/Microsoft/go-winio`](h

[2016-10-30 18:11] rusenask commented on #599
thanks, `github.com/docker/docker/api/types/swarm` is actually generating a lot of pain.

[2016-11-01 14:35] summerQLin opened #600 "How to save image to a tar archive, and load it back"
Hi,

docker has a command `docker save [OPTIONS] IMAGE [IMAGE...]`, to save an image to a tar archive.

Is this client able to do that? I notice there is no `save` function in `image.go`, but `ExportImage`, is this what `docker save` does?

Thanks

[2016-11-02 00:42] fsouza commented on #599
Hi @ahmetalpbalkan, thanks for bringing this up. I'd be happy to review and pull-in some code for some of the dependencies, as long as the copies are small (and, ideally, automated).

@rusenask what kind of pain are you referring to? ``go get``? Thanks!

[2016-11-02 00:44] fsouza commented on #600
Hi @summerQLin, thanks for opening this issue.

Yes, ``docker save`` does the same thing as ``ExportImage``.

[2016-11-02 17:41] svenwoldt opened #602 "how to initialize a swarm on a remote host and join network hosts to that swarm"
hello
I would like to solve the issue of joining two metal server hosts with two LAN IPs into a swarm

	package main

	import (
		log "github.com/Sirupsen/logrus"
		"strings"
		"github.com/fsouza/go-dockerclient"
		"github.com/docker/docker/api/types/swarm"
		"context"
	)

	type InitSwarmOptions struct {
		swarm.InitRequest
		Context context.Context
	}

	type JoinSwarmOptions struct {
		swarm.Join

[2016-11-03 01:40] svenwoldt commented on #602
response, err := client.InitSwarm(&InitSwarmOptions{swarm.InitRequest{ListenAddr:`192.169.0.24`}, nil})

played around somewhat more, still dont know how to fill the Context argument replaced by nil here

[2016-11-03 13:04] ryane commented on #524
fyi, I ran into the same error but was using an older version of go-dockerclient. After updating it, `FilteredListNetworks` works as expected.  I am thinking that this issue can probably be closed.

[2016-11-03 13:15] summerQLin commented on #600
Hi @fsouza,  `ExportImage` works, and I save the image to a tar.

The export code is:
[code]

However I failed to load the image back, here is the code
[code]
`LoadImage` didn't throw any error, but I can't see the image from `docker images` command.

Could you please help me with this case.

[2016-11-03 15:33] svenwoldt commented on #493
did you find a solution for your problem?

[2016-11-04 06:19] summerQLin commented on #600
The docker server is swarm using API 1.23.

[2016-11-04 09:31] summerQLin commented on #600
It works perfectly using docker cli. So something should be wrong on this go client.

[2016-11-04 15:42] fsouza commented on #600
Hi @summerQLin, it looks like there's a bug in go-dockerclient. I believe I have a fix, but can you first test if using ExportImage**s** with a single image argument fixes the issue?

You'd need to change your code to something like:

[code]

If that fixes the issue for you, I can push a fix for ExportImage very quickly. Thanks!

[2016-11-04 16:24] cescoferraro opened #603 "Question: build container from an io.Writer"
Is there a way to pass a io.writer to docker.BuildImageOptions so one would not need to create a temp file, build an image then delete it.

It would be very helpful for https://github.com/dnephin/dobi/pull/55

[2016-11-04 16:34] fsouza commented on #603
Hey @cescoferraro, thanks for opening the issue!

You need an io.Reader in the InputStream. Checkout the example in the documentation: https://godoc.org/github.com/fsouza/go-dockerclient#example-Client-BuildImage.

[2016-11-08 00:00] subicura commented on #493
I can't find :(

[2016-11-08 08:06] summerQLin commented on #600
@fsouza, unfortunately `ExportImages` doesn't work.

I tested function `load` to load image tar, which was exported by docker cli.  And it worked.

I notice that two image tars, one is exported by go-dockerclient,  the other is exported by docker cli, have different size.

So the problem is with function `ExportImages`.

[2016-11-08 09:47] summerQLin commented on #600
@fsouza the tarball exported by go-client is broken, here is err when I use vi to view the tar:

[code]

[2016-11-08 14:22] fsouza commented on #600
@summerQLin please notice that ExportImage generates a tarball, not a compressed tarball. Here's a working example:

[code]
[code]

[code]
[code]

Shell session:

[code]

Three question:

1. Can you share your code that is loading the image?
1. Can you try to extract the output file without the option to decompress?
1. Can you try the code without ``bufio.Writer``?

[2016-11-08 16:11] summerQLin commented on #600
@fsouza My loading image code is the same as yours. I tested both `ExportImage` and `ExportImages`, and they gave me the same result. And I removed bufio.Writer.

The docker service is swarm API 1.23
Go client, I imported `github.com/fsouza/go-dockerclient`, that should the latest master branch code.

To extract the tar `busybox-go.tar` exported by go client:
[code]
To extract the tar  `busybox.ta

[2016-11-08 16:24] fsouza commented on #600
Hi @summerQLin, thanks for detailing the versions you used. I'll try with Docker 1.11 and see if I observe any change in the behavior. Does it happen to any image or just this one? If it's just this one, can you share it with me somehow?

Thank you again!

[2016-11-08 18:16] ryane opened #605 "CreateNetwork error handling problem"
The error inspection at https://github.com/fsouza/go-dockerclient/blob/master/network.go#L156 can swallow errors and return a misleading `ErrNetworkAlreadyExists`. It is possible to get a `http.StatusConflict` for other error scenarios. For example:

[code]

On the 2nd call to `CreateNetwork`, `ErrNetworkAlreadyExists` is returned but the actual error is:

[code]

And, if you actually do create a

[2016-11-09 09:57] summerQLin commented on #600
Hi @fsouza I finally know the reason it didn't work. I export image by image id, while docker API doc says:
` If name is an image ID, similarly only that image (and its parents) are returned, but with the exclusion of the ‘repositories’ file in the tarball, as there were no image names referenced.`

And I tested using image name, and it worked.

Thank you very much for your help. I will close this

[2016-11-09 09:57] #600 closed

[2016-11-09 16:14] fsouza commented on #600
Oh, nice catch. I didn't know that either. Thanks for dedicating your time to investigate this!

[2016-11-18 16:08] #605 closed

[2016-11-19 22:33] cescoferraro commented on #603
@fsouza when using an InputStream I cant use a ContextDir.
Then how can I make the current directory available to COPY or ADD?

[code]

[2016-11-20 14:31] cescoferraro commented on #603
Got it! I was using multiple tar.Writer on the same buffer. I had to write multiple tar.Header to the same writer on the same buffer

[2016-11-20 14:31] #603 closed

[2016-12-01 00:49] hsyed commented on #599
It's quite crazy the creep go projects generate and how big projects do not seem to mind. Adding a dependency on docker , direct or via this client instantly adds 5 megabytes to the binary. It is 37 times worse depending on the kubernetes client.

I really want to do some go Dev/ops tools for fun but making a commitment to tracking gigantic dependency trees really kills it for me :(

[2016-12-01 16:08] andrestc opened #609 "InactivityTimeout not properly handled when not in terminal"
The [stream](https://github.com/fsouza/go-dockerclient/blob/74f5483f69ad43626ab170270dd2793730ae0608/client.go#L510) inactivityTimeout option is not properly handled when the output io.Writer is not a terminal. In that case, it will only be written to after each layer has been successfully pushed/pulled and thus might hit the timeout when handling images with large layers.

[2016-12-01 18:28] ahmetalpbalkan commented on #599
There was a comment here yesterday from "Hassan Syed", it doesn't appear here now, so let me bring that back from my inbox:

[2016-12-01 20:25] fsouza commented on #599
@ahmetalpbalkan I saw it here, it looks like he deleted it for some reason.

[2016-12-04 04:03] hgontijo commented on #532
Thanks a lot, it worked fine.

[2016-12-05 17:53] noqcks commented on #445
Im unable to create a mount.

[code]

config currently looks like this
[code]

@raphink I believe your repo changed a little. Do you have an updated code example? thanks.

[2016-12-05 19:32] raphink commented on #445
@noqcks in case that's useful, I now migrated conplicity to the official go Docker library, which works well.

[2016-12-20 06:43] JiangZhaoYang commented on #563
Hi @fsouza , I wan't to know why the TTY repeat display input commands, same as your example. How to remove these, thanks a lot.

[2016-12-22 14:45] gpolaert commented on #555
Hello, I'm faced to an issue with the 1.12 (API 1.24) when I use `AttachToContainer`.
`2016/12/22 15:26:37 Unrecognized input header: 68`

When do you plan to support it :)?
Thanks, Guillaume

[2016-12-22 15:00] gpolaert commented on #555
Sorry not sure it's related (downgrading to 1.23 didn't fix it)

[2016-12-22 15:10] fsouza commented on #555
Hey @gpolaert, this should work with Docker 1.12 already.

Can you share a snippet of code so I can take a look?

Thanks!

[2016-12-23 07:16] logicminds commented on #563
Your sample does work but I am just having a difficult time translating to my situation since I am new to go.   Basically from the snippet below I am not able to take input fed from a string `request.input` and have the container take the input to it's STDIN stream.

I am also unsure when to use the following method calls.  As it seems stdin doesn't stop reading until it the stream is closed.

c.w

[2016-12-27 19:56] fsouza commented on #563
@JiangZhaoYang in order to stopping the echo, you have to make your terminal a "raw" terminal. You can do it with the terminal lib:

[code]

Please check the updated gist: https://gist.github.com/fsouza/43a05241ed9f943d24e5324c0f07471a

And the terminal session:

[code]

[2016-12-27 19:56] fsouza commented on #563
@logicminds what are you using as Stdin? Using a string reader should work fine:

[code]

[2016-12-27 20:04] logicminds commented on #563
My stdin is :  `go io.Copy(c.stdin_w, strings.NewReader(request.Input))`

While I still haven't made this work, part of my problem was that I was attaching to the container before starting the container.
[code]

[code]

Also I don't remember why I needed this code but I believe it has something to do with a callback and the waiter: `Success:      make(chan struct{})`

[2016-12-27 20:07] logicminds commented on #563
If anyone is curious, I separated writing to the container and attaching to different functions and store the STDIN, STDOUT objects in a stuct for later retrieval.  Since the INPUT is coming from an http request object I cannot simply watch os.STDIN

[2016-12-30 05:57] JiangZhaoYang commented on #563
@fsouza THX, I try your sample, it work good !

[2017-01-04 02:41] #563 closed

[2017-01-12 16:53] cassiobotaro opened #614 "Endpoint /container/<id>/logs on testing api"
The endpoint for logs, actually is not supported by go-dockerclient/testing/server.go.

[2017-01-18 19:40] willseward commented on #589
@fsouza Does this bug still exist in the library? If so, you would be willing to implement the work-around that @Trane9991 mentioned?

It would be nice to get https://github.com/dnephin/dobi working on Windows.

[2017-01-19 03:34] ChenPeng2013 opened #615 "Filtered volume plugin errors"
when i deleted a volume, volume plugin return error. but you filtered the error

volume.go
[code]

[2017-01-23 16:06] raboof opened #616 "TestSwarmJoinWithService fails due to segfault"
On a fresh checkout, 'make test' appears to fail due to a TLS handshake error for me.

[code]

[2017-01-23 16:13] raboof commented on #616
Ah actually it doesn't appear to have anything to do with TLS, with `go test ./... -run TestSwarmJoinWithService` I get only:
[code]

[2017-01-23 16:15] raboof commented on #616
Hum, seems I was on an outdated version after all, sorry :(

[2017-01-23 16:15] #616 closed

[2017-02-01 00:38] #614 closed

[2017-02-08 22:23] ericwoodruff commented on #555
I'm looking for docker 1.13 cpu-rt-period support.

[2017-02-09 05:08] fsouza commented on #555
@ericwoodruff can you open an issue for Docker 1.13? Since Docker 1.12 is supported, I'm closing this issue.

[2017-02-09 05:08] #555 closed

[2017-02-09 06:37] ericwoodruff opened #620 "Docker 1.13 cpu-rt-period support"
Docker 1.13 added new cpu-rt options which are missing in the client now.

[2017-02-10 01:52] #620 closed

[2017-02-12 07:14] azyshalom opened #622 "Failed to connect to docker"
Failed to connect to docker using the example:
Get http://unix.sock/images/json?: dial tcp: lookup unix.sock on 172.31.0.2:53: no such host
`
# go version
go version go1.7.3 linux/amd64

# docker version
Client:
 Version:      1.12.5
 API version:  1.24
 Go version:   go1.6.4
 Git commit:   7392c3b
 Built:        Fri Dec 16 02:30:42 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.5
 A

[2017-02-12 13:18] azyshalom commented on #622
Tested on coreos and centos, same error

[2017-02-12 14:00] faryon93 commented on #622
same error on debian jessie

[2017-02-12 19:47] hrzbrg commented on #622
#621 should solve it

[2017-02-12 20:11] faide commented on #622
can people having this issue test my PR and see if it works for them ?

[2017-02-12 20:13] hrzbrg commented on #622
Just applied it and build it. Works for me together with Registrator.
Thanks 👍

[2017-02-13 13:52] niko83 commented on #622
Reason of this issue is last change https://github.com/hashicorp/go-cleanhttp/commit/a45970658e51fea2c41445ff0f7e07106d007617

Temporary workaround:
1) create folder
vendor/github.com/fsouza/go-dockerclient
with master content of this repo

and create folder

vendor/github.com/hashicorp/go-cleanhttp
with version of source files https://github.com/hashicorp/go-cleanhttp/tree/ad28ea4487f05916463e242

[2017-02-13 15:45] tahmmee opened #623 "1.6 Incompatibility due to cleanhttp dep"
3 days ago a change went into go-cleanhttp project which is breaking attempts to build docker client on Go 1.6:
[https://github.com/hashicorp/go-cleanhttp/commit/a45970658e51fea2c41445ff0f7e07106d007617
](https://github.com/hashicorp/go-cleanhttp/commit/a45970658e51fea2c41445ff0f7e07106d007617
)

The maintainer doesn't seem uninterested in supporting 1.6 and looks like some people have already sta

[2017-02-14 00:10] fsouza commented on #623
Hey @tahmmee, thanks for raising this issue. Usually, I'd stop supporting Go 1.6 as well, but if the change to keep go-dockerclient is small (as in this case), I'd be happy to accept it. Unfortunately, I won't be able to work on that today, but I can try to put up some fix in two or three days.

I'm also happy to review any PRs related to that. Thank you again!

[2017-02-14 00:47] fsouza commented on #623
@tahmmee since this is causing a bunch of issue for other people, I'm going to merge #621 and drop support for Go 1.6 for _now_, and then we can try to figure the best strategy to add back support for Go 1.6.

[2017-02-14 00:57] fsouza commented on #622
@azyshalom now that #621 is merged, can you check if the issue is gone? Thanks!

[2017-02-14 04:52] azyshalom commented on #622
Works great! thanks

[2017-02-14 05:27] fsouza commented on #622
Nice, thank you for confirming!

[2017-02-14 05:27] #622 closed

[2017-02-14 14:46] tahmmee commented on #623
Ok, thanks for update - I don't plan on putting together a PR here since the code *works* but it's more of a decision of go version supportability and given feedback here and downstream projects I'm moving to 1.7.

[2017-02-15 10:14] niko83 opened #625 "Container inspect. Cannot unmarshal number into Go value of type string"
Run container with read/write limit.
Docker api return `Rate` as integer

[code]
but  struct in container.go has string type.
[code]
Result we have error "cannot unmarshal number into Go value of type string"

Docker version:
[code]

[2017-02-15 13:24] #625 closed

[2017-02-15 13:25] fsouza commented on #623
@tahmmee cool, makes sense! I'm going to close this issue then.

Thank you for opening it! :)

[2017-02-15 13:25] #623 closed

[2017-02-17 00:45] bantonj opened #627 "Credential Store/Helpers"
Are there any plans to add support for [Credential Store/Helpers](https://github.com/docker/docker-credential-helpers)? It's especially useful for Amazon ECR which does not support username and password credentials that last longer than 12 hours.

[2017-02-17 07:29] azyshalom commented on #622
@fsouza i still see this error on coreos 1235, docker 1.12.6.
it works fine on other platforms.
is it possible that http still use tr.Dial instead of tr.DialContext? i see that the code still exists.
Thanks.

[2017-02-17 20:03] VoR0220 opened #628 "Add Toml tags to the json and yaml tags."
I'd be happy to send up the PR for this.

[2017-02-17 20:15] fsouza commented on #628
@VoR0220 can you share your use case for the toml tags?

[2017-02-17 21:10] VoR0220 commented on #628
We use toml files to configure docker services/containers...we currently use our own definitions as an endaround that eventually get turned into go-dockerclient's types....this is quite a bastardized process...I'm contemplating using your native types and creating a configuration from those. The option would be nice to have on the table and it doesn't really affect anything to have them on there i

[2017-02-17 22:35] fsouza commented on #627
@bantonj this is not part of the Docker API, you can import the code for managing the credentials locally and use it. For example, with osxkeychain: https://godoc.org/github.com/docker/docker-credential-helpers/osxkeychain.

[2017-02-19 15:57] bantonj commented on #627
From what I can tell the credential-helper stuff needs to be implemented client side. Is this something that you feel is outside the scope of your project? If not I'll see what I can do about putting together a PR.

Thanks for the help!

[2017-02-20 13:07] #628 closed

[2017-02-21 09:49] jgsqware opened #630 "ExportImage tarball doesn't contain manifest.json"
Hello,

i'm working with docker `docker 1.13.1`
when I try to export some image (for example *nginx:1.11.5*) with

[code]

the tarball doesn't contain the `manifest.json` file.

with `docker save nginx:1.11.5 > output.tar` the `manifest.json` is present.

Have you an idea?

[2017-02-21 19:53] #609 closed

[2017-02-21 21:56] fsouza commented on #630
@jgsqware can you test with ExportImages instead (https://godoc.org/github.com/fsouza/go-dockerclient#Client.ExportImages)? I have a theory, but I'm not entirely sure.

Also, what is the content of "imageName"?

[2017-02-22 06:44] jgsqware commented on #630
Unfortunately, it's not working. I've tried with
  - `client.ExportImages(dockerclient.ExportImagesOptions{Names: []string{"nginx:1.11.5"}, OutputStream: w})`
  - `client.ExportImages(dockerclient.ExportImagesOptions{Names: []string{"nginx"}, OutputStream: w})`

Same result, no manifest.json file in the tarball

[2017-02-22 08:17] jgsqware commented on #630
Could it be due to the manifest version?

for example it works for `registry:2.1.1` and not for `nginx:1.11.5`

just a guess

[2017-02-22 08:57] jgsqware commented on #630
I have the same behavior with the docker client itself
https://github.com/docker/docker/blob/master/client/image_save.go

[2017-02-22 10:04] jgsqware commented on #630
currently, I achieve the save with
[code]

but i would prefer to use the API, I will open an issue there

[2017-02-22 14:58] jgsqware commented on #630
Ok, after investigation, I was creating the writer with `w := bufio.NewWriter(fo)` and then save the images `client.ExportImage(dockerclient.ExportImageOptions{Name: imageName, OutputStream: w})`

but I forgot to flush the `w` writer after the call.
If I add `w.Flush()` after the `client.ExportImage`, it's working

I will close this issue

[2017-02-22 14:58] #630 closed

[2017-02-22 16:06] fsouza commented on #630
@jgsqware oh, i'm glad you figure it out! Thank you for reporting and closing the issue! :)

[2017-02-26 14:49] agonzalezro opened #632 "Why HostConfig.Binds doesn't mount hidden files?"
I've tried with the docker client mounting a folder with hidden files and it works:

[code]

However, when I use HostConfig.Binds with the same parameters `[]string{"/tmp:/alex"}` I can just see the non hidden files in that folder.

It's difficult to provide a Proof-Of-Concept, but I am using it here: https://github.com/agonzalezro/botella/pull/12/files#diff-daed06840ae2242793f6bca24ba9b8bdR94

Ba

[2017-02-28 07:20] logicminds opened #633 "Question: how do I create a mount a volume"
It is a little unclear how I start a container with a volume attached.

https://github.com/fsouza/go-dockerclient/blob/master/container.go#L307

Which struct do I use?  Also how do I mount ro?

Do I need to use this?  https://github.com/docker/docker/blob/master/api/types/volume.go

[2017-02-28 07:39] logicminds commented on #633
Is this what I need?

[code]

[2017-03-01 07:49] logicminds commented on #633
@fsouza any ideas?

[2017-03-08 08:49] jensskott commented on #633
@logicminds im trying this one now.

`dockerHostConfig := docker.HostConfig{
		Binds: []string{"/var/run/docker.sock", "/var/run/docker.sock"},
	}

	dockerConfig := docker.Config{
		Image:      "docker/ucp:2.1.0",
		Entrypoint: []string{"backup", "--passphrase", "secret", ">", "/tmp/backup.tar"},
	}

	params := &docker.CreateContainerOptions{
		Name:       "ucp",
		Config:     &dockerConfig,
		Hos

[2017-03-08 13:59] fsouza commented on #633
@logicminds sorry, I missed this one somehow. You should use volumes on HostConfig.

I didn't want to remove Volumes from Config for compatibility issues, so maybe we could do some "aliasing" inside CreateContainer to make sure both work. What do you think?

[2017-03-08 16:55] logicminds commented on #633
I ended up using the following:

[code]

[2017-03-08 16:59] logicminds commented on #633
Volumes seem more like a predefined bind that one can reuse according to docker api docs. It is kinda confusing.  Binds are simple once you figure out that is the same thing you specify when using `docker run` command.

Additionally, I started using the official docker api client instead of this one as my needs changed.

[2017-03-08 17:02] #633 closed

[2017-03-11 09:21] damien-tinyclues opened #638 "Seems the BuildImage with nocache option enable doesn't work correctly"
I'm trying to build image without cache but when I'm looking the output stream, the engine is using the cache

The golang code:
[code]

Log output:
[code]

I added in the file `image.go` line 530 a print of the url call to the docker engine: `http://127.0.0.1:2375/v1.24//build?nocache=1&pull=1&remote=http://docker_archive.local/artifacts/d2dfed93-2671-4d6c-9f91-a1f4f1b3646e.tar.xz&t=MyOrg/MyImage:

[2017-03-12 21:32] damien-tinyclues commented on #638
Sorry, my bad finally the problem is on our side, in another part of the application ...

[2017-03-12 21:32] #638 closed

[2017-03-16 13:31] agonzalezro commented on #632
Any help on this? Otherwise, if you think is not a bug I can close it. Thanks.

[2017-03-22 01:32] hsyed commented on #599
I removed it, I was only a few days into go at the time -- it looks like a rant (it probably was) !

I figured out that the majority of the bulk was due to the large parts of the stdlib being linked in statically and that the dependency spraw was just my naivity.

I was also getting my head around vendoring and go packages -- the dependency list above looks fairly standard now !

The Kubernetes cl

[2017-03-27 18:26] prateekgogia opened #644 "Docker plugins api support question"
I checked the code and couldn't find support for plugin apis present in Docker, I am specifically looking for this-
https://docs.docker.com/engine/api/v1.25/#tag/Plugin

Can someone please let me know if the support is added to this package ?

[2017-03-31 14:53] ubuntolog opened #645 "LoadImage does not return an image id after importing"
LoadImage (https://github.com/fsouza/go-dockerclient/blob/master/image.go#L343) does not return an image id after importing. At least I cannot find any nice way to retrieve it. Unlike ImportImage, it does not have any OutputStream where I could put my bytes.Buffer or something: there are only InputStream and Context fields available in LoadImageOptions.

[2017-04-03 19:40] fsouza commented on #645
Hey @ubuntolog, thanks for opening this issue. Currently, the Docker API doesn't return the image that has been loaded, which means that you have to know the tag of the image and inspect it to get its ID.

You can also parse the Docker output and then inspect the image by its tag/name. I know it's weird, but it looks like this feature wasn't well designed for integration on the Docker API side.

[2017-04-03 19:40] #645 closed

[2017-04-03 19:46] ubuntolog commented on #645
Thank you for the answer. I ended up getting this information from manifest.json from the tar archive with the image.

[2017-04-03 20:05] fsouza commented on #632
@agonzalezro hey there! Thanks for opening this issue and sorry for taking over one month to get back to you.

I was able to get it working with this snippet: https://gist.github.com/fsouza/b0bf3043827f8e39c4589e88cec067d8, but I couldn't find what's going on in your case. Are you running the container and then attaching to it? Or using exec?

[2017-04-03 20:06] fsouza commented on #645
@ubuntolog thanks for coming back here, I'm glad you figure it out. Apologies for not being able to help you out on time.

[2017-04-03 20:22] fsouza commented on #644
@prateekgogia hey, thanks for opening this issue and sorry for the delayed response. I'm not aware of anyone working on the plugin integration, but I'd be happy to review changes related to that. I can also work on that too, but not this week :(

[2017-04-05 19:01] danfma opened #646 "Problem when creating a container"
We have a source code working on Linux normally but when I tried to run it on my Mac, I'm getting some errors when I try to create a container.

The serialized config in JSON:

[code]

The error is:

`ERROR API error (400): invalid mount config for type "": field Target must not be empty`

The strange part of this is that I found at the docker source code a validation that check exactly this thing

[2017-04-09 17:01] agonzalezro commented on #632
Hi @fsouza,

thanks for using your time to provide a gist 👏🏼 I've checked it and it's completely clear that my problem isn't related with your client hiding hidden files, I will take another look but it will probably be related with symbolic links or some error binding the volume.

I will close this for now since it's not an issue.

Thanks again for your time & client!

[2017-04-09 17:01] #632 closed

[2017-04-19 22:44] dennwc commented on #599
I also think that such a large dependency graph for a client library is far from ideal.

We use this library for a few projects, some of them use it for running tests. To give a context, we are running basic Go tests on CI and docker tests on other environments. Importing (and vendoring) this library significantly increases the time for each build/test to pass on CI in particular.

If it's possibl

[2017-05-02 22:11] schmichael opened #648 "Panic on Windows Server 2016"
The [Nomad](https://github.com/hashicorp/nomad) project uses go-dockerclient for all interactions with the Docker daemon. Once we started distributing Nomad with Go 1.8 we started to run into panics when using Docker on Windows:

[code]

While dockerclient isn't listed in this stack trace it is the only code that uses `go-winio` in Nomad, and the panic occurs most often (it's racy) when pulling an

[2017-05-02 23:15] fsouza commented on #648
Seems like we need Microsoft/go-winio#48 merged. I can see some activity there. If they don't merge today, I can change go-dockerclient so it uses a temporary fork of go-winio.

Thanks for reporting this!

[2017-05-03 21:57] fsouza commented on #648
@schmichael Microsoft/go-winio#48 has been merged, can you give it a try?

[2017-05-03 23:58] schmichael commented on #648
@fsouza It introduced cgo so it took me a while to work out the right cross compilation command to get it built. However, I was able to build Nomad with an updated go-winio, run it on Windows 2016, and have it attempt to run a Docker job without panics!

I'm now getting a Docker error I haven't even begun debugging:

[code]

This can be reproduced by running the following on Windows with Docker 17

[2017-05-03 23:58] #648 closed

[2017-05-04 12:49] fsouza commented on #648
@schmichael thanks for confirming! Let me know if I can help debugging this other issue :)

[2017-05-04 16:15] schmichael commented on #648
@fsouza Other Nomad users are reporting it's working fine for them, so there's probably just a bug in my Windows and/or Docker version.

One thing worth noting is that Microsoft/go-winio#48 requires cgo on Windows now. I think the only effect is a minor annoyance for people like me who cross-compile.

I just wanted to let you know as go-dockerclient didn't require cgo on any platform (YAY) prior t

[2017-05-04 18:50] darrenstahlmsft commented on #648
I didn't realize we (go-winio) didn't already require cgo. I might be able to implement the fix without cgo. Let me take a look.

As an aside, the above error looks like a platform issue with the containers feature. CC me on an issue against Docker and we can narrow it down. Or just try running [CleanupContainerHostNetworking.ps1](https://github.com/Microsoft/Virtualization-Documentation/tree/mast

[2017-05-04 20:47] schmichael commented on #648
@darrenstahlmsft Thanks for the info! Seems allocating and free'ing a security descriptor is the only time cgo is used: https://github.com/Microsoft/go-winio/pull/48/files#diff-f2948a032122ad84d0002dc69cd75b76R240 I was surprised it wasn't already being used as well!

If that script doesn't fix Docker for me I'll open an issue over on Docker. Thanks again!

[2017-05-10 19:16] schmichael opened #649 "Support API version >=1.25 for Docker on Windows support"
Docker on Windows adds some complexity over previous Docker releases as it supports two modes of operation: Linux or Windows containers. Images are OS specific. In order to determine if an image will run, two new pieces of metadata are needed:

* `Image.Os` (from `GET /images/(name)/json` has been around since at least API version 1.23 but is [missing from the struct](https://godoc.org/github.com/

[2017-05-11 02:08] fsouza commented on #649
@schmichael I can take a look at this before the weekend, but let me know if you start working on it before :)

[2017-05-11 03:56] schmichael commented on #649
Thanks! I'll make sure to comment here before starting work, but I doubt it'd be this week anyway.

[2017-05-12 00:09] justinfx opened #651 "How to apply "RUN" directives in container changes (Commit API)?"
I've asked this question in general, related to the Docker API:
https://stackoverflow.com/questions/43926803/docker-api-equivalent-to-dockerfile-run-directive-when-configuring-container

But I am thinking it may be specific to this docker client library...

How does one go about adding "RUN" directives to a container? I am seeing this in the general [Docker API](https://docs.docker.com/engine/api/

[2017-05-12 02:10] justinfx commented on #651
Nevermind. I have confused my terminology. I should have been looking at building an image:
https://godoc.org/github.com/fsouza/go-dockerclient#Client.BuildImage

Sorry for the noise.

[2017-05-12 02:10] #651 closed

[2017-05-12 14:45] fsouza commented on #651
Hi @justinfx, thanks for reporting this! Regardless of build vs commit, go-dockerclient was missing the changes parameter that can be used to set some configuration in the resulting Docker image (such as labels or the entrypoint).

I just pushed the change that adds the option ``Changes`` to ``CommitContainerOptions``.

[2017-05-12 14:54] #649 closed

[2017-05-12 14:55] fsouza commented on #649
@schmichael I just pushed the change! :)

[2017-05-12 16:17] schmichael commented on #649
Looks great! Thanks!

[2017-05-12 21:34] justinfx commented on #651
I'm glad my issue uncovered this and wasn't purely noise!

[2017-07-18 16:37] richardpen opened #658 "Replace "golang.org/x/net/context" with standard library "context""
Go 1.7 has moved the `golang.org/x/net/context` to standard library, and we want to get rid of the `golang.org/x/net/context` by using the standard `context`, but go-docker-client has a dependency on `golang.org/x/net/context` which is blocking us from doing so. I was wondering can go-docker-client upgrade to use `context` instead of the one under `x/net`, is there any concerns to do so?

[2017-07-21 18:38] rshinn opened #659 "How to get exec status from 'func (c *Client) StartExec(id string, opts StartExecOptions) error'"
Refering to: 'https://github.com/fsouza/go-dockerclient/issues/287'

Is 'StartExecOptions' field: 'Success:' intended for use by the caller to receive the exec status of the remote command? My caller needs to know the exec status of the remote command in order to know whether or not to stop the build. But, try as I might, I can find no way for it to return the status.

Thanks much.

[2017-07-21 20:20] sosedoff commented on #659
@rshinn you can do that with:

[code]

[2017-07-21 22:17] rshinn commented on #659
Oh, awesome! That works. Thank you.

One more question. I need to run it in non-interactive mode. I noticed that if I do not specify 'InputStream', it will not hang waiting for input. However, it seems it returns before the command is run and hense returns a status of '0' even when I know the command should fail (i.e. if I run it interactively, I'll get back an exit value of '1' as expected). Also

[2017-07-21 22:19] rshinn commented on #659
One idea I did have was to pass a channel to 'InputStream' and send in an item just before the call to StartExec. I'm wondering if that might be the 'right' way to, effectivley, make it non-interactive.

[2017-07-21 22:29] sosedoff commented on #659
Can you post an example code so i can better understand what you're trying to do ?

[2017-07-22 16:05] rshinn commented on #659
So, this function creates and starts a container with supplied env vars, and then, creates and starts an ExecID. We have a library that, given a yml like specification, will build and deploy docker containers. The idea is to (after building the image), create a local container and run unit tests in the container before deploying. So, we call this function to do that and, if the tests fail, the bui

[2017-07-22 16:09] rshinn commented on #659
Specifying 'InputStream' in 'docker.StartExecOptions' causes 'StartExec()' to block waiting for a carriage return before completing. Leaving 'InputStream' unspecified allows 'StartExec()' to run to completion and return but, seemingly, does not allow enough time for (or simply does not execute) the command to be executed before returning and so always results in InspectExec() returning '0' even in

[2017-07-22 16:22] sosedoff commented on #659
If you don't plan on any stdin, just remove `AttachStderr` and `InputStream` when you create and start exec. That should fix your problem.

[2017-07-22 16:23] sosedoff commented on #659
Side note, when you want to stop and delete container, you can use a single command `RemoveContainer` with `Force` flag on.

[2017-07-24 15:57] rshinn commented on #659
Awesome! Thanks so much.

[2017-07-25 07:50] upccup opened #661 "add release version for diff docker/go version"
there has some reason that i have to use docker 1.9.1 which is build by go 1.4.3.  But there have some legacy version compatibility question with go. [Pre-golang 1.6 Dockers can't talk to golang 1.6 Docker](https://github.com/moby/moby/issues/20865). so i can only use go 1.4.3 to build this. But now that is hard to build with the master's code.

is it possible to add some release tag for diff dock

[2017-07-25 14:46] fsouza commented on #661
Hey @upccup, we can certainly do that! I'll try to dig up the versions compatible with Go 1.4, 1.5 and 1.6 and create the proper tags.

[2017-07-26 02:03] upccup commented on #661
@fsouza  👍 👍

[2017-07-27 01:03] fsouza commented on #661
@upccup turns out that tracking this down is pretty hard because of the dependencies. I was able to build go-dockerclient with Go 1.4 inside Docker, take a look at this Dockerfile: https://gist.github.com/fsouza/9b5ca9592795084c6fe96d660b16ba96

I created the tag and documented it in the README. Let me know if that works for you!

[2017-07-27 01:03] #661 closed

[2017-07-27 01:47] upccup commented on #661
@fsouza  thks i will try asap

[2017-07-28 03:05] yyf1986 commented on #658
I have the same problem

[2017-08-03 11:42] tugbadartici opened #666 "Missing Field on network.go"
Docker network create takes one more flag which is not implemented.

on the IPAMOptions{} struct, Options field is missing which will fulfil
`docker network create --ipam-opt xxx` part.

[2017-08-09 20:23] fsouza commented on #658
For backwards compatibility reasons, we can't address this issue yet. Starting with Go 1.9, ``golang.org/x/net/context.Context`` is just an alias to ``context.Context``.

We can revisit this issue once Go 1.10 is released (following the Go release policy of supporting only the last two releases).

[2017-08-25 21:34] #666 closed

[2017-08-25 21:34] fsouza commented on #666
@tugbadartici thanks for reporting, I just pushed a fix.

[2017-09-14 13:00] ErezHorev commented on #468
+1

[2017-10-08 23:37] hsyed commented on #563
[code]

@fsouza @logicminds it would be great to have this snippet available in the godocs on the `CreateExec` or `StartExec` methods. The api has been fairly intuitive so far, but this echoing issue requires tactical googling to find a solution to.

[2017-10-09 00:01] logicminds commented on #563
I don't think I ever got this working they way I wanted. I ended up switching to the docker provided api library and refactored my code to work with differently.  It was a lot work but I did solve my problem using the docker api and a modified approach.

[2017-10-09 07:43] itshacki opened #676 "Add support for security options in daemon system information"
In order to use daemon security options in the daemon system information, I'd like to open PR for adding the `SecurityOptions` entry to `DockerInfo` struct.
I'll also update the UT respectively.

Thanks!

[2017-10-09 19:35] michaeldye opened #677 "Parsing `config.json` for Auth on Mac OS with "credsStore": "osxkeychain" fails"
I have a Docker config file in `~/.docker/config.json` with this content:

`{
    "auths": {
        "mydomain.org": {}
    },
    "credsStore": "osxkeychain"
}
`

... I get an `ErrCannotParseDockercfg` returned from https://github.com/fsouza/go-dockerclient/blob/master/auth.go#L138 .

[2017-10-10 20:17] fsouza commented on #677
@michaeldye hey, thanks for reporting this. We can fix the parsing issue, but right now go-dockerclient isn't integrated with osxkeychain and wouldn't be able to retrieve your credentials there.

I think that you could use docker's helpers to load the data from the keychain (https://github.com/docker/docker-credential-helpers/tree/master/osxkeychain), then construct AuthConfiguration from the data

[2017-10-16 13:25] johanbrandhorst opened #678 "Tip is incompatible with latest release of docker"
As commented on https://github.com/fsouza/go-dockerclient/pull/674, merging that pull means that this repo is only compatible with _master_ of docker/docker. This might be intentional, and please close if so.

[2017-10-16 13:29] andrestc commented on #678
I'm not sure I'm following. How does **adding** a new endpoint breaks the compatibility with older versions? Isn't it just a matter of not using the new endpoints if you are on the previous version?

[2017-10-16 13:30] johanbrandhorst commented on #678
This package is now importing a struct that doesn't exist in released versions of docker.

[2017-10-16 13:32] johanbrandhorst commented on #678
To add a bit of context, the change started importing `"github.com/docker/docker/api/types/registry".DistributionInspect`, which does not exist on `17.05.x`: https://github.com/moby/moby/blob/17.05.x/api/types/registry/registry.go

[2017-10-16 13:36] andrestc commented on #678
Oh, I see. I thought you were talking about the HTTP API compatibility.

I don't think we ever aimed to only depend released versions of docker (maybe we should?), so I'll leave this one to @fsouza.

[2017-10-16 14:08] fsouza commented on #678
Hey @johanbrandhorst, thanks for opening this issue. In order to support latest Docker features and import their stuff, we need to use the master of [moby/moby](https://github.com/moby/moby/releases). Please notice that Docker is no longer released from ``moby/moby``, but [docker/docker-ce](https://github.com/docker/docker-ce/releases), so the latest release of Docker is not 17.05, but 17.09.

The

[2017-10-16 14:10] johanbrandhorst commented on #678
@fsouza Thanks for the update and explanation. So this repo uses `master` of https://github.com/moby/moby/releases, is that because those releases are old anyway? I can understand sticking to `master`, so I will close this issue.

[2017-10-16 14:10] #678 closed

[2017-10-16 14:23] fsouza commented on #678
@johanbrandhorst thanks for understanding and raising the question in the first place! :D

[2017-10-17 09:12] ridhoperdana opened #679 "An error on distribution.go"
Here i found an error like this :

`github.com/fsouza/go-dockerclient/distribution.go:14:53: undefined: registry.DistributionInspect`

When i check on the docker/api/types/registry there is no function named DistributionInspect

I am using docker version v17.05.0-ce-rc3 (latest)

Thank you

[2017-10-17 17:38] fsouza commented on #679
Hey @ridhoperdana, thanks for reporting this. Please take a look at #678. Unfortunately, tags in the ``moby/moby`` repo no longer represent Docker releases and you shouldn't rely on them :(

[2017-10-18 00:25] ridhoperdana commented on #679
Oh great, thank you for the information. I’ll close the issue then.

[2017-10-18 00:25] #679 closed

[2017-10-23 10:12] widon1104 opened #682 "How to set timezone of the container ?"
I want set the container timezone the same as the host
How can I do it? pass some args to CreateContainer ?
there is some doc about go-dockerclient ?

[2017-10-23 14:45] fsouza commented on #682
Hey @widon1104, this is not specific to go-dockerclient, but to Docker itself. That being said, I believe you can mount the host ``/etc/localtime`` in the container. I haven't tested though.

[2017-10-24 14:02] darkowlzz opened #683 "Add golang/dep support"
Hi, can we add support for [golang/dep](https://github.com/golang/dep)?

Recently, we got an issue https://github.com/golang/dep/issues/1274, where a project that depended on go-dockerclient tried using dep to manage the dependencies and dep installed docker version `1.13.1`, which doesn't work with the latest go-dockerclient. This happened because dep found that version as the most recent, valid

[2017-10-24 18:58] fsouza commented on #683
Hey @darkowlzz, thanks for reporting that. If I remember correctly, there isn't a clearly defined flow for using deps with libraries yet. How would that work?

[2017-10-24 20:16] darkowlzz commented on #683
Thanks!
For go-dockerclient, I would suggest committing just the manifest file (Gopkg.toml) and no need of the lock file and vendor directory. And the manifest can have open constraints of flexible version or branch or even tags. With that, the users of the library can just run (provided their code imports the lib)
[code]
or
[code]
and all of go-dockerclient's dependencies would be downloaded abid

[2017-10-24 20:46] fsouza commented on #683
@darkowlzz but would dep respect Gopkg.toml as specified inside libraries? Nice, I didn't know that!

[2017-10-24 21:13] fsouza commented on #683
@darkowlzz oh, I forgot to answer your initial question. This sounds good to me now. Do you want to send a PR?

[2017-10-25 11:47] darkowlzz commented on #683
@fsouza yes, dep would respect Gopkg.toml. If it doesn't, then that would be a bug that needs to be fixed :)

Alright, so I'll create a PR adding a Gopkg.toml with some project constraints.

Thanks a lot!

[2017-10-25 14:40] #683 closed

[2017-10-25 15:39] mavogel opened #685 "Plans for a release soon?"
@fsouza is there any plan for a release/tag?

I'd like to upgrade the `terraform-provider-docker` and your last and only release with hash `1d4f4ae73768d3ca16a6fb964694f58dc5eba601` is used. See [vendor.json](https://github.com/terraform-providers/terraform-provider-docker/blob/master/vendor/vendor.json#L238) for details. It would be nice to have a tag before I upgrade the docker provisioner 😃

[2017-10-25 21:23] fsouza commented on #685
Just tagged 1.0 😁

[2017-10-25 21:23] #685 closed

[2017-10-26 08:35] mavogel commented on #685
Gracias señor 🙏

[2017-10-26 12:12] fsouza commented on #685
Nice catch, the README is outdated. It supports latest Docker API (1.33). I'll remove that note from the README because it's always gonna be outdated.

[2017-10-27 02:34] widon1104 commented on #682
HostConfig: &docker.HostConfig{
		Binds: []string{"/etc/localtime:/etc/localtime:ro"},
},
this code works

[2017-11-13 20:07] piyush-nimbalkar opened #691 "Remove volume throws only on 404 and 409 from docker engine"
The current implementation for remove volume seems to be returning an error, only if there is a StatusNotFound (404) or StatusConflict (409).
Is there is a specific reason why it is done so? Should we not throw all the errors coming from docker engine? For instance, I am getting a InternalServerError when the volume is mounted. But RemoveVolume does not propogate the error.

[2017-11-14 14:38] fsouza commented on #691
@piyush-nimbalkar you're right, thanks for reporting!

[2017-11-14 14:42] #691 closed

[2017-11-15 15:30] itshacki commented on #676
fixed in #692

[2017-11-15 15:30] #676 closed

[2017-11-21 01:57] menghao11 opened #695 "How to create a contianer with --rm option?In struct CreateContainerOptions,which member can be use to set --rm or this func can't use now?"

[2017-11-21 04:03] menghao11 commented on #695
AutoRemove is the member,issue close

[2017-11-21 04:03] #695 closed

[2017-11-27 08:01] surajnarwade opened #698 "Docker image failed to build"
This is my code repository, github.com/kedgeproject/json-schema-generator
and I am trying to use this code,

[code]

I am getting this error,

[code]

[2017-11-27 19:46] fsouza commented on #698
Hey @surajnarwade, it looks like that repo uses the Dockerfile outside the root, but still assumes the build context to be the root directory. The following changes should get the code to work:

1. Change ``source`` to ``/home/snarwade/go/src/github.com/kedgeproject/json-schema-generator``
1. Set ``BuildImageOptions.Dockerfile`` to ``scripts/Dockerfile``

Here's what the code would look like: http

[2017-11-28 06:07] surajnarwade commented on #698
Hey @fsouza , Thanks for the reply, but I tried your gist,

I am getting similar error,

[code]

[2017-11-28 13:24] fsouza commented on #698
@surajnarwade can you print the contents of ``outputBuffer``?

[2017-11-28 14:51] surajnarwade commented on #698
@fsouza , there's nothing in outputBuffer :(

[2017-12-24 05:08] edwinakatosh commented on #287
This was helpful. Thanks guys!

[2018-01-13 10:57] mavogel opened #702 "Connect to docker host on forward via jump host(s)"
Correct me if I am wrong but atm it is not possible to connect to the docker daemon via a jump host right?

I'd like to implement this feature because we have the case to have our docker hosts via a jump host. Is this also a desired feature for you @fsouza?

**Update:** startet implementation

Regards Manu

[2018-01-21 15:49] denismakogon opened #705 "HTTP client transport replacement makes docker unreachable with the docker client."
If i would do something like:
[code]
and then:
[code]
would lead to the following error:
[code]

So, there has to be the way to replace HTTP client.

[2018-01-23 03:23] #705 closed

[2018-01-24 20:52] coodix commented on #677
@fsouza hey, the workaround by manual adding auth base64 encoded string to config.json could be easy:
`{
	"auths": {
		"dockerio.badoo.com": {},
		"localhost:5000": {
			"auth": "...base64encoded credentials..."
		}
	},
	"credsStore": "osxkeychain"
}`
But another problem is that is any of auths doesn't have auth string then authConfigs function from auth.go fails with error "ErrCannotParseDockercf

[2018-01-26 01:36] #702 closed

[2018-01-26 01:39] fsouza commented on #677
Hey @coodix, thanks for the feedback. YEah, that makes sense. I'm gonna modify the code to behave as you suggested. Thank you very much!

[2018-01-26 01:49] #677 closed

[2018-01-26 02:03] jess-tang opened #707 "Exec /bin/bash echoes stdin to stdout"
Hello, I have an issue running `/bin/sh` (also `/bin/zsh` and `/bin/bash`).

When I create, start and attach to a container using go-dockerclient, the input in stdin will be printed in the next line, for example,
[code]
This happened for all 3 shells. I also tried to run `/bin/sh` with `container.AttachToContainer` and `exec.StartExec`, and they both have this issue.

I also tried to set the comma

[2018-01-26 05:48] blaines opened #708 "Is AuthConfiguration required for PullImage?"
https://github.com/fsouza/go-dockerclient/blob/master/image.go#L309

Is AuthConfiguration really required in order to pull an image? Should this be optional?

[2018-01-28 17:36] shutefan opened #709 "Return specific code when trying to kill stopped container"
Tyring to kill a container that is not running returns a generic error ATM instead of the more specific `ContainerNotRunning` that is already present.
The API actually returns a 409 error code so that the case can be differentiated. This was not covered in the API documentation but has been fixed: https://github.com/moby/moby/issues/36068

[2018-01-30 15:54] #709 closed

[2018-01-30 16:32] fsouza commented on #707
Hey @jess-tang, in order to accomplish that, you need to treat stdin as a raw terminal, similar to what the following tools do:

- ``docker exec``: https://github.com/docker/cli/blob/feb4d7993554f707a50ba9e57e8b2e996456753d/cli/command/container/hijack.go#L81-L83
- ``tsuru app-shell``: https://github.com/tsuru/tsuru/blob/048e9b342199ba83343cf02a92017dd4d44b1a51/cmd/shell.go#L58-L76
- ``kubectl exe

[2018-01-30 16:35] fsouza commented on #708
Hey @blaines, yes it should, but unfortunately this already made into the API and using something like variadic parameters to implement optional arguments isn't a good idea :( It should've been an attribute of the ``PullImageOptions``, but now it's too late :/

As a workaround, users usually use an empty ``AuthConfiguration`` to indicate an unauthenticated pull.

[2018-01-30 16:36] #708 closed

[2018-01-31 21:26] jess-tang commented on #707
It works great! Thank you so much!

[2018-01-31 21:26] #707 closed

[2018-02-04 20:28] pznamensky commented on #682
In my opinion mount /etc/localtime from a host is just workaround and setting timezone from args is more universal and right way.
+1 for add ability to set tz without binds.

[2018-02-05 15:05] fsouza commented on #682
@pznamensky this is not something go-dockerclient can do, unless Docker offers a way of doing it through its API.

[2018-02-06 18:45] jward-2ndwatch commented on #589
This is also causing a problem in Harbur Captain on Windows. I have opened a bug there (https://github.com/harbur/captain/issues/77) but it seems a fix here would be the correct solution.

[2018-02-11 18:19] fsouza commented on #589
I apologize for leaving this bug hanging for  so long. I just pushed a tentative fix. Unfortunately I don't have a Windows host where I can reproduce the bug nor test the fix, but the CI build did succeed: https://ci.appveyor.com/project/fsouza/go-dockerclient/build/355.

@jward-2ndwatch can you give it a shot?

[2018-02-12 02:35] fsouza commented on #644
Done via #713.

[2018-02-12 02:35] #644 closed

[2018-02-12 08:36] airking05 opened #714 "Is there any update plan to newer API version?"
Hi :). It seems that we can apply some client code to newer API version e.g. 1.36.

https://docs.docker.com/engine/api/v1.36/

https://github.com/fsouza/go-dockerclient/blob/fac48ffdefb84ad6326eb23ea277e7ca8175b99e/client.go#L58-L61

[2018-02-12 14:55] fsouza commented on #714
Hey @airking05, those variables are used when we need to create some kind of condition based on the API version. go-dockerclient is intended to always support the latest version of Docker Engine API, but there's some lagging feature-wise.

[2018-02-12 16:18] jward-2ndwatch commented on #589
I will try to make some time and give it a shot soon. Thanks for getting to this.

[2018-02-12 17:48] jward-2ndwatch commented on #589
@fsouza I rebuilt Harbur Captain with this update and it looks like it solved the issue I was having. 👍

[2018-02-12 18:47] fsouza commented on #589
@jward-2ndwatch thank you very much for confirming!

[2018-02-12 18:47] #589 closed

[2018-02-14 10:32] #714 closed

[2018-02-21 09:30] surajnarwade opened #715 "Support for multistage build"
support for multistage docker build

[2018-02-21 10:28] mavogel opened #716 "Support for server-side rollback"
According to [API-v1.35](https://docs.docker.com/engine/api/v1.35/#operation/ServiceUpdate) for service updates there is a new parameter to handle server-side updates.

The struct needs to be adapted as follows:
[code]

[2018-02-21 10:45] surajnarwade commented on #715
It depends on installed docker version.
Sorry for inconvenience.
Closing the issue

[2018-02-21 10:45] #715 closed

[2018-02-21 13:01] #716 closed

[2018-02-21 14:17] mavogel commented on #716
thx @fsouza for the blazingly fast solving of the issue 😃  🚀  Will be merged in `tf` soon with https://github.com/terraform-providers/terraform-provider-docker/pull/44

[2018-02-21 16:44] fsouza commented on #716
@mavogel thank you  for reporting it! :D

[2018-02-26 19:23] mavogel opened #717 "Support for forcefully remove volumes"
According to [API-v1.35](https://docs.docker.com/engine/api/v1.35/#operation/VolumeDelete) for volumes deletion, there is a new parameter to forcefully remove docker volumes

The method needs to be adapted:
[code]

[2018-02-27 04:40] fsouza commented on #717
Oh no :-( That would be a breaking change, so we need to create something like ``RemoveVolumeWithOptions`` (matching  the ``*WithContext`` methods)  or ``RemoveVolumeEx`` (matching ``SearchImagesEx``).

I think``RemoveVolumeWithOptions`` makes more sense, so I'm gonna make this change and create this new method.

[2018-02-27 04:59] #717 closed

[2018-02-27 09:27] mavogel commented on #717
Yep true, didn't consider the breaking change. Thx for implementing it. Next time I'll do a PR ;-)

[2018-03-03 17:04] fsouza commented on #698
Closing this as we were able to address it on kubernetes/kompose#837.

[2018-03-03 17:04] #698 closed

[2018-03-03 17:04] #105 closed

[2018-03-03 17:05] fsouza commented on #32
This is quite old. Closing.

[2018-03-03 17:05] #32 closed

[2018-03-03 17:05] #123 closed

[2018-03-03 17:06] #200 closed

[2018-03-03 17:06] #201 closed

[2018-03-03 17:06] #202 closed

[2018-03-07 13:47] thesyncim commented on #494
example how to run multiple commands

[code]

[2018-03-09 05:29] andy-zhangtao opened #720 "Dep ensure failure"
In my project, I use go-dockerclient v1.2.0.

When I execute "dep ensure", there will be many dep errors.  It seems there are no met docker versions.

/go/src/github.com/andy-zhangtao/humCICD # dep ensure
Solving failure: No versions of github.com/docker/docker met constraints:
	v1.13.1: Could not introduce github.com/docker/docker@v1.13.1, as it is not allowed by constraint master from project gi

[2018-03-09 12:34] fsouza commented on #720
Hey @andy-zhangtao, it looks like your project also depends on ``docker/docker`` (i.e. you have it on your Gopkg.toml)?

Can you share the contents of your ``Gopkg.toml``?

[2018-03-13 01:26] andy-zhangtao commented on #720
This is my Gopkg.toml.

[code]
I found in my project, I use github.com/Sirupsen/logrus 1.0.4. `go-dockerclient` use the master branch of docker, but this branch use logrus 1.0.3. So dep match failed.

Even though I change logrus 1.0.4 to 1.0.3, dep still failed.

[code]
I think this error is the root case.

[2018-03-13 12:19] fsouza commented on #720
@andy-zhangtao ohh, I see. Can you update your code/dep config to use ``github.com/sirupsen/logrus`` (all lower case). sirupsen recently changed his username (and that was an interesting stress test for the Go community lol).

[2018-03-13 13:55] linggao opened #721 "Does it support docker's content trust feature in PullImage() function?"
1. If DOCKER_CONTENT_TRUST=1 environmetal variable is set up, does the PullIamge() only get the signed images as `docker pull`?
2. `docker pull` supports a flag` --disable-content-trust=false/true`, does the PullImage() function support this option?

[2018-03-14 01:11] andy-zhangtao commented on #720
@fsouza  Your suggest is very useful!!!  I use `sirupsen` replace`Sirupsen` in my project. Then re-execute `dep init`. Now in the vendor is go-dockerclient@v1.2.0 and docker@master.

Tks!! 👍

[2018-03-14 01:11] #720 closed

[2018-03-14 05:19] houqp opened #723 "go routine leak from AddEventListener"
Hi,

I noticed we always get a dangling go routine running after calling `AddEventListener` then `RemoveEventListener`. The dangling go routine is created at https://github.com/fsouza/go-dockerclient/blob/master/event.go#L327. Is there anyway to tell that go routine to exit gracefully?

[2018-03-19 23:33] fsouza commented on #721
hey @linggao, sorry for such a delayed response. go-dockerclient doesn't support content trust feature at the moment, this is only implemented in the Docker CLI.

[2018-03-19 23:37] fsouza commented on #723
@houqp thanks for reporting. This can definitely be worked out. Can you provide more details on how to reproduce the issue? Are you calling ``RemoveEventListener`` right after ``AddEventListener``?

[2018-03-23 07:04] tobiasfielitz opened #724 "Is "inactivity time exceeded timeout" an issue?"
We are using https://github.com/gliderlabs/logspout to forward logs from docker swarm to our ELK stack. _logspout_ uses go-dockerclient. I can see lots of `inactivity time exceeded timeout` errors in the logs and some logs never make it into ELK (I can see them using `docker service logs -f <service>` though).

I tried to read the code and understand when/why it happens, but I am not a go programm

[2018-03-26 00:13] houqp commented on #723
Yes, you should be able to repro by calling RemoveEventListener right after AddEventListener.

[2018-03-28 20:18] fsouza commented on #724
@tobiasfielitz hey, go-dockerclient doesn't reconnect, but I believe logspouts does reconnect? See this: https://github.com/gliderlabs/logspout/blob/f62d0c473a672aa5048335d7602984944d33bce6/router/pump.go#L227-L248

I don't think the logic on logspout's side is completely correct though, but it does seem like the inactivity timeout is configurable there, and you can disable it by setting the envir

[2018-03-28 20:19] fsouza commented on #723
@houqp cool, thanks for confirming! I'll adjust the code to make sure this issue doesn't happen!

[2018-03-29 05:30] tobiasfielitz commented on #724
hey @fsouza thanks for the reply!
If I understand correctly, I am getting these messages if there are no logs for the `INACTIVITY_TIMEOUT` period, but as soon as logspout reconnects (it does) it will pick up missing logs?
I guess I don't want to disable it completely as I am expecting it to be there for a reason.

[2018-03-29 12:35] fsouza commented on #724
@tobiasfielitz yes, that seems to be the case, but I think the logic on logspout can be tunned to avoid losing log lines.

When reconnecting, logspout sets the "since" parameter to ``time.Now() - INACTIVITY_TIMEOUT``, so I believe there's a chance of  losing log lines that come immediately after (we could do some tests to prove it). If that's really the case, we could send a patch to logspout to d

[2018-03-30 00:08] #723 closed

[2018-04-11 17:08] arekkas commented on #599
@dennwc I think you're refering to [dockertest](https://github.com/ory/dockertest). If so, I just removed dependencies to docker/go-dockerclient and added them to the project instead, see [#122](https://github.com/ory/dockertest/pull/122). It seems like this issue is stale / not worked on and the entanglement with swarm proved difficult (I removed swarm in the clone).

[2018-04-28 16:41] fsouza commented on #658
This is done now.

[2018-04-28 16:41] #658 closed

[2018-04-29 15:00] fayep opened #729 "Echo settings incorrect for exec"
When terminal is enabled in Exec, stdin is copied back to stdout (remote echo).  This is not the behavior when using docker exec:
[code]
Performing the same task through StartExec()
[code]
Disabling terminal mode is not an option, as this will prevent the prompt being displayed. Turning off local echo isn't a solution as it prevents you from seeing what you typed until enter is pressed.

`exit, _

[2018-04-29 15:36] fayep commented on #729
[code]

[2018-04-30 23:02] brad-jones opened #731 "Sorry probs Noob Question, whats the diffrence between this project and the offical SDK?"
I have recently started learning go, and have also been using docker for ages so naturally I am building some interesting docker based tools, mainly for CI/CD purposes.

Anyway up until now I have been using the official SDK: https://docs.docker.com/develop/sdk/

I just stumbled across this project and note it's still pretty active, where as most other libs appear to be abandoned in favour of the

[2018-05-01 04:57] fsouza commented on #731
Hey @brad-jones, thanks for bringing that up.

This project was created before Docker had an official Go SDK and is relatively active because it's still used in some tools such as tsuru, amazon-ecs-agent and nomad. IIRC, kubernetes also used to use go-dockerclient, but has now migrated to the official SDK.

For new projects, using the official SDK is probably more appropriate as go-dockerclient la

[2018-05-29 15:53] mavogel opened #733 "Fix build for freebsd and solaris"
Hi,

I am using this library in the [terraform-provider-docker ](https://github.com/terraform-providers/terraform-provider-docker) and we support multiple OS and Arch combinations.

Unfortunately I cannot release because the build fails for due to library for `freebsd` and `solaris`.

Here is a little script to reproduce it (you can ignore the `unsupported GOOS/GOARCH pair` errors):
[code]

[code]

[2018-05-30 20:15] Sriharsha-reddy opened #734 "Error in running startexec"
Hi,
I have recently started using go-dockerclient. All the args should be passed as a command.
This code works fine if WorkingDir is not mentioned in createExecConfig.
[code]

[code]
Error in err = client.StartExec(execObj.ID, startExecConfig)

I have tried removing the Workingdir from createExecOptions and it works.

[2018-05-31 03:21] fsouza commented on #734
@Sriharsha-reddy can you post the full panic stack trace? Also, are you seeing the message "failed to create command"?

[2018-05-31 03:44] harshareddy2020 commented on #734
@fsouza Thank you very much for responding. This was because the code was inside a function and i was not throwing the error instead printing it out.

[2018-05-31 16:27] phcollignon opened #735 "docker stats not working in a container (in Kubernetes dockerindocker)"
Hello,

The client.Stats does not return anything in the stats channel when I run it inside a container (in a Kuberenetes docker in docker installation)
I mounted the /var/run/docker.stock volume
Client is ok, it can list containers, images .. but does not return anything in client.Stats ...
I tried docker CLI inside the container and it works

``

endpoint := "unix:///var/run/docker.sock"
client,

[2018-05-31 17:31] #735 closed

[2018-05-31 17:31] phcollignon commented on #735
Sorry .. it was the monitor code that was not supported

[2018-05-31 17:40] fsouza commented on #734
Thanks for confirming. Please feel free to open new tickets or re-open this one if you feel like it :)

[2018-05-31 17:40] #734 closed

[2018-06-07 06:08] scriptonist opened #736 "Possible dependency failure"
- I've started a project
- Imported `github.com/fsouza/go-dockerclient`
-  Ran `dep ensure`

On trying to run the program, I'm encoutering the following error
[code]
Anybody experienced this issue before ?

[2018-06-13 20:59] PMoneda commented on #736
I have the same problem;

1) dep ensure -add github.com/fsouza/go-dockerclient
2) go run main.go
3) dep error

[2018-06-16 09:33] scriptonist commented on #736
Don't know if It's a hack, but got it working after adding the following in my `Gopkg.toml` file.
[code]

[2018-06-18 22:36] fsouza commented on #736
Sorry @scriptonist @PMoneda, this issue has been fixed on master but I need to tag a new release, my bad. Just tagged 1.2.1, so the ``[[override]]`` won't be necessary.

[2018-06-19 19:10] fsouza commented on #733
Hey @mavogel, sorry for such a delayed response and thanks for reporting. I'll do some investigations around this and see what the correct solution would be.

[2018-06-20 02:48] #733 closed

[2018-06-20 02:49] fsouza commented on #733
@mavogel this should be good now!

[2018-06-20 03:34] #721 closed

[2018-06-20 03:34] #682 closed

[2018-06-20 03:34] #529 closed

[2018-06-20 03:35] #218 closed

[2018-06-20 03:35] #220 closed

[2018-06-20 03:36] #304 closed

[2018-06-20 03:36] #310 closed

[2018-06-20 03:36] #335 closed

[2018-06-20 03:37] #361 closed

[2018-06-20 03:37] #366 closed

[2018-06-20 03:37] #372 closed

[2018-06-20 03:38] #373 closed

[2018-06-20 03:38] #376 closed

[2018-06-20 03:38] #391 closed

[2018-06-20 03:38] fsouza commented on #403
We're tagging releases now! Forgot about this issue x)

[2018-06-20 03:38] #403 closed

[2018-06-20 03:39] fsouza commented on #405
Vendoring is here! Kinda...

[2018-06-20 03:39] #405 closed

[2018-06-20 03:39] #422 closed

[2018-06-20 03:39] #423 closed

[2018-06-20 03:39] #426 closed

[2018-06-20 03:39] #427 closed

[2018-06-20 03:40] #445 closed

[2018-06-20 03:40] #447 closed

[2018-06-20 03:41] #457 closed

[2018-06-20 03:41] #460 closed

[2018-06-20 03:41] #461 closed

[2018-06-20 03:41] #465 closed

[2018-06-20 03:41] #466 closed

[2018-06-20 03:41] #468 closed

[2018-06-20 03:43] #484 closed

[2018-06-20 03:43] #494 closed

[2018-06-20 03:44] #495 closed

[2018-06-20 03:44] fsouza commented on #503
Docker 1.6 is ancient now :D :D :D Closing.

[2018-06-20 03:44] #503 closed

[2018-06-20 03:45] fsouza commented on #521
go-dockerclient now uses the jsonmessage package, so the output is better now! :D

[2018-06-20 03:45] #521 closed

[2018-06-20 03:46] #729 closed

[2018-06-20 04:08] onlyjob commented on #403
Thanks!

[2018-06-25 16:57] scottstensland opened #738 "can I pin to specific docker API version"
when I get

    client version 1.38 is too new. Maximum supported API version is 1.37

short of using  dep for vendoring is there a way to pin API version ?

[code]

[code]

[2018-06-25 17:00] #738 closed

[2018-06-26 20:38] nneonneo opened #739 "HostConfig is missing Runtime option"
I need to use an alternate runtime in one of my containers, and I found that `go-dockerclient` lacks the `Runtime` option for HostConfig. This is a documented option in the API: https://docs.docker.com/engine/api/v1.37/#operation/ContainerCreate. Can we get the Runtime option added to HostConfig?

[2018-06-27 11:40] #739 closed

[2018-06-29 06:54] davidkhala commented on #736
The problem still exist in 1.2.1

[2018-06-29 12:33] fsouza commented on #736
@davidkhala can you post the error you're seeing?

I was able to do the following:

[code]

[2018-07-02 04:15] fpgeek commented on #739
@fsouza the `Runtime` option must be in `HostConfig` not in `Config`. Please fix that.

[2018-07-02 04:32] fsouza commented on #739
Ohh my bad x(

[2018-07-12 09:08] anthraxn8b opened #740 "Question: Howto get stats for a container NOT as Stream?"
This is the definition in docker:

https://docs.docker.com/engine/api/v1.30/#operation/ContainerStats
"[...] query Parameters [...] stream [...] Stream the output. If false, the stats will be output once and then it will disconnect. [...]"

I cannot find this option at `client.Stats(docker.StatsOptions{ID:id,Stream:false})` because there is no defined return value (`func (c *Client) Stats(opts Sta

[2018-07-19 14:18] rfay commented on #736
I see this in 1.2.2 as well.

[2018-07-19 15:42] rfay commented on #736
@fsouza  This simple gist demonstrates the problem. It's the exact thing you suggested above in https://github.com/fsouza/go-dockerclient/issues/736#issuecomment-401340792

dep v0.4.1
golang 1.10.3

Please reopen this issue, it's not resolved.

[2018-07-20 13:59] fsouza commented on #736
@rfay I still can't reproduce. Can you run dep commands in verbose mode?

[code]

Also, what's the output of ``go version``? And what does your Gopkg.toml & Gopkg.lock look like after you run those commands?

Last, but not least, can you try with the ``master`` version of ``dep`` (``go get -u github.com/golang/dep/cmd/dep``)? That's what I'm currently using. dep 0.4.1 has been released in January

[2018-07-20 15:37] rfay commented on #736
Shoot, I failed to paste the link to the gist, sorry, https://gist.github.com/rfay/758f9462c30a28c43b1a5ecaf02964a0 - it has the Gopkg.lock that got created. That's exactly the same thing you posted.

go version: go version go1.10.3 darwin/amd64

In the gist directory, with dep v0.4.1:
[code]

Did the same thing with current master of dep:
[code]
Exact same behavior.

[2018-07-21 12:03] fsouza commented on #736
@rfay coool, thanks for sharing that. can you also share the output of `dep ensurve -v`? I'll dig into that.

[2018-07-27 02:54] dzliang10 opened #741 "logrus: case-insensitive import collision"
../../../github.com/fsouza/go-dockerclient/internal/archive/archive.go:21:2: case-insensitive import collision: "github.com/sirupsen/logrus" and "github.com/Sirupsen/logrus"

how can i fixed it?

[2018-08-01 03:07] BaliStarDUT opened #743 "volume.go has no creatTime"
According to https://docs.docker.com/engine/api/v1.35/#operation/VolumeList
the volume should have CreateTime：
[code]

[2018-08-08 18:37] fsouza commented on #741
Hi @dzliang10, does your code use logrus? If so, can you make sure you're using the new import path? (all lower case)

[2018-08-08 18:39] #743 closed

[2018-08-22 06:34] ClareChu opened #746 "docker register pull images 404"
/images/create
got <nil> want API error (404): 404 page not found

[2018-08-22 10:34] #746 closed

[2018-09-11 09:09] onlyjob opened #747 "FAIL: TestClientStreamJSONDecodeWithTerminal"
As reported in https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=907713
`TestClientStreamJSONDecodeWithTerminal` fails as follows:

[code]

See [build log](https://people.debian.org/~sanvila/build-logs/golang-github-fsouza-go-dockerclient/golang-github-fsouza-go-dockerclient_1.2.1-1_amd64-20180831T181510Z).

Probably this is because `setRawTerminal:    true,` is not used:
https://github.com/fsouza

[2018-09-19 09:31] trastle commented on #627
I know this is quite an old thread but is there any intention of using the credentials store? The use of this is now ubiquitous on OSX so the existing credential loading mechanism is less and less useful.

[2018-10-01 12:10] Duvel opened #750 "Service update without authentication breaks authentication"
I was trying to scale an existing service (update of the service), but after the scaling it was no longer able to reach a private registry with authentication.

After some researching I found that there was a false header added to the API-call:
X-Registry-Auth:e30K

It appears that when the authentication is empty, the header is still added with an empy json object ({}) , which introduces the wron

[2018-10-02 16:38] #750 closed

[2018-10-29 17:15] fabianem commented on #736
@fsouza do you have maybe any updates regarding this issue?
Because I am facing now a similar problem - have this included in my **Gopkg.toml**:
[code]

And trying to run a test I am getting this error message:
`[root_project]/vendor/github.com/fsouza/go-dockerclient/internal/archive
../vendor/github.com/fsouza/go-dockerclient/internal/archive/archive.go:74:20: undefined: idtools.Identity`

And I

[2018-10-30 01:46] fsouza commented on #736
@fabianem sorry about that. Can you try removing the ``github.com/docker/docker`` override and using go-dockerclient's master? Or, if you can link me to a repo, I can give it a shot too.

[2018-10-30 11:06] fabianem commented on #736
@fsouza unfortunately removing `github.com/docker/docker` and using go-dockerclient's master didn't solve the problem. But I finally figured a problem, which makes kinda solution - I am quite new to golang and especially dep, so not quite sure if this is the best approach:

**Gopkg.toml**:

[code]
What I did now is added for `github.com/docker/docker` `branch = "master"` instead of `revision = "a4

[2018-11-01 21:37] realshuting commented on #483
Do we have any update on this? Filtering events is definitely needed.

[2018-11-03 03:18] fsouza commented on #736
@fabianem awesome, I'm glad you were able to figure it out!

[2018-12-08 14:21] GeorgeMac commented on #740
@anthraxn8b I cannot say I have used this function myself. But my guess would be (based on the docker documentation and this function) that you would be able to set `Stream: false` and expect to receive one single https://godoc.org/github.com/fsouza/go-dockerclient#Stats struct to be sent on the channel you configure within the https://godoc.org/github.com/fsouza/go-dockerclient#StatsOptions struc

[2018-12-15 02:26] nictuku opened #753 "weird docker checksum problem"
Hi there. I got a really weird message today when building our project inside TravisCI:

[code]

This is coming from `go mod`, which downloads the library and checksums it against a value recorded in go-dockerclient's go.sum.

I'm not sure why this is happening, but that docker library version is kinda old so perhaps the easiest fix is to update it?

[2018-12-15 02:46] nictuku commented on #753
Looks like this is a problem with go 1.11.4. I'll open a bug report there instead.

[2018-12-15 02:46] #753 closed

[2018-12-23 16:59] #731 closed

[2018-12-28 21:38] xrayrey opened #754 "Automatically set proxy environment variables in containers"
Hi all,

Is there a way to automatically set the proxy environment variables inside containers started with go-dockerclient? This is supported by the docker client as shown here: https://docs.docker.com/network/proxy/#configure-the-docker-client

Thanks!

[2019-01-06 15:49] #243 closed

[2019-01-06 15:50] #300 closed

[2019-01-06 15:50] #318 closed

[2019-01-06 15:51] #328 closed

[2019-01-06 15:51] #360 closed

[2019-01-06 15:53] #433 closed

[2019-01-06 15:53] #381 closed

[2019-01-06 15:54] #486 closed

[2019-01-06 15:55] #509 closed

[2019-01-06 15:57] #736 closed

[2019-01-06 15:58] #724 closed

[2019-01-06 15:58] #659 closed

[2019-01-06 16:01] #488 closed

[2019-01-06 16:07] #596 closed

[2019-01-06 16:08] #646 closed

[2019-01-06 16:09] #548 closed

[2019-01-06 16:10] fsouza commented on #754
Hey @xrayrey, thanks for opening this issue. This is not supported, you'd need to set the proxy environment variables when calling ``CreateContainer``.

[2019-01-06 16:18] fsouza commented on #747
Hi @onlyjob, somehow I missed this issue, sorry about that. Is this still a problem?

setRawTerminal shouldn't be used here because this test emulates a terminal with an in-memory buffer.  If this is still an issue, I can try to poke around and see if I can reproduce it.

[2019-01-06 16:32] #747 closed

[2019-01-07 22:46] #754 closed

[2019-01-10 10:49] marioarizaj opened #755 "Get the container id that the go app is currently running"
I was wandering if there is a way to detect in the code level the currently running container of the application and restart it in a given case.
The container is created through the docker build and run commands, not in code level.

[2019-01-10 22:16] fsouza commented on #755
Hi @marioarizaj. I don't think docker offers an API for that and you'd need to mount the docker socket inside the container, which is usually not a good thing to do with untrusted containers (not sure if that's your case).

Alternatively, you could kill the process and docker will restart the container if you're using the correct restart policy.

[2019-01-11 04:49] wuestkamp commented on #677
So I solved this on OSX by disabling the keychain password storage:

1. `rm ~/.docker/config.json`
2. in Docker for Mac preferences, untick "Securely store Docker logins in macOS keychain"
3. restart Docker for Mac
4. `docker login`

Or for glcoud and pushing to gcr:
`gcloud auth print-access-token | docker login -u oauth2accesstoken --password-stdin https://eu.gcr.io`

now your `~/.docker/config.

[2019-01-11 11:19] marioarizaj commented on #755
@fsouza Thank you for your fast response :)

[2019-01-11 11:19] #755 closed

[2019-01-12 15:17] GingerMoon opened #756 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #757 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #758 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #759 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #760 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #761 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #762 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #763 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #764 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #765 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #766 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #767 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #768 "create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory"
create container failed: Post http://unix.sock/containers/create?name=dev-peer0.org2.example.com-mycc-1.0: dial unix /var/run/docker.sock: connect: no such file or directory {"imageName": "dev-peer0.org2.example.com-mycc-1.0-15b571b3ce849066b7ec74497da3b27e54e0df1345daff3951b94245ce09c42b", "containerName": "dev-peer0.org2.example.com-mycc-1.0"}

[2019-01-12 15:17] GingerMoon opened #769 "create container failed: Post http://unix.sock/containers/create?name=...: dial unix /var/run/docker.sock: connect: no such file or directory"
Dear contributors,
I am trying to deploy [Hyperledger Fabric sample ](https://hyperledger-fabric.readthedocs.io/en/latest/build_network.html) into multi hosts and got this error when creating a container from within a container.
This issue happens on the hosts Boot2Docker 18.09.0 (TCL 8.2.1) and  CentOS Linux 7 (Core)-Kernel Version: 3.10.0-514.el7.x86_64.

Would you please tell me why this error

[2019-01-13 14:59] GingerMoon commented on #769
this issue disappeared somehow....

[2019-01-13 14:59] #769 closed

[2019-01-13 18:42] #756 closed

[2019-01-13 18:42] #757 closed

[2019-01-13 18:42] #758 closed

[2019-01-13 18:42] #759 closed

[2019-01-13 18:42] #760 closed

[2019-01-13 18:42] #761 closed

[2019-01-13 18:42] #762 closed

[2019-01-13 18:42] #763 closed

[2019-01-13 18:42] #764 closed

[2019-01-13 18:42] #765 closed

[2019-01-13 18:42] #766 closed

[2019-01-13 18:42] #767 closed

[2019-01-13 18:42] #768 closed

[2019-01-13 19:47] GingerMoon commented on #769
@fsouza I am sorry that I created so many issues...
I just knew it. I had thought it's an issue of front-end js displaying 1 issue multiple times...
I guess it's because I refresh the page several times when creating the issue.
Sorry again.

[2019-01-13 23:01] fsouza commented on #769
@GingerMoon no worries, it happens! Just to confirm, you're no longer having the issue, right?

[2019-01-16 05:03] shiyuleixia opened #770 "StatusNotFound is not enough for verifying the ErrNoSuchImage"
if e, ok := err.(*Error); ok {
		if e.Status == http.StatusNotFound {
			return nil, ErrNoSuchImage
		}

this part should also justify the exact error message ,such as this:
if e.Status == http.StatusNotFound && strings.Contains(e.Message, "No such image")

because it the network resource is not exist ,the docker daemon service also response StatusNotFound

[2019-01-16 16:00] fsouza commented on #770
dup of #528, but thanks for reporting, I had forgotten about this.

[2019-01-16 16:00] #770 closed

[2019-01-16 16:13] #528 closed

[2019-01-20 00:02] fsouza commented on #615
This has been fixed a while ago, by c40547ed13000ec6fc7722f2fbb638441b0e3b2c.

[2019-01-20 00:02] #615 closed

[2019-01-20 00:06] fsouza commented on #511
Closing this, as I believe we've made progress fixing the data races in the event monitoring code. Also, I've run the while ./go-dockerclient.test experiment for ~30 minutes on both Mac and Linux, so we _should_ be good.

[2019-01-20 02:38] fsouza commented on #511
Ok, I'm confident now :)

[2019-01-20 02:38] #511 closed

[2019-01-25 00:22] skanehira opened #771 "Question: attach container and use vim is not work"
@fsouza
Hi!
Thank you for great job!

I'm developing a TUI tool for docker client.
However, I have a problem with when use vim in a container.

**problem:**
when start vim in a container, the screen size of vim be smaller.
And even after exit container, that state continue.

**question:**
could you tell me How to fix it if you know cause.

![container-vim](https://user-images.githubusercontent.com

[2019-01-25 06:59] davidkhala commented on #736
https://github.com/davidkhala/fabric-common-chaincode-golang

This is a reference for Hyperledger fabric developer

At least for release-1.4, a quick fix could be

 `
[[constraint]]
  name = "github.com/hyperledger/fabric"
  branch = "release-1.4"
# TODO jira issue https://jira.hyperledger.org/browse/FAB-10936

#FIXME if test passed, please clean up this 'fsouza/go-dockerclient' section
[[override

[2019-01-25 16:15] fsouza commented on #771
@skanehira hey, you have to [resize the exec TTY](https://godoc.org/github.com/fsouza/go-dockerclient#Client.ResizeExecTTY). Something like:

[code]

Let me know if that works for you.

[2019-01-25 17:13] skanehira commented on #771
@fsouza
It worked!
Thanks for helping me out. I really appreciate that!

![tty-resize](https://user-images.githubusercontent.com/7888591/51761119-8fa9b280-210f-11e9-8a93-7c42e428524e.gif)

[2019-01-25 18:53] #771 closed

[2019-02-04 14:21] skanehira opened #772 "Question: Do you have a plan to support ssh?"
I want to use ssh client to connect docker engine but it seems not support ssh now.
Do you have a plan to support ssh?

[2019-02-09 02:46] fsouza commented on #772
Hey @skanehira, sorry for the delayed response. This is out of scope for this package, you'd probably need to wrap it with some ssh client library.

[2019-02-09 02:46] #772 closed

[2019-02-09 02:46] #485 closed

[2019-02-10 03:03] skanehira commented on #772
@fsouza
Thanks :)

[2019-02-11 15:10] gmorse81 opened #773 "can't go get github.com/fsouza/go-dockerclient"
I've been trying to figure this out for a while. wondering if anyone has a solution for this issue.
When i try to `go get github.com/fsouza/go-dockerclient`, i get the below error. From what i can tell, one of the dependencies of this package is importing Sirupsen/logrus (with a capital S).

I don't see any other issues opened on this repo for the issue, so i assume im just missing something. I've

[2019-02-11 15:20] fsouza commented on #773
Hi @gmorse81, thanks for reporting. Do you have a ``go.mod`` file? Can you share it? It may be some dependency that isn't playing well.

It works fine on a newly initiated module:

[code]

[2019-02-11 16:29] gmorse81 commented on #773
Your comment got me thinking and i was able to resolve the issue. For those reading this, i had to delete the contents of go/pkg/mod

i was then able to get everything working.

[2019-02-11 16:29] #773 closed

[2019-02-12 01:16] #493 closed

[2019-02-12 03:52] #126 closed

[2019-03-08 09:09] deepak6446 commented on #132
may be useful for someone

resp, err := cli.ContainerCreate(ctx, &container.Config{
		Tty: false,
		Image: "fb05ad264203",
		Env: []string{"port="+port},
	}, &container.HostConfig{
		PidMode: "host",
		NetworkMode: "host",
		UTSMode: "host",
		Resources: container.Resources{
			Memory: 100000000,
			MemorySwap: 100000000,
		},
		Binds:[]string{
			HOST.TEMP_PATH + ":" + DOCKER.TEMP_PATH + ":rw",

[2019-03-09 17:35] ciokan opened #775 "Ports not being opened"
I have this config for a container but it only opens the `tcp` port:

    ...
	StartConfig: docker.HostConfig{
		PortBindings: map[docker.Port][]docker.PortBinding{
			"53/tcp": {{HostIP: "0.0.0.0", HostPort: "1053"}},
			"53/udp": {{HostIP: "0.0.0.0", HostPort: "1053"}},
		},

I tried in every possible way without luck. When I run the container using the cmd it works as expected:

[code]

Any ide

[2019-03-09 19:17] #775 closed

[2019-03-10 04:14] fsouza commented on #775
Hey @ciokan, sorry I missed this. Were you able to figure out what was going on?

[2019-03-10 13:57] ciokan commented on #775
yes, I forgot to expose the udp port in my dockerfile

[2019-04-25 18:32] arxdsilva opened #777 "install with modules throws a undefined error"
Hi, I'm adding go modules to our org and after running the conventionals `go mod init/tidy` and trying to install it, this error showed up. I've looked up go-dockerclient and everthing seems to be on the right places but It still wont work.

[code]

[2019-04-25 19:24] fsouza commented on #777
@arxdsilva can you share your ``go.mod``?

[2019-04-25 19:26] arxdsilva commented on #777
[code]

[2019-04-25 20:49] fsouza commented on #777
Can you share the output of ``go mod graph`` or look into the line equivalent to ``github.com/docker/docker`` in ``go.sum``?

If you have private import paths that you'd rather not share, can you try to create a small reproducer? I can give it a shot later today as well.

[2019-04-25 20:54] arxdsilva commented on #777
sure, gimme a sec

[2019-04-26 02:35] fsouza commented on #777
Oh I see, so the problem here is that your package depends directly on docker/docker and somehow it's pulling an old version of Docker instead of the one specified in go-dockerclient's go.mod :thinking: I don't see docker/docker in your go.mod, so :man_shrugging:?

Can you try ``go get github.com/docker/docker@v0.7.3-0.20190309235953-33c3200e0d16``?

[2019-04-26 13:43] arxdsilva commented on #777
Thank you @fsouza, It worked perfectly!

[2019-04-26 13:43] #777 closed

[2019-05-03 13:54] 030 opened #778 "windows endpoint"
I tried to run the example on Windows and the following is returned:

[code]

[2019-05-03 14:35] fsouza commented on #778
Hey @030, thanks for opening the issue. Docker on Windows uses named pipes, so connecting using a unix socket won't work there. If you're using the default Docker configuration, ``NewClientFromEnv()`` should work on both Windows and Linux.

Please try the following:

[code]

If that works, I'll update the example in the README.

[2019-05-03 14:45] 030 commented on #778
@fsouza Thanks. Not it works:

[code]

[2019-05-03 14:45] #778 closed

[2019-05-19 22:22] sash2727 opened #779 "Export Multiple Docker Images into a tar file"
Hi this is also in a reference to a closed issue:
https://github.com/fsouza/go-dockerclient/issues/600

However I wanted to know if the exportImages function can consume multiple docker images and export them all into one tar file? and then how will it later be loaded and then pushed? Can I see a sample of it?

[2019-05-23 03:23] #779 closed

[2019-05-23 03:25] sash2727 opened #780 "How to read a response body when error doesn't return response?"
opts := docker.LoadImageOptions{InputStream: r, OutputStream: w, Context: ctx}
	if err := client.LoadImage(opts); err != nil {
		panic(err)
	}

But when trying to get the response body, I run into this issue err.Body undefined (type error has no field or method Body). Any way I can get the response body?

[2019-05-23 14:05] fsouza commented on #780
Hey @sash2727, what error exactly are you seeing? What's the output of that code?

The body is exposed on generic API errors, but go-dockerclient wraps some specific ones with specific error types.

[2019-06-14 08:06] xq840622 opened #783 "When I create a user-defined network，how could I set it to be attachable, since CreateNetworkOptions don't have such field?"
type CreateNetworkOptions struct {
	Name           string                 `json:"Name" yaml:"Name" toml:"Name"`
	Driver         string                 `json:"Driver" yaml:"Driver" toml:"Driver"`
	IPAM           *IPAMOptions           `json:"IPAM,omitempty" yaml:"IPAM" toml:"IPAM"`
	Options        map[string]interface{} `json:"Options" yaml:"Options" toml:"Options"`
	Labels         map[string]strin

[2019-06-14 14:43] fsouza commented on #783
Hey @xq840622, that parameter is missing. I'll push a fix shortly.

[2019-06-14 14:44] #783 closed

[2019-06-18 18:03] eyJhb opened #784 "Official client semi broken"
Just wanted to point up, that the most basic of features are broken in the official client, and should be noted.. Hence the reason for sticking with this library, see here - https://github.com/moby/moby/issues/28269

Even this simple port code won't work.

[code]

Maybe this should be noted?

[2019-06-18 19:05] fsouza commented on #784
Yikes I wasn't aware of that issue. On a plus side, once docker/docker migrates to go modules, this issue should be resolved. Until then, users will need to continue stripping the vendor directory, as docker mixes the main package & library packages in the same repo.

@eyJhb thanks for pointing that out. I'll amend the note in the README to mention potential shortcomings with the official SDK and

[2019-06-18 19:06] #784 closed

[2019-06-21 10:22] eyJhb commented on #784
Hoping it will happen, but I just see no mention for it. And the issue is pretty dated...

But thanks for the quick response @fsouza ! Really appreciate it, and great work on this client for go ;) Will continue to use it, seeing as it works better than the official.

[2019-06-26 16:27] drrford opened #785 "How to set a memory limit?"
Hello. I'm trying to create container with following host configuration:
[code]
Here I'm trying to allocate 32 MB of RAM for a container, but I get this error:
**panic: API error (400): Minimum memory limit allowed is 4MB**

[2019-06-26 16:41] fsouza commented on #785
@drrford hey there, the Memory field is specified in bytes, you need to set it to ``32000000``.

[2019-06-27 15:38] #785 closed

[2019-07-19 19:57] twelfthdoctor opened #788 "Do you have an alternative for --sysctl flag?"
Hello. How can I  translate the following command into code?
``` docker run --sysctl net.ipv4.ip_unprivileged_port_start=0 someimage ```
How can I pass some arguments to sysctl via your client?

[2019-07-19 21:46] fsouza commented on #788
Hi @twelfthdoctor. Yes, you can set Sysctls in Hostconfig: https://godoc.org/github.com/fsouza/go-dockerclient#HostConfig

[code]

[2019-07-19 21:47] #740 closed

[2019-07-20 00:08] #478 closed

[2019-07-20 14:27] #788 closed

[2019-07-20 14:28] fsouza commented on #780
Closing due to inactivity.

[2019-07-20 14:28] #780 closed

[2019-07-20 14:29] #627 closed

[2019-07-20 14:29] fsouza commented on #602
Closing due to inactivity (on my part, I know, sorry about that).

Feel free to re-open if this is still relevant.

[2019-07-20 14:29] #602 closed

[2019-07-20 14:31] fsouza commented on #599
I have done some work to clean-up/copy some dependencies. It gets tricky with swarm stuff as we're exposing types from dependencies in our public API (a mistake that can't be fixed without a breaking change). I'm going to close this issue for now, but PRs are welcome.

[2019-07-20 14:31] #599 closed

[2019-08-03 23:58] Nohac commented on #707
@jess-tang How did you get it to work? Can you post the code?

[2019-09-03 23:54] #456 closed

[2019-09-03 23:54] #483 closed

[2019-09-18 10:24] zhcppy opened #801 "can't find pkg github.com/docker/docker"
➜  go get -v github.com/docker/docker@v1.4.2
go: finding github.com/docker/docker v1.4.2
Fetching https://github.com?go-get=1
https fetch failed: Get https://github.com?go-get=1: net/http: TLS handshake timeout
go get github.com/docker/docker@v1.4.2: unknown revision v1.4.2

[2019-09-18 10:54] fsouza commented on #801
Hi @zhcppy, thanks for opening this issue. Can you provide steps for reproducing or share your go.mod file? go-dockerclient doesn't depend on docker/docker@v1.4.2, so that dependency may be coming from somewhere else.

[2019-09-18 13:25] HeikoOnnebrink opened #802 "no timeout on client.PullImage"
Situation:
I have a docker daemon running under CoreOS and exposed the TCP port by creating and binding a TCP socket (as described in the docs https://coreos.com/os/docs/latest/customizing-docker.html)

I have the situation that in some cases the server config (using Ignition) fails and the docker daemon does not start up, but the socket on port 2375 is reachable.
When calling now `client.PullImag

[2019-09-18 21:13] fsouza commented on #802
Oh interesting, this sounds like a bug. Thanks for reporting! I'm able to reproduce it with ``nc``:

[code]

I'll investigate why the ``InactivityTimeout`` isn't working.

[2019-09-18 21:33] fsouza commented on #802
So the issue is that the client doesn't get to the code that handles the InactivityTimeout because it applies only to reads of the body and in this case the server accepts the connection, takes the request but doesn't respond. This will take a little longer to fix, but you could use a context to workaround this issue, making a call that should return quickly using a short timeout (for example, ``V

[2019-09-19 02:51] zhcppy commented on #801
Thank you @fsouza, I am so sorry! I got it wrong. I should use `GO111MODULE=on go get -v github.com/docker/docker@v1.4.2-0.20190710153559-aa8249ae1b8b`

[2019-09-19 02:51] #801 closed

[2019-09-19 08:28] HeikoOnnebrink commented on #802
great to hear that you could reproduce it instantly. As you plan to fix it I will not touch the docker remote API code and wait for your fix here.
In between I just drop in a small API test call before interacting with the API from the docker client:

[code]

[2019-09-23 07:53] Nohac opened #803 "Missing detachKeys options"
It looks like the `detachKeys` option is missing in some of the options structs.

Links to the endpoints where I noticed `detachKeys` are currently missing:
https://docs.docker.com/engine/api/v1.40/#operation/ContainerExec
https://docs.docker.com/engine/api/v1.40/#operation/ContainerAttach

[2019-09-26 14:05] onlyjob opened #804 "github.com/ijc/Gotty is unmaintained..."
[github.com/ijc/Gotty](https://github.com/ijc/Gotty) is unmaintained, according to https://github.com/Nvveen/Gotty/issues/5.

It is used only in one place: https://github.com/fsouza/go-dockerclient/blob/master/internal/jsonmessage/jsonmessage.go#L17

Any alternatives?

[2019-09-26 14:28] fsouza commented on #804
Hey @onlyjob, what issue are you running into?

I can go look for something else or vendor gotty into go-dockerclient/fix the issue, but I'd like to understand what's going on first.

[2019-09-26 14:50] onlyjob commented on #804
Just a concern regarding life cycle and dependency hygiene. :)

Basically there is no `github.com/ijc/Gotty` on Debian and introducing unmaintained library as a standalone/reusable package is not a good idea... Without `github.com/ijc/Gotty` recent releases of _go-dockerclient_ FTBFS...

For now I could probably do something like

[code]

but I think it would be better to address the root cause wh

[2019-09-26 15:14] fsouza commented on #804
Gotcha. Will fix.

[2019-09-26 15:26] #804 closed

[2019-09-26 18:24] kcq opened #805 "ImageHistory struct is missing the 'Comment' field"
The ImageHistory struct should have the 'Comment' field, but it doesn't: https://github.com/fsouza/go-dockerclient/blob/master/image.go#L126

The field is in the official API: https://docs.docker.com/engine/api/v1.40/#operation/ImageHistory

[2019-09-27 00:18] onlyjob commented on #804
Thanks. :)

[2019-09-27 14:35] #805 closed

[2019-10-09 09:39] lsascha opened #809 "Getting undefined: homedir.Get"
When i try to compile a tool now i get the following error:
/go/src/github.com/fsouza/go-dockerclient/client.go:1105:12: undefined: homedir.Get

Not sure if it is the reason but it seems the namespace of the library now instead of docker/docker is moby/moby

[2019-10-09 10:16] lsascha commented on #809
ok. sorry i am still new to golang etc.
I think the issue is only happening when compiling for Mac OS (i am compiling it on linux with `env GOARCH=amd64 GOOS=darwin go build -v -o ../../project.darwin.amd64`)

[2019-10-09 10:34] lsascha commented on #809
I think i got a bit further.

It seems the issue is this change:

https://github.com/moby/moby/commit/023b072288eab3c9e768d4aeeb917f27f06034c7#diff-1b2f13bed97df1999bf7f922eb2f0909

when i remove `,osuergo` in the first line, it compiles without error.

[2019-10-09 10:53] lsascha commented on #809
got it solved. using the build tag `osusergo` solves the issue. :)
`env GOARCH=amd64 GOOS=darwin CGO_ENABLED=0 go build -tags osusergo -v -o ../../project.darwin.amd64`
So nothing to do here except learning about golang.

[2019-10-09 10:53] #809 closed

[2019-10-15 18:31] cybe commented on #809
I was running into this issue as well, so thank you for posting the solution :)

[2019-10-25 10:10] FengyunPan2 commented on #659
How to get exec result from “StartExec(id string, opts StartExecOptions)”？
I need the result of 'dockerclient.StartExec()'.

[2019-11-08 11:01] vkhromov opened #811 "`InspectContainer()` doesn't fill up `SizeRw` and `SizeRootFs`"
`func (c *Client) InspectContainer(id string) (*Container, error)` doesn't fill up `SizeRw` and `SizeRootFs` fields in the returned `Container` object.

[2019-11-08 14:22] eyJhb opened #812 "Why remove documentation from readme?"
Is there any reason why the information from #784 was removed in commit 74194a372b249501c6e4569803b9969663faa0f3, it still applies and is the main reason I use this versus the official client. :)

[2019-11-08 20:48] fsouza commented on #812
Sorry, my bad. Bad memory lol Will add it back.

[2019-11-08 20:53] #812 closed

[2019-11-08 21:12] fsouza commented on #811
hi @vkhromov, thanks for reporting this. Will push the fix.

[2019-11-08 21:12] #811 closed

[2019-11-12 17:12] eyJhb commented on #812
Perfect, thanks @fsouza !

[2019-12-13 06:01] lycclsltt opened #813 "Which is this SDK support max api version?"
Hi, I want to ask a question about api version. Now which is the max api version that this sdk can support ?

[2019-12-16 03:54] lycclsltt commented on #813
hi

[2019-12-16 03:55] lycclsltt commented on #813
I want use Docker 19 and Docker Server API version is 1.40.  Dose it support ?

[2019-12-16 04:06] lycclsltt opened #814 "do-dockerclient's version is equal to docker server api version ?"

[2019-12-16 12:35] fsouza commented on #814
See note in the readme (https://github.com/fsouza/go-dockerclient#difference-between-go-dockerclient-and-the-official-sdk):

Let me know if you have other questions!

[2019-12-16 12:36] fsouza commented on #813
1.40 should work, but as noted in the README, feel free to open an issue or PR if anything is missing! :D

[2019-12-16 12:36] #813 closed

[2019-12-17 01:45] lycclsltt commented on #813
Thanks!

[2019-12-17 01:46] #814 closed

[2019-12-19 16:56] elasti-liranm opened #815 "Docker SSH client?"
Hi,
Any plans to add an SSH client to docker lib?
From 18.09 users can connect to the docker daemon using SSH password less

[2020-01-15 02:16] chinajuanbob opened #817 "ListServicesOptions miss Status field"
see https://github.com/moby/moby/blob/954d729ab85cf254f96a461482771646830da774/api/types/client.go#L369

Thanks!

[2020-01-16 21:53] dabooz opened #818 "Support for NanoCPUs is missing"
Is there an alternative? NanoCPUs is the simplest way to limit CPU usage by a container.

It is in the docker HostConfig: https://github.com/docker/engine/blob/master/api/types/container/host_config.go#L391
within the Resources struct:
https://github.com/docker/engine/blob/master/api/types/container/host_config.go#L345

[2020-01-21 09:06] anshupitlia opened #819 "Is there any support for using docker-compose commands?"

[2020-01-24 20:13] fsouza commented on #815
hey @elasti-liranm, there aren't any plans at the moment. Will reopen the issue. I apologize for the bot getting in your way, I was a out for a little bit.

[2020-02-04 15:35] chinajuanbob commented on #817
My bad, it is not provided by the API interface.
https://docs.docker.com/engine/api/v1.40/#operation/ServiceList

Still wondering how to get the service status easily since the status fields are all <nil> at my side.

[2020-02-06 22:11] fsouza commented on #819
Hi @anshupitlia, thanks for opening this. docker-compose is not a daemon and doesn't offer an API, therefore go-dockerclient can't really provide the same functionalities. You'd need to shell out to docker-compose (or use it as a Python library, if they support it)

[2020-02-06 22:11] #817 closed

[2020-02-06 22:11] #818 closed

[2020-02-07 06:57] #819 closed

[2020-02-20 10:50] m9rco opened #823 "client.BuildImage(docker.BuildImageOptions) ERROR"
Hi @fsouza ,

I try to build the mirror in this way

[code]

but I reminders

[code]

[code]

[2020-02-20 11:36] m9rco commented on #823
use `ContextDir` Mark as Resolved

[2020-02-20 11:36] #823 closed

[2020-02-28 12:35] dabooz commented on #818
Great thanks!

[2020-03-25 04:19] dependabot-preview[bot] opened #826 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/fsouza/update-logs/27405464).

[2020-03-25 05:12] #826 closed

[2020-04-02 02:25] linggao opened #827 "NewAuthConfigurationsFromDockerCfg returns empty auth for macOS with docker desktop version 2.2.0.4"
I upgraded docker on my MacBook to desktop version: 2.2.0.4 (43472). I unchecked "Securely store Docker logins to macOS keychain".  I did `docker login ...` on terminal window, my auth is saved in ~/.docker/config.json file after the command. However,  calling NewAuthConfigurationsFromDockerCfg returned empty auths.  It seems that the code is looking for ~/.docker/plaintext-passwords.json file ins

[2020-04-07 01:55] fsouza commented on #827
Hi @linggao, thanks for reporting and sorry for the delayed response. This is likely related to #677.

If you're using the osxkeychain with Docker for Mac, go-dockerclient isn't capable of loading credentials from the keychain. See some info in #677.

I'd be willing to take a PR that enables that if CGO is enabled and if building on MacOS, but we still need to be able to build on other OSes and on

[2020-04-07 12:32] dependabot-preview[bot] opened #828 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/fsouza/update-logs/29000833).

[2020-04-07 13:42] linggao commented on #827
@fsouza thanks for the response. I think the problem is that with docker desktop version 2.2.0.4 and above, there is a file called ~/.docker/plaintext-passwords.json shipped with it. After we uncheck "Securely store Docker logins in macOS keychain", the file is still there. After we did `docker login`, the credentials were saved to ~/.docker/config.json correctly. But the go-dockerclient code look

[2020-04-07 13:44] linggao commented on #827
What we are doing now to temporarily fix it is: `rm ~/.docker/plaintext-passwords.json`.

[2020-04-07 14:32] #828 closed

[2020-04-07 15:22] fsouza commented on #827
@linggao gotcha, yeah we can fix the logic to do whatever the `docker` cli does. I'll dig into this later this week.

[2020-04-09 21:42] #827 closed

[2020-04-14 14:10] linggao commented on #827
@fsouza thanks for fixing it. Could you please put it in a tagged version so that we can pull it into our dependencies. We cannot point to the master because we need to get a stable version to test with. Currently we are point to v1.6.4.

[2020-05-01 10:26] jlarriba opened #830 "Correctly identify LCOW"
Hi,

Docker 19.03 on Windows Server 2019 supports running Linux Containers On Windows (lcow) and Windows Containers side by side on a transparent way.

The information gathered by this library does not report correctly the OSType in client.Info() when running lcow on Windows Server 2019: it always reports "windows" even if the Docker image is Linux.

Is it possible to report the Linux images corre

[2020-05-01 14:09] fsouza commented on #830
Hi @jlarriba, thanks for opening this issue. I don't have access to a Windows server, unfortunately :(

What's the output of running `docker info` in that host? Thanks!

[2020-05-01 14:45] jlarriba commented on #830
Hi @fsouza,

here is the output:

[code]

I don´t think that this gives any information on the running container. However, when I run a Linux Nginx container in Windows, docker inspect returns:

[code]
I have realized that I could Inspect using your API, and check for the "Platform" of the container:

[code]
If it is a linux container, the Platform is "linux". If it is windows, the Platform is "wi

[2020-05-01 14:45] #830 closed

[2020-05-01 14:49] fsouza commented on #830
Nice, glad to help! 😁

Let me know if the Info struct is missing anything and we can fix it.

[2020-05-19 16:35] dependabot-preview[bot] opened #833 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/fsouza/update-logs/33764845).

[2020-05-19 18:30] #833 closed

[2020-05-30 11:26] mieubrisse commented on #155
I'm having the same problem as the original poster, but I'm using named volumes rather than bind mounts. I'm confused about why the value type of Volumes is a `struct{}`, and what I should be passing in as the value. Should that be the Volume object that comes back from CreateVolume?

[2020-06-13 07:41] eumme92 opened #835 "Node label update failed"
Hello, I tried to update the node:
<pre><code>opts := map[string]string{"available_mem_gb": strconv.Itoa(45)}
update := docker.UpdateNodeOptions{
		NodeSpec: swarm.NodeSpec{
			Annotations: swarm.Annotations{
				Labels: opts,
			},
		},
	}
return client.UpdateNode(id, update)
</code></pre>

but I got this error:
<pre><code>error=API error (400): invalid Role: ""
</pre></code>

[2020-06-29 15:39] zombiezen opened #838 "StartExec does not wait for process to finish if stdout/stderr not passed in"
Calling `StartExec` (even without `Detach: true`) will not wait until the process finishes if stdout/stderr are not passed in. IIUC the problem is this branch:

https://github.com/fsouza/go-dockerclient/blob/fa0591b4dbc9207fc5d5902b363651ab88a326b1/client.go#L793-L794

I believe the fix is to always use `ioutil.Discard` for stdout/stderr and synchronize on the streams closing.

[2020-06-29 22:09] #815 closed

[2020-07-13 12:02] fsouza commented on #835
Hi @eumme92, thanks for opening this issue. Do you have any logs from the server? I wonder if the API has changed and there's a new parameter or something like that.

[2020-07-29 18:47] fsouza commented on #838
@stale no 😬

[2020-08-14 15:12] zombiezen commented on #838
@fsouza Would you accept a PR to fix this?

[2020-08-14 15:17] fsouza commented on #838
Hi @zombiezen, I think using ioutil.Discard makes sense. PR is welcome!

[2020-09-03 10:08] anemptyair opened #843 "How to prune image with filter"
Hi guys:
I want to prune images like the command : docker image prune -a --force --filter "until=30m"
How should is set the filter, my code is below:
[code]
But it doesn't work , please give me a help, thank u.

[2020-09-04 03:10] fsouza commented on #843
Hi @anemptyair, thanks for opening this issue. Do you get any errors?

I'm not entirely familiar with that feature. What does the until filter do? (Just want to figure out how to test this locally).

[2020-09-04 03:21] anemptyair commented on #843
It is refer : https://docs.docker.com/engine/reference/commandline/image_prune/
The following removes images created more than 10 days (240h) ago:
e.g : docker image prune -a --force --filter "until=240h"

[2020-09-17 03:49] #835 closed

[2020-10-08 09:03] mrturkmencom opened #844 "executing docker commands inside a docker container"
Hi

I would like to consult and ask a question, I am using the library extensively in our project, and now we are seeking to use it from docker container, basically, all calls which are done inside a docker container should happen in host, I have seen some examples regarding to it such as this one ; https://itnext.io/docker-in-docker-521958d34efd
However, seems it is not possible by using this lib

[2020-10-08 20:28] mrturkmencom commented on #844
I have realized that the issue is not about library at all, when running docker command, it is important to provide socket volume with network options. Like given below;

[code]

For this reason, I am closing the issue here.

[2020-10-08 20:28] #844 closed

[2020-10-23 17:25] KIVagant opened #845 "Error: "unexpected end of JSON input" from CreateNetwork()"
Hello. I'm getting the error from `network.CreateNetwork()`:

I feel like it is produced by the line:
https://github.com/fsouza/go-dockerclient/blob/main/network.go#L181

[code]

**Package Version:**
[code]

It would be nice to have a debug mode to check the actual response.

[2020-10-30 14:30] fsouza commented on #845
@KIVagant can you share a reproducer? Are you sure the error is on the CresteNetwork call and not on the client instantiation? 🤔

[2020-10-30 14:32] fsouza commented on #845
About adding debug information, generally a library shouldn't touch stdout and stderr, what we need is a better error message with more context x)

[2020-10-30 16:20] kivagant-ba commented on #845
In my case the code is called by another tool, but the error appeared when I had an empty `~/.dockercfg`.

[2020-10-30 18:44] kivagant-ba commented on #845
I saw the error coming from `CreateNetwork`, so I don't know what to say about the examples.

[2020-10-30 20:35] fsouza commented on #845
How do you know the error was coming from `CreateNetwork`? Can you share the part of the code that calls CreateNetwork and the client creation?

[2020-10-30 21:16] kivagant-ba commented on #845
I was able to configure a debugger the code and now I can confirm your assumption.

This is a "stack trace" that produces the error:

[code]

[2020-10-30 21:19] kivagant-ba commented on #845
This is the new latest version of the code:

https://github.com/fsouza/go-dockerclient/blob/main/auth.go#L198

[code]

I guess a "if not empty" check could fix this.

[2020-10-30 22:08] fsouza commented on #845
Yeah, I know the origin of the error, this is what I shared above. It's just not in the path of CreateNetwork, so I was wondering if something was off 🤔

Can definitely improve the error message.

[2021-01-05 16:54] stokito commented on #483
This feature was just merged. Here is an usage example:

	filters := map[string][]string{
		"type":  {"container"},
		"event": {"create", "destroy", "start", "stop", "pull", "attach"},
	}
	opts := EventsOptions{Filters: filters}
	err = client.AddEventListenerWithOptions(opts, listener)

I'll recommend you at least filter our health check events because it's too many of them.
Please test it and rep

[2021-01-08 21:11] FLavalliere opened #859 "Docker Events Any Loss possible ?"
Hello,

I've using another project called 'registrator'. I've created my own version out of if with some more features.

[code]

Somehow it seems i might not receive all events from the docker deamon. Would you know any resaons ?

[2021-01-08 21:28] FLavalliere commented on #859
Funny enough i'm also doing something like this :

[code]

Somehow it only return my own containers though the docker daemon should have two... if i dun the docker ps with the same filter it gives me two entries not 1

Not too sure if it might be a docker bug itself? or something else with listening at events..

[2021-01-09 17:33] FLavalliere commented on #859
I've updated the code to  use AddListenerWithOptions and to only filter events that is of type

container with events of start,stop,kill, .... so this way it doesnt get into the 1000 lines limits... who knows :/

[2021-02-15 22:06] fsouza commented on #859
Hey @FLavalliere, apologies for neglecting this issue. To be honest, I don't know if it's possible or not to lose events. Can you reproduce the issue you were seeing using just the docker cli, or provide a reproducible code snippet that I could use to try and test?

[2021-02-21 19:41] adibsaad opened #861 "Tags delimited by colon, not @ ?"
Hi,

In this line https://github.com/fsouza/go-dockerclient/blob/91f5ca9986fa650a01849441d9a60e5e681bb908/image.go#L322 I noticed you are extracting the tag by splitting on the `@` character, but aren't tags separated by `:` e.g. `ubuntu:latest` or am I missing something here?

I found this issue when I was debugging another issue related to https://github.com/moby/moby/issues/42053

Thanks.

[2021-02-21 20:39] fsouza commented on #861
Hi @adibsaad, tags are delimited by `:` the digest is delimited by `@`. The Docker API overloads the "tag" parameter with both the tag and the digest: https://docs.docker.com/engine/api/v1.41/#operation/ImageCreate

[2021-02-24 09:46] thaJeztah commented on #861
Perhaps it would make sense to add an `PullImageOptions.All`  option (similar to [api/types/client.go#L252-L254](https://github.com/moby/moby/blob/46cdcd206c56172b95ba5c77b827a722dab426c5/api/types/client.go#L252-L254)

https://github.com/fsouza/go-dockerclient/blob/91f5ca9986fa650a01849441d9a60e5e681bb908/image.go#L293-L296

`client.PullImage()` could produce an error if neither the `All` option,

[2021-02-26 19:24] linggao opened #863 "FilteredListNetworks should take new filter format too"
Currently this FilteredListNetworks function takes option with format `map[string]map[string]bool`. However, the latest docker API uses `map[string][]string` format for filters: https://docs.docker.com/engine/api/v1.41/#tag/Network. This function returns an empty array for some "docker compatible" engine. So FilteredListNetworks function should support the latest API spec. We recommend that it sup

[2021-02-26 23:32] fsouza commented on #863
I agree we should keep supporting both format. Thanks for opening this issue!

[2021-04-27 09:03] krasoffski opened #871 "StartExec option context is not respected"
Hi,

Could please describe reason having Context within `StartExecOptions` which not respected by client?

Here is simple script which adds context with timeout for long execution command.
[code]

You can see that start exec option has context with timeout about 5 seconds.

But logs shows that command runs all 60 seconds.

[code]

And what is better way how to workaround this issue?

[2021-04-27 13:12] fsouza commented on #871
Hey @krasoffski, thanks for reporting. Looks like a bug to me, but need to confirm.

[2021-06-03 00:53] linggao commented on #863
Any idea when it will be supported?

[2021-06-03 13:03] #861 closed

[2021-06-03 13:11] fsouza commented on #863
Hi @linggao, thanks for the comment. No plans on my side, would need a PR for this. I imagine the preferred approach would be to add another method that takes the new filter format (and probably a dedicated struct, to support extending in the future).

[2021-06-03 13:15] adibsaad commented on #861
Thanks @fsouza , I'd forgotten about this.

[2021-06-03 13:18] fsouza commented on #861
@adibsaad me too lol Thank the bot haha

[2021-06-09 03:02] #859 closed

[2021-06-23 20:01] stokito commented on #772
Duplicate of #815

[2021-07-13 01:15] #863 closed

[2021-09-03 21:31] cameronelliott opened #877 "README guidance is correct???"
Hey, this looks like a lovingly maintained repo. Very nice.

But, the README says this:

Which is sort of a shocker, if you go review the official SDK:
https://github.com/docker/go-docker/

It has a total of seven commits, and the last was nearly four years ago.

Any thoughts if this still applies??

Thanks

[2021-09-03 21:39] fsouza commented on #877
Ohh I didn't even know that repo existed, Docker should get rid of it.

The SDK is located within their "mono" repo: https://pkg.go.dev/github.com/docker/docker/client

[2021-09-03 21:48] cameronelliott commented on #877
I think I am confused also by the renaming of Docker to Moby,
I guess the official client is actually here when browsing Github:
https://github.com/moby/moby/tree/master/client

[2021-09-04 00:21] fsouza commented on #877
Correct, they renamed the repository, but didn't change the import paths. So the code is at moby/moby, but you still import it as docker/docker.

[2021-09-04 01:10] #877 closed

[2021-09-04 19:16] illarion opened #878 "Dependency on docker is not compatible with freebsd/amd64"
This specific file is not able to compile:
https://github.com/moby/moby/blob/v20.10.8/pkg/system/mknod.go

[code]

[2021-09-07 22:45] fsouza commented on #878
🤔 need to track down how we're getting to that package or if docker is willing to fix it.

[2021-09-13 18:30] illarion commented on #878
The most frustrating part is that mknod.go is not used by go-dockerclient by design, but there is no way to exclude it

[2021-09-13 20:00] fsouza commented on #878
Yeah I looked into it a bit, it looks like we get it via `github.com/docker/docker/pkg/archive`.

I opened moby/moby#42849 to see if the folks over there would be open for a PR fixing it on their side. If not, we may need to vendor that package or something like that.

[2021-09-23 18:10] pavan541cs commented on #843
@fsouza Can I work on this issue ?

[2021-09-23 18:12] fsouza commented on #843
@pavan541cs go for it!

[2021-10-27 15:32] Polber opened #885 "Security scan shows vulnerabilities in dependencies"
The following dependencies show 1 or more severe security vulnerabilities:

* github.com/gorilla/websocket:1.4.0
* github.com/coreos/etcd:3.3.10+incompatible

These package versions should be removed or updated to the latest safe versions.

[2021-10-27 17:14] aidan-mundy opened #886 ""Host key verification failed" when building from private git repo"
When building a docker image using `BuildImage` and a `BuildImageOptions` containing a `Remote` value (instead of `ContextDir`), any git repo accessed over the git/ssh protocol returns `API error (500): error fetching: Host key verification failed`. Git repo access over the https protocol works fine for public repos, but private repos error with `API error (500): error fetching: fatal: could not r

[2021-10-30 09:52] eyJhb opened #887 "`authCheck` does not have context"
`authCheck` should have the ability to specify `context.Context`, so that the operation can be cancelled.

[2021-11-06 02:03] fsouza commented on #887
To avoid a breaking change we should probably introduce a new method, `AuthCheckWithContext` and deprecate `AuthCheck`.

[2021-12-14 10:53] buchdag opened #891 "New release"
Hi.

Do you plan to tag a new release with updated dependencies soon ?

I'd love to fix GitHub security alerts in [nginx-proxy/docker-gen](https://github.com/nginx-proxy/docker-gen) too 😄

[2021-12-14 12:57] fsouza commented on #891
I'll tag one today!

[2021-12-14 19:22] fsouza commented on #891
Just pushed 1.7.5, you should be good to go! 😁

[2021-12-14 19:22] #891 closed

[2021-12-14 19:29] buchdag commented on #891
Thank you !

[2022-01-07 20:30] fsouza commented on #885
This has been fixed.

[2022-01-28 10:46] fubarhouse opened #894 "Looking for an example of Attach."
Hey!

I'm looking for a complete example of this library in which a container is started with a command running in the container accepts `stdin` for a given command and detaches itself after a condition, timeout, when the command exits etc...

I found a great example of opening a shell session but I'm wondering how this could be perhaps simplified for this use-case.

I'm actually considering switc

[2022-02-02 15:48] fsouza commented on #894
Hm, iirc if you close stdin it should detach automatically. I can try writing an example some time next week. If you've tried writing it, can you share what you did? Just so I can start from there and add it to the docs. Thank you!

[2022-02-05 07:49] Moonshine-cc commented on #878
https://github.com/tendermint/starport/issues/2042

[2022-02-10 17:41] #878 closed

[2022-02-10 17:52] fsouza commented on #878
@Moonshine-cc I just pushed [go-dockerclient@v1.7.8](https://pkg.go.dev/github.com/fsouza/go-dockerclient@v1.7.8) and that should compile on freebsd now. I also added a job to cross compile in CI, it isn't as good as running the tests in freebsd, but at least we can guarantee no regression. Let me know if you need any info.

[2022-02-25 14:17] linggao commented on #885
@fsouza This issue has not been fixed yet. The go.sum file still show these 2 versions are referenced.
[code]

https://github.com/fsouza/go-dockerclient/blob/main/go.sum#L353
https://github.com/fsouza/go-dockerclient/blob/main/go.sum#L193

Could you please re-open this issue?

[2022-02-25 15:21] fsouza commented on #885
@linggao can you check the output of your `go mod graph` to confirm that you're getting those modules in your binary?

[2022-02-25 22:37] linggao commented on #885
@fsouza Here is the list of dependencies from `go mod graph`. I think the problem is from the version of containerd that go-dockerclient depends.
[code]

[code]

[2022-03-02 11:17] eyJhb commented on #887
Go away bot.

[2022-03-02 23:16] #886 closed

[2022-03-17 10:25] hmeine opened #905 "Error message may leak credentials used for mounting"
I opened https://github.com/hashicorp/nomad/issues/12296 because we observed that nomad logs would openly display credentials used for (cifs) mounts when the mounting failed (e.g. because of a mistyped server path) and was told that the error is from go-dockerclient, so that it might make sense to discuss the problem here as well.

When we're trying to mount a server share into a docker container

[2022-03-17 14:32] fsouza commented on #905
Hey @hmeine, thanks for opening this issue! I believe the error comes from the Docker daemon (sorry to forward it once again), it comes as the response body for the request we send. One way we could fix this in our side is by not including the response body in the error message in some cases, but arguably we don't want to omit all responses from the Docker API?

Using a file wouldn't really work w

[2022-03-19 11:04] DerekStrickland commented on #905
@fsouza We discussed it internally and thought of using a credentials file or a credentials helper. The question then becomes does a failure to still end up including the secrets in the error message, and I suspect even then it might/will.

We also discussed parsing the error message for these well known strings and then obfuscating the message before logging. That's pretty brittle, because what o

[2022-03-20 15:51] fsouza commented on #905
Yeah, the communication betwen go-dockerclient and the Docker daemon happens via HTTP over a tcp or unix socket (usually a unix socket). So all we have is the response body from the daemon.

Within the daemon, that error comes from here: https://github.com/moby/moby/blob/d5d5f258dfc95c46ed1e62953a754b7cf3edecd3/volume/local/local_unix.go#L145-L146, which if I'm not mistaken goes all the say to thi

[2022-03-24 15:46] DerekStrickland commented on #905
I was afraid the rabbit whole would keep going 😄

I supposed it can't hurt to raise an issue. @hmeine  what do you think?

[2022-04-16 13:21] fsouza commented on #887
Keep it

[2022-04-16 13:22] fsouza commented on #894
Keep it

[2022-04-16 13:22] fsouza commented on #885
Keep it

[2022-04-27 06:28] shabicheng opened #911 "RemoveEventListener cause connection leak"
Recently both our app and docker engine found fd count increase in a short time, after looking into the go-dockerclient source code and test, we find the AddEventListener and RemoveEventListener cause the problem: RemoveEventListener will not close connection, but after remove all listener and call AddEventListener again, the client will create a new connection.

After looking into the code, we fi

[2022-04-27 06:33] fsouza commented on #911
Thanks for the detailed issue and for providing a reproducer!

Yeah, if nothing is listening for the events we should probably close the connection. I'll take a closer look at this on Thursday.

[2022-05-02 15:37] hmeine commented on #905
May I ping you again, asking if my relatively simple idea of censoring *any* password at the location where the `password=..` string is also composed is not good?

[2022-05-02 16:28] fsouza commented on #905
Ops completely missed that, sorry. Would we filter that in all errors/methods?

[2022-05-09 06:16] anyone0034 opened #913 "How to get the value of NAMES field?"
Example command:
###  `$ docker ps`
CONTAINER ID   IMAGE                 COMMAND                  CREATED          STATUS          PORTS                                         `NAMES`
993ed1527eeb   portainer/portainer   "/portainer -H unix:…"   15 minutes ago   Up 12 minutes   0.0.0.0:21999->9000/tcp, :::21999->9000/tcp   `portainer_portainer_1`

I want to get NAMES,`ListImages` interface was no

[2022-05-09 16:18] #913 closed

[2022-05-09 17:02] fsouza commented on #913
Hi @anyone0034, I imagine you figured it out, but just for anyone that comes here later, the output of `docker ps` is powered by [ListContainers](https://pkg.go.dev/github.com/fsouza/go-dockerclient#Client.ListContainers), not ListImages.

[2022-05-12 15:12] shoeffner commented on #905
It would be possible to filter all errors/methods, but you will never know in which places users will have credentials, so that will become tricky. In this particular instance you (@fsouza) already pinned down the error handling in moby, so maybe it's good to patch it right there? They already resolve addr= options and replace them for the error messages:

https://github.com/moby/moby/blob/7c69b6d

[2022-05-13 01:34] fsouza commented on #905
Or do you have other ideas?

I think this is a reasonable approach!

[2022-05-20 20:01] xruins opened #919 "Missing some fields to support Stats API on Docker host uses cgroup2"
Docker Engine 20.10.0+ supports cgroup2 and uses it by default.

(cf. https://docs.docker.com/engine/release-notes/#20100 )

The output of Docker Stats API varies depending on the version of cgroup used by Docker Engine.
Especially, `Stats.MemoryStats.Stats` for cgroup2 host much differ from the one of cgroup.

(definition for cgroup v1)
https://github.com/moby/moby/blob/548614694305d10e25665b4a7d

[2022-05-24 21:28] kevintoormimik opened #920 "What would be the best way to specify version of docker api, so that go-dockerclient can adjust requests and response expectations accordingly?"
### Context

I am creating a shim docker API service i.e., basically the service pretends to be docker and responds like docker. Requests are partially forwarded to docker engine and remainder (container or image related) are forwarded to a different container runtime.

The piece of software using this shim service uses `go-dockerclient` library.

### Solution tried

I tried to return the version

[2022-05-28 16:16] eyJhb commented on #784
It seems to work fine now @fsouza , I think it can be removed from the readme.md now :)

[2022-05-28 16:24] fsouza commented on #784
Thanks for the update!

[2022-06-01 16:28] fsouza commented on #920
Hmm, I think this should be an issue/feature-request in anax then.

In that case, go-dockerclient doesn't use versioned URLs, which means the latest supported by the remote Docker engine.

[2022-06-01 17:25] kevintoormimik commented on #920
Understood. Thank you

[2022-06-01 17:25] #920 closed

[2022-06-02 17:20] #919 closed

[2022-06-08 20:42] rickydj opened #924 "Error trying to run ddev start after configure drupal 9 on windows"
Hi.

Today I have a weird problem working with this plugin, i am using ddev, and it has a dependency with this library, when i try to run ddev start, it hangs with this error message

<code>
panic: interface conversion: *winio.win32Pipe is not interface { CloseWrite() error }: missing method CloseWrite

goroutine 225 [running]:
github.com/fsouza/go-dockerclient.(*Client).hijack.func1.2()
        C

[2022-06-08 22:03] fsouza commented on #924
Hey, I'm not familiar with ddev, but from a quick reading, it seems that ddev requires Docker running on the WSL side of things? The fact that this is an error trying to use a Windows pipe makes me think that maybe you're trying to connect to the wrong Docker server? I'm unfortunately also not familiar with Windows / WSL though, so maybe what I'm saying doesn't make much sense.

Any chance you cou

[2022-06-20 23:30] kminehart commented on #114
I think this may still be happening.

[code]

In github.com/grafana/scribe, I have this function:

https://github.com/grafana/scribe/blob/fix-docker-mode/plumbing/pipeline/clients/docker/container.go#L63

and I'm expecting `

[2022-06-26 23:47] fsouza commented on #114
@kminehart hey, sorry for the delayed response. Do you think we'd be able to get a minimal reproducer? If not, I can dig into the code you shared and see if we can figure out exactly what's going on.

[2022-06-28 19:24] kminehart commented on #114
I can try to get one today!

[2022-06-28 21:47] kminehart commented on #114
@fsouza Much appreciated, here's a link to an example I able to reproduce it with.

https://gist.github.com/kminehart/e50ae98557adc139ba9648077271367b

[2022-07-21 20:57] alex-litvak opened #927 "How to run a docker container with GPU support?"
We're using [CreateContainer](https://github.com/fsouza/go-dockerclient/blob/003dd2da61e47c5a229f4f1fdd20d37ef6b567fa/container_create.go#L33) function to run a docker container. I need to pass the --gpu argument in order to enable GPU support:
`docker run --gpus all ...`

How can I pass the --gpus option programmatically? Thanks in advance!

[2022-07-26 07:51] yyuuttaaoo commented on #911
Is there a plan to fix this issue as there is an official alternative now?

[2022-08-03 00:34] fsouza commented on #911
Yeah I plan to get to it before the end of the Summer, just been away for a while.

[2022-08-18 17:26] fsouza commented on #927
Hmm to be honest I'm not totally sure. I think gpus are represented as device requests in the Docker API? Meaning you'd need to set `DeviceRequests` in your [`HostConfig`](https://pkg.go.dev/github.com/fsouza/go-dockerclient#HostConfig). Something like (untested):

[code]

(you can also set `Count` to `-1` to make all gpus available)

[2022-08-19 03:33] fsouza commented on #911
@yyuuttaaoo @shabicheng can you try #928?

[2022-08-24 21:19] #927 closed

[2022-08-25 09:30] hmeine commented on #905
For public record: This issue [has been fixed upstream in moby](https://github.com/moby/moby/pull/43597); I don't know if go-dockerclient has already benefitted from that.

[2022-08-25 11:44] fsouza commented on #905
Thanks for the update! I believe that fox is server side, right? So go-dockerclient should get it "for free" (users need to upgrade the docker daemon though).

[2022-08-25 21:42] fsouza commented on #905
Yeah confirmed it's a matter of upgrading Docker itself and there's no action needed on the client.

@hmeine thank you very much for pushing this through!

[2022-08-25 21:42] #905 closed

[2022-08-31 16:53] yyuuttaaoo commented on #911
After testing, this patch does not work. So I think the issue should be reopened.
First, let me fix a small bug in the test program. $(pidof docker) should be $(pidof dockerd).
Now we can use the test program to test.
We can see, the fd number is still climbing. Why? There are 2 reasons:
1. If there is no new event for some reason, the json.Decode will block forever.
2. res.Body.Close actually han

[2022-08-31 16:57] fsouza commented on #911
@yyuuttaaoo thank you for detailed explanation! I can definitely work on that patch, but this week is a bit busy. I can come around some time next week and look into that patch and make sure it's ready for prime time!

[2022-10-04 10:12] derit commented on #493
@subicura add you must add validation for len in reader
[code]

[2022-10-14 03:24] #887 closed

[2022-10-16 05:29] flowchartsman commented on #838
If this fix is acceptable upstream, I can port it here, too. I’ll issue a PR shortly. Just really needed it in doclertest first.

[2022-10-16 12:20] fsouza commented on #838
Sounds good! That change looks good to me

[2022-10-16 20:15] flowchartsman commented on #838
It seems as if the fix for this is a bit more difficult than with its consequences in Dockertest. If you look at my tests, the one involving a sleep fails.  I believe this is because the `CreateExec` step explicitly specifies that no stdin/stdout will be connected, so the `Detatch: false` is effectively ignored for `StartExec`. Still verifying this, but I do note that if I change `AttachStdout: fa

[2022-10-30 01:53] fsouza commented on #838
Thanks for the detailed analysis and apologies for the delayed response. I'm leaning towards 3, but I'm also curious how other SDKs are solving this. Do you know?

I may take a loot at it tomorrow to see if we can get some "inspiration" elsewhere :)

[2022-11-02 07:31] #924 closed